<div class="container">
   <div class="right_section">
      <div class="container-content">
         <div class="content_gap">
         <div class="row">
            <div class="col-sm-4">
               <p>Product Varients</p>
            </div>
            <div class="col-sm-6">
               <form>
                  <input type="radio" name="radiobutton"> no varients on products<br>
                  <input type="radio" name="radiobutton"> Products can have several attributes,defining varients.<br>
               </form>
            </div>
         </div><br>
         <div class="row">
            <div class="col-sm-4">
               <p>BarCode</p>
            </div>
            <div class="col-sm-6">
               <form>
                  <input type="radio" name="radiobutton"> use BarCode for products<br>
                  <input type="radio" name="radiobutton"> No need to use BarCode<br>
               </form>
            </div>
         </div><br>
         <div class="row">
            <div class="col-sm-4">
               <p>ItemCode</p>
            </div>
            <div class="col-sm-6">
               <form>
                  <input type="radio" name="radiobutton"> Use ItemCode for Products<br>
                  <input type="radio" name="radiobutton"> No Need to use IteCode<br>
               </form>
            </div>
         </div><br>
         <div class="row">
            <div class="col-sm-4">
               <p>HSN Code</p>
            </div>
            <div class="col-sm-6">
               <form>
                  <input type="radio" name="radiobutton"> Use HSN code for products<br>
                  <input type="radio" name="radiobutton"> No need to use HSN Code<br>
               </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
