<app-header></app-header>
<div class="Main_Section">
   <!-- page section -->
   <div class="Page_Section">
      <div class="container-fluid">
         <!-- page Identity -->
         <div class="Page_Identity">
            <div class="Page_Name">
               <h5>Machines</h5>
            </div>
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">CRM</li>
                  <li class="arrow">>></li>
                  <li class="LinkName">Machines</li>
                  <li class="arrow">>></li>
                  <li>Machines List</li>
               </ul>
            </div>
         </div>
         <!-- Create and search section -->
         <div class="row header_part">
            <div class="col-sm-6">
               <button class="Create_Button" mat-button [routerLink]="['/crm_machine_create']"> + Create </button>
            </div>
            <div class="col-sm-6">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
            </div>
         </div>
         <!-- Table Section -->
         <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th>S.no</th>
                     <th>Customer Name</th>
                     <th>Machine Type</th>
                     <th>Machine Details</th>
                     <th>Model</th>
                     <th>Created By</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <span class="S_no"> 1 </span>
                     </td>
                     <td>
                        <span class="Style_3"> customer name </span>
                     </td>
                     <td>
                        <span class="Style_3">Type-11
                        </span>
                     </td>
                     <td>
                        <span class="Style_2">VMC
                           <h6 class="Style_3">ID2485</h6>
                           
                        </span>
                     </td>
                     <td>
                        <span class="Style_3">model</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin Name</span>
                     </td>
                     <td>
                        <button mat-raised-button color="primary"> Action </button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 2 </span>
                     </td>
                     <td>
                        <span class="Style_3"> customer name </span>
                     </td>
                     <td>
                        <span class="Style_3">Type-11
                        </span>
                     </td>
                     <td>
                        <span class="Style_2">VMC
                           <h6 class="Style_3">ID2485</h6>
                           
                        </span>
                     </td>
                     <td>
                        <span class="Style_3">model</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin Name</span>
                     </td>
                     <td>
                        <button mat-raised-button color="primary"> Action </button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 3 </span>
                     </td>
                     <td>
                        <span class="Style_3"> customer name </span>
                     </td>
                     <td>
                        <span class="Style_3">Type-11
                        </span>
                     </td>
                     <td>
                        <span class="Style_2">VMC
                           <h6 class="Style_3">ID2485</h6>
                           
                        </span>
                     </td>
                     <td>
                        <span class="Style_3">model</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin Name</span>
                     </td>
                     <td>
                        <button mat-raised-button color="primary"> Action </button>
                     </td>
                     </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 4 </span>
                     </td>
                     <td>
                        <span class="Style_3"> customer name </span>
                     </td>
                     <td>
                        <span class="Style_3">Type-11
                        </span>
                     </td>
                     <td>
                        <span class="Style_2">VMC
                           <h6 class="Style_3">ID2485</h6>
                           
                        </span>
                     </td>
                     <td>
                        <span class="Style_3">model</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin Name</span>
                     </td>
                     <td>
                        <button mat-raised-button color="primary"> Action </button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 5 </span>
                     </td>
                     <td>
                        <span class="Style_3"> customer name </span>
                     </td>
                     <td>
                        <span class="Style_3">Type-11
                        </span>
                     </td>
                     <td>
                        <span class="Style_2">VMC
                           <h6 class="Style_3">ID2485</h6>
                           
                        </span>
                     </td>
                     <td>
                        <span class="Style_3">model</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin Name</span>
                     </td>
                     <td>
                        <button mat-raised-button color="primary"> Action </button>
                     </td>
                  </tr>
                     <tr>
                     <td>
                        <span class="S_no"> 6 </span>
                     </td>
                     <td>
                        <span class="Style_3"> customer name </span>
                     </td>
                     <td>
                        <span class="Style_3">Type-11
                        </span>
                     </td>
                     <td>
                        <span class="Style_2">VMC
                           <h6 class="Style_3">ID2485</h6>
                           
                        </span>
                     </td>
                     <td>
                        <span class="Style_3">model</span>
                     </td>
                     <td>
                        <span class="Style_3">Admin Name</span>
                     </td>
                     <td>
                        <button mat-raised-button color="primary"> Action </button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>