.Table_Section table {
   border: 1px solid lightgray;
   width: 100%;
   box-shadow: 2px 2px 3px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}
.Table_Section table thead {
   line-height: 40px;
   text-align: center;
   background-color: #ffffff;
   color: #4d6a7a;
   font-size: 14px;
   letter-spacing: 0.5px;
}
.Table_Section table thead th{
   font-weight: 800;
}
.Table_Section table tbody {
   border: 1px solid #e8e8e8;
   background-color: #ffffff;
}
.Table_Section table tbody tr {
   line-height: 42px;
   text-align: center;
   align-items: center;
   border-bottom: 1px solid #eaeaea;
}
.Table_Section table tbody tr:nth-child(odd) {
   background-color: #f1f1f185;
}
.Table_Section table tbody tr:hover {
   background-color: #4f6a7a40;
}
.Table_Section table tbody tr td .S_no {
   font-size: 14px;
   color: #4d6a7a;
}
.Table_Section table tbody tr td .Style_1 {
   font-size: 14px;
   color: rgba(77, 106, 122, 0.84);
   font-weight: 600;
   cursor: pointer;
}
.Table_Section table tbody tr td .Action_Section{
   color: #ffffff;
   height: 35px;
   width: 35px;
   line-height: 30px;
   display: flex;
   border-radius: 5px;
   cursor: pointer;
   float: right;
   margin-right: 10px;
}
.Table_Section table tbody tr td .Action_Section i {
   width: 100%;
   line-height: 35px;
}
.Table_Section table tfoot{
   background-color: #ffffff;
}
.Table_Section table tfoot .Table_Footer_Section {
   display: flex;
   align-items: center;
   width: 100%;
}
.Table_Footer_Section .Footer_Left {
   padding: 0px 10px;
   width: 50%;
}
.Table_Footer_Section .Footer_Left p {
   margin: 0px;
   color: #4c6a7a;
   font-weight: 400;
   font-size: 14px;
}
.Table_Footer_Section .Footer_Left p span {
   font-weight: 700;
}
.Table_Footer_Section .Footer_Right {
   width: 50%;
   float: right;
}
.Table_Footer_Section .Footer_Right .Pagination {
   padding: 0px;
   line-height: 45px;
}
.Table_Footer_Section .Footer_Right .Pagination ul {
   list-style-type: none;
   padding: 0px;
   display: flex;
   margin: 0px;
   float: right;
   margin-right: 10px;
   align-items: center;
}
.Table_Footer_Section .Footer_Right .Pagination ul li{
   margin-right: 10px;
}
.Table_Footer_Section .Footer_Right .Pagination ul li.previous,
.Table_Footer_Section .Footer_Right .Pagination ul li.next{
   font-size: 14px;
   font-weight: 500;
   color: #4ab65f;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.Table_Footer_Section .Footer_Right .Pagination ul li.previous span.arrow,
.Table_Footer_Section .Footer_Right .Pagination ul li.next span.arrow{
   display: inline-flex;
   letter-spacing: -2px;
   font-size: 10px;
   margin-left: 3px;
   margin-right: 4px;
   transform: scale(1, 1.5);
   margin-top: 0px;
}
.Table_Footer_Section .Footer_Right .Pagination ul li.pages {
   height: 27px;
   width: 27px;
   text-align: center;
   border-radius: 30px;
   /* border: 1px solid #d4d4d4; */
   line-height: 24px;
   cursor: pointer;
   background-color: rgba(77, 106, 122, 0.13);
}
.Table_Footer_Section .Footer_Right .Pagination ul li.pages span {
   font-size: 14px;
   font-weight: 600;
   color: #4c6a7a;
}
.Table_Footer_Section .Footer_Right .Pagination ul li.pages:hover {
   background-color: rgba(77, 106, 122, 0.23);
}
.Table_Footer_Section .Footer_Right .Pagination ul li.pages.active {
   background-color: #4ab65f;
   border-color: #4ab65f;
}
.Table_Footer_Section .Footer_Right .Pagination ul li.pages.active span {
   color: #ffffff;
}
.Table_Footer_Section .Footer_Right .Pagination ul li.dots {
   height: 24px;
   width: 12px;
   text-align: center;
   border-radius: 30px;
   line-height: 20px;
   color: #51657075;
   margin-left: -3px;
}


/* ----------- Create and Search Section ---------- */
.header_part{
   margin-bottom: 15px;
}
.Create_Button{
   letter-spacing: 0.5px;
   font-weight: 600;
   font-size: 14px;
   color: #4ab65f;
}

/* ---------- Search Section ----------- */
.Search_Section{
   position: relative;
   background-color: #ffffff;
   height: 36px;
   box-shadow: 1px 2px 4px 0px rgba(0,0,0,.2);
}
.Search_Section input{
   width: 100%;
   border-radius: 0;
   border: none;
   background-color: transparent;
   padding: 10px;
   height: 36px;
   color: #4f6a7a;
   font-weight: 500;
   outline: none;
}
.Search_Section input::placeholder{
   color:#cccccc; 
   font-weight:400;
}
.Search_Section i{
   position: absolute;
   right: 0px;
   padding: 7px 5px;
   color: #4ab65f;
   font-weight: 600;
   cursor: pointer;
}