<!--  Header Part -->
<!-- Create and search Section -->
<div class="row header_part">
   <div class="col-sm-6">
      <button class="Create_Button" mat-button (click)="CreateAttendanceLog()"> + Create </button>
   </div>
   <div class="col-sm-6">
      <div class="Search_Section">
         <input type="text" placeholder="Search.." name="search">
         <i class="material-icons">search</i>
      </div>
   </div>
</div>
<!-- Table Section -->
<div class="Table_Section">
   <table>
      <thead>
         <tr>
         <th>S.no</th>
         <th>Employee Name</th>
         <th>Code</th>
         <th>Date</th>
         <th>Total Hours</th>
         <th>Attendance Code</th>
         <th>Action</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <span class="S_no"> 1 </span>
            </td>
            <td>
               <span class="Style_1">Employee Name</span>
            </td>
            <td>
               <span class="Style_1"> code</span>
            </td>
            <td>
               <span class="Style_1">25.08.17</span>
            </td>
            <td>
               <span class="Style_1">3hours</span>
            </td>
            <td>
               <span class="Style_1">Attendance Code</span>
            </td>
            <td>
               <button (click)="ViewAttendanceLog()" class="Table_Action_mini Bg_Info" mat-mini-fab color="primary">
                  <i class="material-icons">zoom_in</i>
               </button>
               <button (click)="CreateAttendanceLog()" class="Table_Action_mini Bg_warning" mat-mini-fab color="primary">
                  <i class="material-icons">edit</i>
               </button>
               <button (click)=" DeleteAdvance()" class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary">
                  <i class="material-icons">delete_forever</i>
               </button>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 2 </span>
            </td>
            <td>
               <span class="Style_1">Employee Name</span>
            </td>
            <td>
               <span class="Style_1"> code</span>
            </td>
            <td>
               <span class="Style_1">25.08.17</span>
            </td>
            <td>
               <span class="Style_1">3hours</span>
            </td>
            <td>
               <span class="Style_1">Attendance Code</span>
            </td>
            <td>
               <button (click)="ViewAttendanceLog()" class="Table_Action_mini Bg_Info" mat-mini-fab color="primary">
                  <i class="material-icons">zoom_in</i>
               </button>
               <button (click)="CreateAttendanceLog()" class="Table_Action_mini Bg_warning" mat-mini-fab color="primary">
                  <i class="material-icons">edit</i>
               </button>
               <button (click)=" DeleteAdvance()" class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary">
                  <i class="material-icons">delete_forever</i>
               </button>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 3 </span>
            </td>
            <td>
               <span class="Style_1">Employee Name</span>
            </td>
            <td>
               <span class="Style_1"> code</span>
            </td>
            <td>
               <span class="Style_1">25.08.17</span>
            </td>
            <td>
               <span class="Style_1">3hours</span>
            </td>
            <td>
               <span class="Style_1">Attendance Code</span>
            </td>
            <td>
               <button (click)="ViewAttendanceLog()" class="Table_Action_mini Bg_Info" mat-mini-fab color="primary">
                  <i class="material-icons">zoom_in</i>
               </button>
               <button (click)="CreateAttendanceLog()" class="Table_Action_mini Bg_warning" mat-mini-fab color="primary">
                  <i class="material-icons">edit</i>
               </button>
               <button (click)=" DeleteAdvance()" class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary">
                  <i class="material-icons">delete_forever</i>
               </button>
            </td>
         </tr>
         <tr>
            <td>
               <span class="S_no"> 4 </span>
            </td>
            <td>
               <span class="Style_1">Employee Name</span>
            </td>
            <td>
               <span class="Style_1"> code</span>
            </td>
            <td>
               <span class="Style_1">25.08.17</span>
            </td>
            <td>
               <span class="Style_1">3hours</span>
            </td>
            <td>
               <span class="Style_1">Attendance Code</span>
            </td>
            <td>
               <button (click)="ViewAttendanceLog()" class="Table_Action_mini Bg_Info" mat-mini-fab color="primary">
                  <i class="material-icons">zoom_in</i>
               </button>
               <button (click)="CreateAttendanceLog()" class="Table_Action_mini Bg_warning" mat-mini-fab color="primary">
                  <i class="material-icons">edit</i>
               </button>
               <button (click)=" DeleteAdvance()" class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary">
                  <i class="material-icons">delete_forever</i>
               </button>
            </td>
         </tr>
      </tbody>
   </table>
</div>