
/* Button Color Overwrite */
.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
   background-color: #49b660;
   color: #ffffff;
}
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
   color: #49b660;
}
.mat-button.mat-primary .mat-button-focus-overlay, .mat-icon-button.mat-primary .mat-button-focus-overlay, .mat-stroked-button.mat-primary .mat-button-focus-overlay{
   background-color: rgba(74, 182, 95, 0.1);
}

/* Table Action Button Style Change */
.Table_Action_mini.mat-mini-fab{
   height: 35px;
   width: 35px;
   margin-right: 7px;
}
.Table_Action_mini.mat-mini-fab .mat-button-wrapper{
   padding: 5px 0px;
}

/* Check Box Background Color Overwrite */
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
   background-color: #4ab65f;
}
.MatCheckboxStyle_1 .mat-checkbox-label{
   color: #4d6a7a;
   font-size: 14px;
   letter-spacing: 0.5px;
   font-weight: 800;
}


.mat-calendar-body-selected{
   background-color: #4ab65f !important;
}

.mat-datepicker-content-touch .mat-calendar {
   width: 370px !important;
   height: 425px !important;
}

.cdk-overlay-container{
   z-index: 1052 !important;
}

.mat-calendar-body-disabled {
   cursor: default;
   pointer-events: none;
}

.DisableDate .mat-calendar-period-button.mat-button{
   pointer-events: none;
   cursor: not-allowed;
   opacity: 0.65;
   filter: alpha(opacity=65);
   -webkit-box-shadow: none;
   box-shadow: none;
}