/* Dashboard Calender Style Overwrite */
.Custom_Calender_1 .ui-calendar{
    width: 100%;
    margin-top: 0px;
}
.Custom_Calender_1 .ui-calendar .ui-widget-content{
    border: 1px solid rgb(235, 237, 239) !important;
}
.Custom_Calender_1 .ui-datepicker.ui-datepicker-inline{
    width:100%;
}
.Custom_Calender_1 .ui-datepicker.ui-widget .ui-datepicker-calendar td{
    border-bottom: none;
}
.Custom_Calender_1 .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight{
    background-color: #06a92c33;
    color: #49b660;
    font-weight: 700;
}
.Custom_Calender_1 .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active{
    background-color:#49b660;
    color: #ffffff;
}
.Custom_Calender_1 .ui-datepicker .ui-datepicker-calendar td:not(.ui-state-disabled) a:hover{
    background: #49b6607a;
    color: #ffffff;
}
.Custom_Calender_1 .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active:hover{
    background-color:#49b660;
    color: #ffffff;
}
.Custom_Calender_1  .ui-datepicker .ui-datepicker-header{
    background: #ffffff;
    padding: 7px 0px;
    border: none;
}
.Custom_Calender_1 .ui-datepicker .ui-datepicker-prev, 
.Custom_Calender_1 .ui-datepicker .ui-datepicker-next{
    top: 3px;
    height: 35px;
    width: 35px;
}