/* Dashboard Calender Style Overwrite */
.Custom_Calender_1 .ui-calendar{
    width: 100%;
    margin-top: 0px;
}
.Custom_Calender_1 .ui-calendar .ui-widget-content{
    border: 1px solid rgb(235, 237, 239) !important;
}
.Custom_Calender_1 .ui-datepicker.ui-datepicker-inline{
    width:100%;
}
.Custom_Calender_1 .ui-datepicker.ui-widget .ui-datepicker-calendar td{
    border-bottom: none;
}
.Custom_Calender_1 .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight{
    background-color: #06a92c33;
    color: #49b660;
    font-weight: 700;
}
.Custom_Calender_1 .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active{
    background-color:#49b660;
    color: #ffffff;
}
.Custom_Calender_1 .ui-datepicker .ui-datepicker-calendar td:not(.ui-state-disabled) a:hover{
    background: #49b6607a;
    color: #ffffff;
}
.Custom_Calender_1 .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active:hover{
    background-color:#49b660;
    color: #ffffff;
}
.Custom_Calender_1  .ui-datepicker .ui-datepicker-header{
    background: #ffffff;
    padding: 7px 0px;
    border: none;
}
.Custom_Calender_1 .ui-datepicker .ui-datepicker-prev, 
.Custom_Calender_1 .ui-datepicker .ui-datepicker-next{
    top: 3px;
    height: 35px;
    width: 35px;
}


.Custom_Calender_2.ui-calendar{
   width: 100% !important;
}
.Custom_Calender_2.ui-calendar input{
   width: 100% !important;
   padding: 4px 10px;
   height: 37px;
   border: 1px solid #e8e8e8 !important;;
   color: rgb(79, 107, 123);
   font-weight: 400;
   font-size: 14px;
   letter-spacing: 0.3px;
}

.Custom_Calender_2 .ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.Custom_Calender_2 .ui-datepicker .ui-datepicker-header .ui-datepicker-next{
   display: none
}
.Custom_Calender_2 .ui-datepicker .ui-datepicker-header .ui-datepicker-title{
   text-decoration: underline;
   font-weight: 600
}
.Custom_Calender_2 .ui-datepicker-inline{
   border: none !important;
   box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}
.Custom_Calender_2 .ui-datepicker table td.ui-datepicker-today.ui-state-active a{
   color: #ffffff !important;
   background-color: #49b660 !important;
}
.Custom_Calender_2 .ui-datepicker table td > a.ui-state-active{
   background-color: #49b660 !important;
}
