   .Page_Section{
      margin-top:100px;
   }
 /* --------------   Page Identity Section  ----------------- */
   .Page_Identity{
      display: flex;
      height:40px;
      width: 100%;
      margin-bottom: 5px;
   }
   .Page_Identity .Page_Name{
      width:50%;
   }
   .Page_Identity .Page_Name h5{
      color: #4f6a7a;
      line-height: 35px;
      font-size: 18px;
      margin: 0px;
      font-weight: 700;
   }
   .Page_Identity .Page_Track{
      width:50%;
      line-height: 35px;
   }
   .Page_Identity .Page_Track ul{
      display: flex;
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      align-items: center;
      float: right;
   }
   .Page_Identity .Page_Track ul li {
      color: #a5adb1;
      font-size: 13px;
      font-weight: 500;
      margin-left: 5px;
   }
   .Page_Identity .Page_Track ul li.arrow{
      letter-spacing: -4px;
      font-size: 19px;
      transform: scale(.6, 1);
   }
   .Page_Identity .Page_Track ul li.arrowGreen{
      letter-spacing: -4px;
      font-size: 19px;
      transform: scale(.6, 1);
      color: #4ab65f;
   }
   .Page_Identity .Page_Track ul li.HeaderName{
      color: #4ab65f;
   }
   .Page_Identity .Page_Track ul li.LinkName{
      color: #4ab65f;
      cursor: pointer;
   }


   .Page_Section .Left_Section{
      background-color: #fff;
      padding: 35px 20px;
      box-shadow: 1px 1px 10px #d4d4d4;
   }
   .Left_Section .PictureSection{
      margin-bottom: 25px;
   }
   .Left_Section .PictureSection img{
      width: 150px;
      height: 150px;
      margin: 15px;
      margin-bottom: 20px;
      box-shadow: 0 1px 5px 1px rgba(0,0,0,.2);
   }






   /* left Section */
   .change_button{
      background-color:#08a92c;
      border:1px solid #08a92c;
      color:#fff;
      outline:none;
      
   }
   /* Form Style */
   .Form_Input{
      margin-bottom: 25px;
   }
   .Form_Input label {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 700;
      color: #4e6a7a;
   }
   .Form_Input input {
      padding: 4px 10px;
      width: 100%;
      height: 37px;
      outline: none;
      border: 1px solid #e8e8e8;
      color: rgb(79, 107, 123);
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.3px;
   }
   .Form_Input input:disabled {
      background-color: #e6e6e6;
   }

   .Form_TextArea label {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 700;
      color: #4e6a7a;
   }
   .Form_TextArea textarea {
      padding: 4px 10px;
      width: 100%;
      outline: none;
      margin-bottom: 25px;
      border: 1px solid #e8e8e8;
      color: rgb(79, 107, 123);
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.3px;
   }
   .Form_Input input:-moz-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Input input::-moz-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Input input::-webkit-input-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Input input:-ms-input-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Select label {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 700;
      color: #4e6a7a;
   }
   .Form_Select select{
      width: 100%;
      height: 37px;
      outline: none;
      padding: 0px 10px;
      margin-bottom: 20px;
      border: 1px solid #e8e8e8;
      color: rgb(79, 107, 123);
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.3px;
   }
   .Form_Select select option{
      color: rgb(79, 107, 123);
      width: 100%;
   }
   .error{
      margin: 0px;
      color: rgb(221, 10, 10);
      font-weight: 500;
      text-align: left;
      font-size: 13px;
      word-spacing: 1px;
      letter-spacing: 0.4px;
   }
   .Form_Input.Form_Err input{
     border-color: rgb(221, 10, 10);
   }
   .Form_Input.Form_Success input{
     border-color: #4ab65f;
   }
   .Form_Select.Form_Err select{
      border-color: rgb(221, 10, 10);
   }
   .Form_Select.Form_Success select{
      border-color: #4ab65f;
   }



   .BoxStyle_1{
      background-color: #fff;
      padding: 10px 20px;
      box-shadow: 1px 1px 10px #d4d4d4;
      margin-bottom: 20px;
   }
   .BoxStyle_1 .BoxHeader{
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 18px;
      color: #4f6a7a;
      letter-spacing: 0.3px;
   }

   .FormSubmitSection{
      position: fixed;
      bottom: 0px;
      width: 100%;
      background: #00000038;
      padding: 5px 25px;
      margin-left: -15px;
   }
   