<div class="Page_Section">
        <div class="container-fluid">
           <div class="Page_Identity">
           <div class="Page_Name">
                   <h5>PRODUCT SETTINGS</h5>
           </div>
           <div class="Page_Track">
                        <ul >
                          <li class="HeaderName">Settings</li>
                          <li class="arrow">>></li>
                          <li>Product Settings</li>
                          </ul>
                        </div>
                  </div>
           <div class="Page_Content Product_Settings">
              <div class="Main_Section">
                 <div class="Left_Section">
                    <ul class="Tabs">
                       <li class="Tab" [ngClass]="{'active':Active_Tab === 'Configuration'}" (click)="Active_Tab_Change('Configuration')">
                          <span class="Tab_Content">Configuration</span>
                       </li>
                   </ul>
                 </div>
                 <div class="Right_Section">
                    <div *ngIf="Active_Tab === 'Configuration'">
                            <app-configuration-product-settings></app-configuration-product-settings>
                    </div>
                </div>
              </div>
           </div>
        </div>
     </div>
     
