
<app-header></app-header>
<div class="Page_Section">
   <div class="container-fluid">
    <div class="Page_Identity">
        <div class="Page_Name">
           <h5>HRMS</h5>
        </div>
        <div class="Page_Track">
           <ul >
             <li class="HeaderName">HRMS</li>
             <li class="arrow">>></li>
             <li>DashBoard</li>
           </ul>
        </div>
     </div>
      <div class="Page_Content Hrms">
         <div class="Main_Section">
            <div class="Left_Section">
               <ul class="Tabs">
                  <li class="Tab" [ngClass]="{'active':Active_Tab === 'Dashboard'}" (click)="Active_Tab_Change('Dashboard')"><span class="Tab_Content">DashBoard</span></li>     
                  <li class="Tab" [ngClass]="{'active':Active_Tab === 'Leaves'}" (click)="Active_Tab_Change('Leaves')"><span class="Tab_Content">Leaves</span></li>  
                  <li class="Tab" [ngClass]="{'active':Active_Tab === 'On_Duty'}" (click)="Active_Tab_Change('On_Duty')"><span class="Tab_Content">On Duty</span></li>  
                  <li class="Tab" [ngClass]="{'active':Active_Tab === 'Permissions'}" (click)="Active_Tab_Change('Permissions')"><span class="Tab_Content">Permissions</span></li>   
                  <li class="Tab" [ngClass]="{'active':Active_Tab === 'Advance'}" (click)="Active_Tab_Change('Advance')"><span class="Tab_Content">Advance</span></li>      
               </ul>
            </div>
            <div class="Right_Section">
               <div *ngIf="Active_Tab === 'Dashboard'">
                    <app-dashboard-hrms></app-dashboard-hrms>

               </div> 
               <div *ngIf="Active_Tab === 'Leaves'">
                  <app-leaves-hrms></app-leaves-hrms>
               </div> 
               <div *ngIf="Active_Tab === 'On_Duty'">
                  <app-onduty-hrms></app-onduty-hrms>
               </div>   
               <div *ngIf="Active_Tab === 'Permissions'">
                  <app-permissions-hrms></app-permissions-hrms>
               </div>  
               <div *ngIf="Active_Tab === 'Advance'">
                  <app-advance-hrms></app-advance-hrms>
               </div>  
            </div>
         </div>
      </div>
   </div>
</div>
   
 

