<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
   <div class="Loading">
      <div class="spinner">
         <div class="rect1"></div>
         <div class="rect2"></div>
         <div class="rect3"></div>
         <div class="rect4"></div>
         <div class="rect5"></div>
         <div class="rect6"></div>
      </div>
   </div>
</div>
<div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
   <!-- Page section -->
   <div class="Page_Section">
      <div class="container-fluid">
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">Home</li>
                  <li class="arrow">>></li>
                  <li>Expenses</li>
               </ul>
            </div>
         </div>
         <!--  Header Part -->
         <!-- Create and search Section -->
         <div class="row header_part">
            <div class="col-sm-6">
               <a [routerLink]="['/Create_Expenses']"><button class="Create_Button" mat-raised-button> + Create</button></a> 
            </div>
            <div class="col-sm-6">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
            </div>
         </div>
         <!-- Table Section -->
         <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th> S.no </th>
                     <th> Employee Name </th>
                     <th> Date </th>
                     <th> Required Date </th>
                     <th> Expenses Type </th>
                     <th> Amount </th>
                     <th> Description </th>
                     <th> Status </th>
                     <th> Action </th>
                  </tr>
               </thead>
               <tbody>
                     <tr *ngFor="let item of _List; let i=index">
                        <td>
                           <span class="S_no">  {{ i + 1 }} </span>
                        </td>
                        <td>
                           <span class="Style_1">{{item.Employee?.EmployeeName}}</span>
                        </td>
                        <td>
                           <span class="Style_1"> {{item.Applied_Date | date}}</span>
                        </td>
                        <td>
                           <span class="Style_1"> {{item.Required_Date | date}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{item.Expenses_Type?.Expenses_Type }}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{item.Amount}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{item.Description}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{item.Current_Status}}</span>
                        </td>
                        <td>
                           <ng-container *ngIf="item.Stage === 'Stage_5' || item.Stage === 'Stage_6'">
                              <button mat-raised-button color="primary" (click)="Active_Id_Change(i); ViewExpenses()" > View </button>
                           </ng-container>
                           <ng-container *ngIf="item.Stage !== 'Stage_5' && item.Stage !== 'Stage_6'">
                              <button mat-raised-button color="primary" (click)="Active_Id_Change(i)" [matMenuTriggerFor] = "Action" > Action </button>
                           </ng-container>
                        </td>
                     </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>


<!-- Dropdown menus -->
<mat-menu class="MenuStyleOne" #Action="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below" class="MenuStyleOne">
   <button mat-menu-item (click)="ViewExpenses()">
      <span> View </span>
   </button>
   <button *ngIf="IfShowMenu('DraftEdit')" mat-menu-item (click)="EditExpenses()">
      <span> Edit </span>
   </button>
   <button *ngIf="IfShowMenu('SendToApprove')" mat-menu-item (click)="SendToApprove()">
      <span> Send To Approve </span>
   </button>
   <button *ngIf="IfShowMenu('ModifyData')" mat-menu-item (click)="EditExpenses()">
      <span> Modify </span>
   </button>
   <button *ngIf="IfShowMenu('Approve')" mat-menu-item (click)="Approve()">
      <span>Approve</span>
   </button>
   <button *ngIf="IfShowMenu('Reject')" mat-menu-item (click)="Reject()">
      <span> Reject </span>
   </button>
   <button *ngIf="IfShowMenu('SendToModify')" mat-menu-item (click)="SendToModify()">
      <span> Modify </span>
   </button>
</mat-menu>