/* --------------   Page Identity Section  ----------------- */
   .Page_Identity{
      display: flex;
      height:40px;
      width: 100%;
      margin-bottom: 5px;
   }
   .Page_Identity .Page_Name{
      width:50%;
   }
   .Page_Identity .Page_Name h5{
      color: #4f6a7a;
      line-height: 35px;
      font-size: 18px;
      margin: 0px;
      font-weight: 700;
   }
/* Form style */
   .Form_Input input {
      padding: 10px;
      width: 100%;
      height: 37px;
      outline: none;
      margin-bottom: 25px;
      border: 1px solid gainsboro;
      color: #484848;
      font-weight: 500;
      font-size: 14px;
   }
   .Form_Input input:-moz-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Input input::-moz-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Input input::-webkit-input-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Input input:-ms-input-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Select select{
      width: 100%;
      height: 37px;
      color: #999;
      outline: none;
      padding: 0px 10px;
      border: 1px solid #dcdcdc;
      margin-bottom: 25px;
   }
   .Form_Select select option{
      color: #999999;
      width: 100%;
   }
   .Form_TextArea textarea {
      padding: 10px;
      width: 100%;
      outline: none;
      margin-bottom: 25px;
      border: 1px solid gainsboro;
      color: #484848;
      font-weight: 500;
      font-size: 14px;
   }
   .Form_TextArea textarea:-moz-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_TextArea textarea::-moz-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_TextArea textarea::-webkit-input-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_TextArea textarea:-ms-input-placeholder{
      color: #999999;
      font-weight: 400;
   }
/* Company Details */
   .Company_Details{
      background-color: #fff;
      margin: 10px;
      padding: 20px;
      margin-left: 15px;
      width: 100%;
      border-radius: 5px;
      border-top: 2px solid #49B660;
   }
/* Tabs */
   .Product{
      background-color: #fff;
      margin: 10px;
      padding: 20px;
      margin-left: 15px;
      width: 100%;
      border-radius: 5px;
      border-top: 2px solid #49B660;
      }
   .Product .Product_Tab{
      display:flex;
   }
   .Product .Product_Tab .Product_details span{
      width: 50%;
      height: 50px;
      font-size: 16px;
      font-weight: 600;
      padding: 5px 10px; 
      margin-right: 5px;
      letter-spacing: 0.8px;
      border-radius: 3px;
   }
   .Product .Product_Tab .Product_details span.active{
      width: 50%;
      height: 50px;
      font-size: 16px;
      font-weight: 600;
      padding: 5px 10px;
      border: 1px solid #49b660;
      background-color: #49b660;
      color: #fff;
      margin-right: 5px;
      letter-spacing: 0.8px;
      border-radius: 3px;
   }
   .Product .Product_Tab .Product_details span:hover{
      cursor:pointer;
      box-shadow: 2px 2px 2px rgb(16, 26, 18);
   }
   .Product .Product_Tab .Quote_Terms span{
      width: 50%;
      height: 50px;
      font-size: 16px;
      font-weight: 600;
      padding: 5px 10px;
      margin-right: 5px;
      letter-spacing: 0.8px;
      border-radius: 3px;

   }
   .Product .Product_Tab .Quote_Terms span.active{
      width: 50%;
      height: 50px;
      font-size: 16px;
      font-weight: 600;
      padding: 5px 10px;
      border: 1px solid #49b660;
      background-color: #49b660;
      color: #fff;
      margin-right: 5px;
      letter-spacing: 0.8px;
      border-radius: 3px;
   }
   .Product .Product_Tab .Quote_Terms span:hover{
      cursor:pointer;
      box-shadow: 2px 2px 2px rgb(16, 26, 18);
   }
   .table_section{
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
      margin-right:10px;
   }
   .table_section .table_head{
      font-size:16px;
      color:#A6A6A6;
      cursor:pointer;
   }
   .table_section tr{
      border:1px solid #e4dcdc;
      height: 45px;
   }
   .table_section tbody td{
      background-color:#F5F5F5;
      width:100%;
      height:45px;
      text-align:center;

   }
   .table_section tbody td span{
      font-size:16px;
      font-weight:400;
      color:#6d6868;
   }
   .Title h5{
      font-weight:600;
      font-size:16px;
      color:#4c4848;
   }
   .Value h5{
      font-weight:400;
      font-size:14px;
      color:#6f6363;
   }
