<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
      <div class="Modal_Header">
        <p>Activity</p>
        <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <div class="Model_Body">
        <div class="row">
         <div class="col-sm-6 Form_Input">
            <label>Date:</label>
            <input type="text">
          </div>
          <div class="col-sm-6 Form_Select">
            <label>Contact Person:</label>
            <select>
                  <option disabled>xxxxx</option>
                  <option> xxxxx</option>
                  <option>xxxxx</option>
               </select>
          </div>
          <div class="col-sm-6 Form_Input">
               <label>Subject:</label>
               <input type="text">
             </div>
          <div class="col-sm-6 Form_Select">
               <label>Activity Type:</label>
               <select>
                  <option disabled>Activity Type</option>
                  <option> Activity Type</option>
                  <option>Activity Type</option>
               </select>
             </div>
          <div class="col-sm-6 Form_Select">
            <label>Status:</label>
            <select>
                  <option disabled>Status</option>
                  <option> Status</option>
                  <option>Status</option>
               </select>
          </div>
          <div class="col-sm-6 Form_Select">
            <label>Priority:</label>
            <select>
                  <option disabled>Priority</option>
                  <option> Priority</option>
                  <option>Priority</option>
               </select>
          </div>
         <div class="col-sm-6 Form_TextArea">
            <label>Description:</label>
            <textarea ></textarea>
          </div>
         </div>
      </div>
      <div class="Model_Footer">
        <button mat-raised-button color="primary"> Submit </button>
      </div>
    </div>
    <div class="Modal_Content" *ngIf=" Type && Type === 'View'">
      <div class="Modal_Header">
        <p>Activity</p>
        <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <div class="Model_Body">
        <div class="row">
          <div class="col-sm-6 text-right Static">Date: </div>
          <div class="col-sm-6 text-left Data"> 25.07.18</div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-right Static">Contact Person: </div>
          <div class="col-sm-6 text-left Data"> xxxxxx</div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-right Static">Subject: </div>
          <div class="col-sm-6 text-left Data"> Subject</div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-right Static">Activity Type: </div>
          <div class="col-sm-6 text-left Data"> Type-11</div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-right Static">Status: </div>
          <div class="col-sm-6 text-left Data"> In Progress</div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-right Static">Priority: </div>
          <div class="col-sm-6 text-left Data"> Priority</div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-right Static">Description: </div>
            <div class="col-sm-6 text-left Data"> ghfghjygjh</div>
          </div>
      </div>
    </div>
