

<div class="Page_Section">
    <div class="container-fluid">
       <div class="Page_Identity">
       <div class="Page_Name">
         <h5>ACCOUNT SETTINGS</h5>
         </div>
         <div class="Page_Track">
           <ul >
             <li class="HeaderName">Settings</li>
             <li class="arrow">>></li>
             <li>Account Settings</li>
             </ul>
           </div>
        </div>
       <div class="Page_Content Account_Settings">
          <div class="Main_Section">
             <div class="Left_Section">
                <ul class="Tabs">
                   <li class="Tab" [ngClass]="{'active':Active_Tab === 'Taxes'}" (click)="Active_Tab_Change('Taxes')"><span class="Tab_Content">Taxes</span></li>     
                   <li class="Tab" [ngClass]="{'active':Active_Tab === 'Bank'}" (click)="Active_Tab_Change('Bank')"><span class="Tab_Content">Bank</span></li>  
                   <li class="Tab" [ngClass]="{'active':Active_Tab === 'Income_Type'}" (click)="Active_Tab_Change('Income_Type')"><span class="Tab_Content">Income Type</span></li> 
                   <li class="Tab" [ngClass]="{'active':Active_Tab === 'Asset_Type'}" (click)="Active_Tab_Change('Asset_Type')"><span class="Tab_Content">Asset Type</span></li>
                   <li class="Tab" [ngClass]="{'active':Active_Tab === 'Payment_Terms'}" (click)="Active_Tab_Change('Payment_Terms')"><span class="Tab_Content">Payment Terms</span></li>             
                </ul>
             </div>
             <div class="Right_Section">
                <div *ngIf="Active_Tab === 'Taxes'">
                     <app-taxes-account-settings></app-taxes-account-settings>
                </div> 
                <div *ngIf="Active_Tab === 'Bank'">
                  <app-bank-account-settings></app-bank-account-settings>
                </div> 
                <div *ngIf="Active_Tab === 'Income_Type'">
                  <app-income-type-account-settings></app-income-type-account-settings>
                  </div>   
                  <div *ngIf="Active_Tab === 'Asset_Type'">
                    <app-asset-type-account-settings></app-asset-type-account-settings>
                    </div> 
                    <div *ngIf="Active_Tab === 'Payment_Terms'">
                      <app-payment-terms-account-settings></app-payment-terms-account-settings>
                      </div>              
             </div>
          </div>
       </div>
    </div>
 </div>
   
 
