<!-- page -->
<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- page identity -->
      <div class="Page_Identity">
         <div class="Page_Name">
            <h5>LEAVE CREATE</h5>
         </div>
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class="LinkName"><a [routerLink]="['/List_Leaves']">Leaves List</a></li>
               <li class="arrow">>></li>
               <li>Leaves Create</li>
            </ul>
         </div>
      </div>
      <!-- Company details -->
      <div class="Company_Details">
         <form [formGroup]="Form">
            <div class="row">
               <div class="col-sm-4 Form_Select" >
                  <label>Employee Name:</label>
                  <ng-select class="NgSelect" 
                              [items]="_EmployeeName" 
                              bindLabel="EmployeeName"
                              bindValue="_id"
                              formControlName="Employee"
                              [searchable]="true" 
                              placeholder="Employee Name">
                  </ng-select>
                  <p class="error" *ngIf="Form.controls['Employee'].errors && !Form.controls['Employee'].touched">
                     <span *ngIf="Form.controls['Employee'].errors.required">Employee is required</span>
                  </p>
               </div>
               <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': !Form.controls['From_Date'].pristine && Form.controls['From_Date'].errors, 'Form_Success': Form.controls['From_Date'].valid && !Form.controls['From_Date'].pristine }">
                  <label>From Date:</label>
                  <input matInput [min]="Today" formControlName="From_Date" [matDatepicker]="DatePicker1" (dateChange)="FromDateChange($event.value)" (click)="DatePicker1.open()" (keypress)="NotAllow()" (keydown)="NotAllow()" placeholder="From Date">
                  <mat-datepicker #DatePicker1></mat-datepicker>
                  <p class="error" *ngIf="Form.controls['From_Date'].errors && !Form.controls['From_Date'].pristine">
                     <span *ngIf="Form.controls['From_Date'].errors.required">From Date is required</span>
                  </p>
               </div>
               <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': !Form.controls['To_Date'].pristine && Form.controls['To_Date'].errors, 'Form_Success': Form.controls['To_Date'].valid && !Form.controls['To_Date'].pristine }">
                  <label>To Date:</label>
                  <input matInput [min]="MinDate" formControlName="To_Date" [matDatepicker]="DatePicker2" (click)="DatePicker2.open()" (keypress)="NotAllow()" (keydown)="NotAllow()" placeholder="To Date">
                  <mat-datepicker #DatePicker2></mat-datepicker>
                  <p class="error" *ngIf="Form.controls['To_Date'].errors && !Form.controls['To_Date'].pristine">
                     <span *ngIf="Form.controls['To_Date'].errors.required">To Date is required</span>
                  </p>
               </div>
               <div class="col-sm-4 Form_Select" >
                  <label>Leave Type:</label>
                  <ng-select class="NgSelect" 
                              [items]="_LeaveTypes" 
                              bindLabel="Name"
                              bindValue="_id"
                              formControlName="Leave_Type"
                              [searchable]="true" 
                              placeholder="Leave Type">
                  </ng-select>
                  <p class="error" *ngIf="Form.controls['Leave_Type'].errors && !Form.controls['Leave_Type'].pristine">
                     <span *ngIf="Form.controls['Leave_Type'].errors.required">Leave Type is required</span>
                  </p>
               </div>
               <div class="col-sm-4 Form_TextArea" [ngClass]="{'Form_Err': !Form.controls['Purpose'].pristine && Form.controls['Purpose'].errors, 'Form_Success': Form.controls['Purpose'].valid && !Form.controls['Purpose'].pristine }">
                  <label>Purpose:</label>
                  <textarea rows="3" formControlName="Purpose"></textarea>
                  <p class="error" *ngIf="Form.controls['Purpose'].errors && !Form.controls['Purpose'].pristine">
                     <span *ngIf="Form.controls['Purpose'].errors.required">Purpose is required</span>
                  </p>
               </div>
            </div>
         </form>
         <div class="row">
            <div class="col-sm-12 text-right">
               <button mat-raised-button [disabled]="!Form.valid && Form.invalid" color="primary" style = "top: 5px;" (click)=" Submit()"> Submit </button>
            </div>
         </div>
      </div>
   </div>
</div>

