.Card {
   background: linear-gradient(229deg, #74da8b, #009e26);
   box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
   height: 100px;
}
.Card .Card_Body {    
   height: 70px;
   display: flex;
   align-items: center;
}
.Card .Card_Body .Card_Left {
   width: 25%;
   text-align: center;
}
.Card .Card_Body .Card_Left i {
   font-size: 25px;
   line-height: 85px;
}
.Card .Card_Body .Card_Left .account_balance{
   color:#D24330;
}
.Card .Card_Body .Card_Left .assignment{
   color:#049870;
}
.Card .Card_Body .Card_Left .add_shopping{
   color:#3957B5;
}
.Card .Card_Body .Card_Left .alarm{
   color:#AF1437;
}
.Card .Card_Body .Card_Right {
   text-align: center;
   width: 75%;
}
.Card .Card_Body .Card_Right h5 {
   color: #017f1e;
   font-size: 16px;
   line-height: 30px;
   margin: 0px;
}
.Card .Card_Body .Card_Right h6 {
   color: #ffffff;
   font-size: 16px;
}
.Card .Card_Footer {
   height: 35px;
   background-color: #017f1e;
   display: inline-block;
   width: 100%;
   align-items: center;
   padding: 0px 10px;
   line-height: 30px;
   text-align: center;
}
.Card .Card_Footer .Card_Info {
   font-size: 12px;
   color: #ffffff;
   font-weight: 500;
   float:right;
}
.Card .Card_Footer .arrow{
    float: left;
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    margin-top: 8px;
}

.card_bg_Liner_1{
   background: linear-gradient(229deg, #fd9a77, #fb827a) !important;
}
.card_bg_1{
   background-color: #d24330 !important;
}
.card_color_1{
   color: #d2432f !important;
}

.card_bg_Liner_2{
   background: linear-gradient(229deg, #8edead, #43c6ac) !important;
}
.card_bg_2{
   background-color: #049870 !important;
}
.card_color_2{
   color: #049870 !important;
}

.card_bg_Liner_3{
   background: linear-gradient(248deg, #348ac7, #7474bf);
}
.card_bg_3{
   background-color: #3957b5 !important;
}
.card_color_3{
   color: #3957b5 !important;
}
