<div class="Main_Section">
   <div class="row">
      <div class="col-sm-4">
         <div class="Card card_bg_Liner_1">
            <div class="Card_Body">
               <div class="Card_Left">
                  <i class="material-icons account_balance">account_balance_wallet</i>
               </div>
               <div class="Card_Right">
                  <h5 class="card_color_1"> Leaves </h5>
                  <h6> 5 requests</h6>
               </div>
            </div>
             <div class="Card_Footer card_bg_1">
               <span><i class="material-icons arrow">
                  arrow_forward
                  </i></span>
               <span class="Card_Info"> View More </span>
            </div>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="Card card_bg_Liner_2">
            <div class="Card_Body">
               <div class="Card_Left">
                  <i class="material-icons assignment">   assignment   </i>
               </div>
               <div class="Card_Right">
                  <h5 class="card_color_2 ">Permissions </h5>
                  <h6>10 requests</h6>
               </div>
            </div>
            <div class="Card_Footer card_bg_2">
                <span><i class="material-icons arrow">
                    arrow_forward
                    </i></span>
               <span class="Card_Info"> View More </span>
            </div>
         </div>
      </div>
      <div class="col-sm-4">
         <div class="Card card_bg_Liner_3">
            <div class="Card_Body">
               <div class="Card_Left">
                  <i class="material-icons add_shopping"> add_shopping_cart  </i>
               </div>
               <div class="Card_Right">
                  <h5 class="card_color_3"> Advance</h5>
                  <h6>5 requests</h6>
               </div>
            </div>
            <div class="Card_Footer card_bg_3">
                <span><i class="material-icons arrow">
                    arrow_forward
                    </i></span>
               <span class="Card_Info">view More </span>
            </div>
         </div>
      </div>
   </div>
</div>
         