.about_section .About_Section{
    line-height: 30px;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #bfb6b6;
    margin-left: 0px;
}
.Customer_Details_Title h5{
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
    line-height: 30px;
    color: rgb(57, 66, 74);
    font-family: 'Open Sans', sans-serif;
}
.Customer_Details_Value h5{
    font-weight: 600;
    font-size: 14px;
    margin: 0px;
    line-height: 30px;
    color: rgba(82, 105, 121, 0.76);
    font-family: 'Open Sans', sans-serif;
}
 .Image_Section img{
    width:100%;
    height:250px;
}
