<div class="about_section">
   <div class="row About_Section">
      <div class="col-sm-6">
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Customer Name</h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5>Customer Name</h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>E-mail</h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5>Customerinfo@gmail.com</h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Phone</h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5>0435678</h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Mobile</h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5>+987654321</h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Industry Type</h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5>Manufacturing</h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Customers</h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5>75 </h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Notes</h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate magni dignissimos minima pariatur consequatur debitis quo laudantium nemo, illo eum odit neque.</h5>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-3">
         <div class="Customer_Details_Title">
            <h5>Shipping Address</h5>
         </div>
         <div class="Customer_Details_Value">
            <h5>No.32 Shri Lakshmi Nagar,
               Ganapathy,
               Coimbatore,
               Tamil Nadu - 641007,
               India.
            </h5>
         </div>  
      </div>
      <div class="col-sm-3">
         <div class="Customer_Details_Title">
            <h5>Billing Address</h5>
         </div>
         <div class="Customer_Details_Value">
            <h5>No.32 Shri Lakshmi Nagar,
               Ganapathy,
               Coimbatore,
               Tamil Nadu - 641007,
               India.<br>
               State code:TN<br>
               GST No: abcd1234f
            </h5>
         </div>
      </div>
   </div>
</div><br>
<div class="Image">
   <div class="row Image_Section">
      <div class="col-sm-12">
         <img src="../../../../../../../assets/images/basic/company.png">
      </div>
   </div>
   </div>

  
