<div class="about_section">
   <div class="row">
      <div class="col-sm-6">
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Customer Name <span>:</span></h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5>{{CustomerData['CompanyName']}}</h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>E-mail <span>:</span></h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5>{{CustomerData['EmailAddress']}}</h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Phone <span>:</span></h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5>{{CustomerData['PhoneNumber']}}</h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Website <span>:</span></h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5 >{{CustomerData['Website']}}</h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>GST No <span>:</span></h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5>{{CustomerData['GSTNo']}}</h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>State Code <span>:</span></h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5> {{CustomerData['StateCode']}}</h5>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Company Type <span>:</span></h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5 >{{CustomerData['CompanyType']}}</h5>
               </div>
            </div>
         </div>
         <ng-container *ngIf="CustomerData['CompanyType'] === 'AMC'">
            <div class="row">
               <div class="col-sm-4">
                  <div class="Customer_Details_Title">
                     <h5> Tickets Limit <span>:</span></h5>
                  </div>
               </div>
               <div class="col-sm-8">
                  <div class="Customer_Details_Value">
                     <h5 >{{CustomerData['TicketsLimit']}}</h5>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-4">
                  <div class="Customer_Details_Title">
                     <h5> AMC From <span>:</span></h5>
                  </div>
               </div>
               <div class="col-sm-8">
                  <div class="Customer_Details_Value">
                     <h5 >{{CustomerData['AMCFrom'] | date:'longDate'}}</h5>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-4">
                  <div class="Customer_Details_Title">
                     <h5> AMC To <span>:</span></h5>
                  </div>
               </div>
               <div class="col-sm-8">
                  <div class="Customer_Details_Value">
                     <h5 >{{CustomerData['AMCTo'] | date:'longDate'}}</h5>
                  </div>
               </div>
            </div>
         </ng-container>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Industry Type <span>:</span></h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5>{{CustomerData['IndustryType']?.Industry_Type}}</h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Ownership Type <span>:</span></h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5>{{CustomerData['OwnershipType']?.Ownership_Type}}</h5>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Notes <span>:</span></h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value">
                  <h5> {{CustomerData['Notes']}}</h5>
               </div>
            </div>
         </div>
      </div>
   </div>
   <hr style="margin: 20px 10px">
   <div class="row">
      <div class="col-sm-6">
         <div class="row">
            <div class="col-sm-4">
               <div class="Customer_Details_Title">
                  <h5>Billing Address <span>:</span> </h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value Address">
                  <h5> {{CustomerData['BillingAddress']?.Street}}, {{CustomerData['BillingAddress']?.Area}},</h5>
                  <h5> {{CustomerData['BillingAddress']?.City?.City_Name}}, {{CustomerData['BillingAddress']?.State?.State_Name}}, </h5>
                  <h5> {{CustomerData['BillingAddress']?.Country?.Country_Name}}-{{CustomerData['BillingAddress']?.ZipCode}}. </h5>
               </div>  
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="row">
            <div class="col-sm-4" style="padding: 0px;">
               <div class="Customer_Details_Title">
                  <h5>Shop Floor Address <span>:</span> </h5>
               </div>
            </div>
            <div class="col-sm-8">
               <div class="Customer_Details_Value Address">
                  <h5> {{CustomerData['ShopFloorAddress']?.Street}}, {{CustomerData['ShopFloorAddress']?.Area}},</h5>
                  <h5> {{CustomerData['ShopFloorAddress']?.City?.City_Name}}, {{CustomerData['ShopFloorAddress']?.State?.State_Name}},</h5>
                  <h5> {{CustomerData['ShopFloorAddress']?.Country?.Country_Name}}, {{CustomerData['ShopFloorAddress']?.ZipCode}}.</h5>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
