
  <div class="Modal_Content" *ngIf=" Type && Type === 'View'">
    <div class="Modal_Header">
      <p>Invoices</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
    </div>
    <div class="Model_Body">
      <div class="row">
        <div class="col-sm-6 text-right Static">Title: </div>
        <div class="col-sm-6 text-left Data"> Title</div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-right Static">Name: </div>
        <div class="col-sm-6 text-left Data"> Name</div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-right Static">Contact Role: </div>
        <div class="col-sm-6 text-left Data"> Contact Role</div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-right Static">Email: </div>
        <div class="col-sm-6 text-left Data"> sample@gmail.com</div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-right Static">Mobile: </div>
        <div class="col-sm-6 text-left Data"> +6546757657</div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-right Static">Job Position: </div>
        <div class="col-sm-6 text-left Data"> Job Position</div>
      </div>
    </div>
  </div>

