<!--  Header Part -->
<!-- Create and search Section -->
<div class="row header_part">
   <div class="col-sm-6">
     <button class="Create_Button" mat-raised-button (click)="CreateAttendanceReport()"> + Create </button>
   </div>
   <div class="col-sm-6">
     <div class="Search_Section">
       <input type="text" placeholder="Search.." name="search">
       <i class="material-icons">search</i>
     </div>
   </div>
</div>
<!-- Table Section -->
<div class="Table_Section">
   <table>
      <thead>
         <tr>
            <th> S.no </th>
            <th> Employee Name </th>
            <th> Month </th>
            <th> From Date </th>
            <th> To Date </th>
            <th> Payroll Generatd </th>
            <th> Action </th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let report of _List; let i=index">
            <td>
               <span class="S_no"> {{ i + 1 }} </span>
            </td>
            <td>
               <span class="Style_1"> {{report?.Employee?.EmployeeName}} </span>
            </td>
            <td>
               <span class="Style_1">{{report?.MonthYear | date:'MMMM  y'}}</span>
            </td>
            <td>
               <span class="Style_1">{{report?.From_Date | date:'d-M-y'}}</span>
            </td>
            <td>
               <span class="Style_1">{{report?.To_Date | date:'d-M-y'}}</span>
            </td>
            <td>
               <span class="Style_1"> {{ report?.Payroll_Generated === true ? 'yes' : 'No' }} </span>
            </td>
            <td>
               <button [routerLink]="['/Attendance_Report_View', report._id]" class="Table_Action_mini Bg_Info" mat-mini-fab color="primary">
                  <i class="material-icons">zoom_in</i>
               </button>
               <button (click)=" DeleteAttendanceReport(i)" class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary">
                  <i class="material-icons">delete_forever</i>
               </button>
            </td>
         </tr>
      </tbody>
   </table>
</div>
