<!-- If Create Machine Idle  -->
<div class="Modal_Content" *ngIf="_Data['Type'] && _Data['Type'] === 'Create'">
   <div class="Modal_Header">
      <p> Create Machine Idle </p>
      <span *ngIf="!Uploading" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <form [formGroup]="Form" (ngSubmit)="Submit()">
      <div class="Model_Body">
         <div class="row">
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': !Form.controls['Idle_Date'].pristine && Form.controls['Idle_Date'].errors, 'Form_Success': Form.controls['Idle_Date'].valid && !Form.controls['Idle_Date'].pristine }">
               <label> Idle Start Date:</label>
               <input type="text" 
                        formControlName="Idle_Date" 
                        [min]="_MinDate" 
                        [max]="_MaxDate" 
                        [matDatepicker]="Datepicker" 
                        (click)="Datepicker.open()" 
                        (keypress)="NotAllow()" 
                        (keydown)="NotAllow()"
                        (dateChange)="DateChange($event.value)">
               <mat-datepicker touchUi #Datepicker></mat-datepicker>
               <p class="error" *ngIf="Form.controls['Idle_Date'].errors && !Form.controls['Idle_Date'].pristine">
                  <span *ngIf="Form.controls['Idle_Date'].errors.required">  Idle Start Date is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': !Form.controls['Idle_Time'].pristine && Form.controls['Idle_Time'].errors, 'Form_Success': Form.controls['Idle_Time'].valid && !Form.controls['Idle_Time'].pristine }">
               <label> Idle Start Time:</label>
               <input type="text" 
                              formControlName="Idle_Time" 
                              [min]="_MinTime" 
                              [max]="_MaxTime" 
                              [ngxTimepicker]="StartTimePicker" 
                              (keypress)="NotAllow()" 
                              (keydown)="NotAllow()">
               <ngx-material-timepicker #StartTimePicker></ngx-material-timepicker>
               <p class="error" *ngIf="Form.controls['Idle_Time'].errors && !Form.controls['Idle_Time'].pristine">
                  <span *ngIf="Form.controls['Idle_Time'].errors.required"> Idle Start Time is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_TextArea">
               <label> Description:</label>
               <textarea formControlName="Description"></textarea>
            </div>
         </div>
      </div>
      <div class="Model_Footer">
         <button type="submit" [disabled]="Form.status !== 'VALID' || Uploading" mat-raised-button color="primary">
            <span *ngIf="!Uploading">Submit</span>
            <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
         </button>
      </div>
   </form>
</div>


<!-- Edit The Machine Idle -->
<div class="Modal_Content" *ngIf="_Data['Type'] && _Data['Type'] === 'Edit'">
   <div class="Modal_Header">
      <p> Complete Machine Idle </p>
      <span *ngIf="!Uploading" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <form [formGroup]="Form" (ngSubmit)="Update()">
      <div class="Model_Body">
         <div class="row">
            <div class="col-sm-6 Form_Input" >
               <label> Idle Start Date:</label>
               <input type="text" formControlName="Idle_Date" (keypress)="NotAllow()" (keydown)="NotAllow()">
            </div>
            <div class="col-sm-6 Form_Input">
               <label> Idle Start Time:</label>
               <input type="text" formControlName="Idle_Time" (keypress)="NotAllow()" (keydown)="NotAllow()">
            </div>
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': !Form.controls['Idle_CloseDate'].pristine && Form.controls['Idle_CloseDate'].errors, 'Form_Success': Form.controls['Idle_CloseDate'].valid && !Form.controls['Idle_CloseDate'].pristine }">
               <label> Idle Close Date:</label>
               <input type="text" 
                     formControlName="Idle_CloseDate" 
                     [min]="_MinDate" 
                     [max]="_MaxDate" 
                     [matDatepicker]="Datepicker" 
                     (click)="Datepicker.open()" 
                     (keypress)="NotAllow()" 
                     (keydown)="NotAllow()"
                     (dateChange)="DateChange($event.value)">
               <mat-datepicker touchUi #Datepicker></mat-datepicker>
               <p class="error" *ngIf="Form.controls['Idle_CloseDate'].errors && !Form.controls['Idle_CloseDate'].pristine">
                  <span *ngIf="Form.controls['Idle_CloseDate'].errors.required">  Idle Close Date is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': !Form.controls['Idle_CloseTime'].pristine && Form.controls['Idle_CloseTime'].errors, 'Form_Success': Form.controls['Idle_CloseTime'].valid && !Form.controls['Idle_CloseTime'].pristine }">
               <label> Idle Close Time:</label>
               <input type="text" 
                              formControlName="Idle_CloseTime" 
                              [min]="_MinTime" 
                              [max]="_MaxTime" 
                              [ngxTimepicker]="StartTimePicker" 
                              (keypress)="NotAllow()" 
                              (keydown)="NotAllow()">
               <p class="error" *ngIf="Form.controls['Idle_CloseTime'].errors && !Form.controls['Idle_CloseTime'].pristine">
                  <span *ngIf="Form.controls['Idle_CloseTime'].errors.required"> Idle Close Time is required</span>
               </p>
            </div>
         </div>
      </div>
      <ngx-material-timepicker #StartTimePicker></ngx-material-timepicker>
      <div class="Model_Footer">
         <button type="submit" [disabled]="Form.status !== 'VALID' || Uploading" mat-raised-button color="primary">
            <span *ngIf="!Uploading"> Update </span>
            <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
         </button>
      </div>
   </form>
</div>

