<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
   <div class="Loading">
         <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
            <div class="rect6"></div>
         </div>
   </div>
</div>
<div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
   <!-- Page Header Part -->
      <div class="row header_part">
         <div class="col-sm-6">
            <button class="Create_Button" mat-raised-button (click)="CreateIndustrytype()"> + Create </button>
         </div>
         <div class="col-sm-6">
            <div class="Table_Activities">
               <div class="Search_Section">
                  <input type="text" placeholder="Search.." name="search">
                  <i class="material-icons">search</i>
               </div>
               <button mat-raised-button [matMenuTriggerFor]="Short"> {{Limit_Count}} </button>
               <mat-menu class="PaginationShort" #Short="matMenu" [overlapTrigger]="false">
                  <button mat-menu-item [ngClass]="{'active': Limit_Count === 5}" (click)="Short_Change(5)"> 5 </button>
                  <button mat-menu-item [ngClass]="{'active': Limit_Count === 10}" (click)="Short_Change(10)"> 10 </button>
                  <button mat-menu-item [ngClass]="{'active': Limit_Count === 20}" (click)="Short_Change(20)"> 20 </button>
                  <button mat-menu-item [ngClass]="{'active': Limit_Count === 50}" (click)="Short_Change(50)"> 50 </button>
               </mat-menu>
            </div>
         </div>
      </div>
   <!-- Table Section -->
      <div class="Table_Section" >
         <table #TableSection>
            <thead #TableHeaderSection>
               <tr>
                  <th>S.no</th>
                  <th>Industry Type</th>
                  <th>Created By </th>
                  <th>Last Modified By</th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody #TableBodySection>
               <tr *ngFor="let Item of _List; let i=index">
                  <td>
                     <span class="S_no"> {{ i + 1}} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{Item.Industry_Type}} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{Item.Created_By.Name}}
                        <br> 
                        <span class="Time"> {{Item.createdAt | date:'medium'}}  </span>
                     </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{Item.Last_Modified_By.Name}} 
                        <br> 
                        <span class="Time"> {{Item.updatedAt | date:'medium'}}  </span>
                     </span>
                  </td>
                  <td>
                     <button (click)="ViewIndustrytype(i)" class="Table_Action_mini Bg_Info" mat-mini-fab color="primary">
                        <i class="material-icons">zoom_in</i>
                     </button>
                     <button (click)="EditIndustrytype(i)" class="Table_Action_mini Bg_warning" mat-mini-fab color="primary">
                        <i class="material-icons">edit</i>
                     </button>
                     <button (click)="DeleteIndustryType(i)" class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary">
                        <i class="material-icons">delete_forever</i>
                     </button>
                  </td>
               </tr>
               <tr class="TableLoader" #TableLoaderSection >
                  <td colspan="100%" class="Tr_Loader">  Loading<span class="dot">.</span><span class="dot-2">.</span><span class="dot-3">.</span> </td>
               </tr>
            </tbody>
            <tfoot #TableFooterSection>
               <tr>
                  <td colspan="100">
                     <div class="Table_Footer_Section">
                        <div class="Footer_Left">
                           <p [innerHTML]="Showing_Text"> </p>
                        </div>
                        <div class="Footer_Right">
                           <div class="Pagination">
                              <ul>
                                 <li class="{{Page_Previous['Class']}}" (click)="Pagination_Action(Page_Previous['Value'])" >
                                    <span class="arrow"> << </span>
                                    <span> Previous </span>
                                 </li>
                                 <li *ngFor="let Page of Pages_Array; let i=index" class="{{Page.Class}}" [ngClass]="{'active': Page.Active}" (click)="Pagination_Action(Page.Value)" > 
                                    <span> {{Page.Text}} </span>
                                 </li> 
                                 <li class="{{Page_Next['Class']}}" (click)="Pagination_Action(Page_Next['Value'])">
                                    <span> Next </span>
                                    <span class="arrow"> >> </span>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </td>
               </tr>
            </tfoot>
         </table>
      </div>
</div>