<!-- Login Page Start -->
<div class="Login_Page">
   <div class="Login_Part">
      <!-- Logo Section -->
      <div class="row">
         <div class="col-sm-4"></div>
         <div class="col-sm-4">
            <div class="Logo">
               <img src="assets/images/basic/Hasta.png" alt="">
            </div>
         </div>
         <div class="col-sm-4"></div>
      </div>
      <!-- Form Section -->
      <div *ngIf="Stage === 'Stage_1'" class="row">
         <div class="col-sm-4"></div>
         <div class="col-sm-4">
            <div class="FormBox">
               <div class="Identity_Box">
                  <h5> Attendance </h5>
               </div>
               <div class="Form_Area">
                  <form [formGroup]="Form">
                     <p class="error" *ngIf="Form.controls['Employee_Code'].errors && !Form.controls['Employee_Code'].pristine">
                        <span *ngIf="Form.controls['Employee_Code'].errors.required"> Employee Code is required </span>
                     </p>
                     <div class="Form_Field" [ngClass]="{'Form_Err': Form.controls['Employee_Code'].errors && !Form.controls['Employee_Code'].pristine, 'Form_Success': Form.controls['Employee_Code'].valid && !Form.controls['Employee_Code'].pristine }">
                        <input type="text" formControlName="Employee_Code" placeholder="Employee Code">
                     </div>
                     <div class="Submit_Btn">
                        <button type="submit" (click)="submit()" [disabled]="Form.invalid" mat-raised-button color="primary"> Submit </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="col-sm-4"></div>
      </div>
      <div *ngIf="Stage === 'Stage_2'" class="row">
         <div class="col-sm-3"></div>
         <div class="col-sm-6">
            <div class="FormBox">
               <div class="Identity_Box">
                  <h5> Attendance </h5>
               </div>
               <div class="Data_Area">
                  <div class="Data">
                     <div class="Tile"><span> Employee Name</span> </div>
                     <div class="Dote"><span> : </span> </div>
                     <div class="Value">
                        <span *ngIf="Data_Type !== undefined && Data_Type === 'Old'"> {{Data?.Employee?.EmployeeName}} </span>
                        <span *ngIf="Data_Type !== undefined && Data_Type === 'New'"> {{Data?.EmployeeName}} </span>
                     </div>
                  </div>
                  <div class="Data">
                     <div class="Tile"><span> Employee Code</span> </div>
                     <div class="Dote"><span> : </span> </div>
                     <div class="Value">
                        <span *ngIf="Data_Type !== undefined && Data_Type === 'Old'"> {{Data?.Employee?.EmployeeCode}} </span>
                        <span *ngIf="Data_Type !== undefined && Data_Type === 'New'"> {{Data?.EmployeeCode}} </span>
                     </div>
                  </div>
                  <div *ngIf="Data_Type !== undefined && Data_Type === 'Old'" class="Data">
                     <div class="Tile"><span> In Date & Time</span> </div>
                     <div class="Dote"><span> : </span> </div>
                     <div class="Value"><span> {{Data?.Attendance_InDate | date:'medium'}} </span> </div>
                  </div>
               </div>
               <div class="Form_Area" style="margin-top: 40px; padding: 0px">
                  <h5 *ngIf="Data_Type !== undefined && Data_Type === 'New'"> In Time </h5>
                  <h5 *ngIf="Data_Type !== undefined && Data_Type === 'Old'"> Out Time </h5>
                  <form [formGroup]="Form">
                     <div class="row">
                        <div class="col-sm-6">
                           <p class="error" *ngIf="Form.controls['Date'].errors && !Form.controls['Date'].pristine">
                              <span *ngIf="Form.controls['Date'].errors.required"> Date is required </span>
                           </p>
                           <div class="Form_Field" [ngClass]="{'Form_Err': Form.controls['Date'].errors && !Form.controls['Date'].pristine, 'Form_Success': Form.controls['Date'].valid && !Form.controls['Date'].pristine }">
                              <input type="text" formControlName="Date" [min]="MinDate" [max]="MaxDate" [matDatepicker]="Datepicker" (click)="Datepicker.open()" (dateChange)="DateChange($event.value)" (keypress)="NotAllow()" (keydown)="NotAllow()" placeholder="Date">
                              <mat-datepicker #Datepicker></mat-datepicker>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <p class="error" *ngIf="Form.controls['Time'].errors && !Form.controls['Time'].pristine">
                              <span *ngIf="Form.controls['Time'].errors.required"> Time is required </span>
                           </p>
                           <div class="Form_Field" [ngClass]="{'Form_Err': Form.controls['Time'].errors && !Form.controls['Time'].pristine, 'Form_Success': Form.controls['Time'].valid && !Form.controls['Time'].pristine }">
                              <input type="text" formControlName="Time" [ngxTimepicker]="TimePicker" [min]="MinTime" (keypress)="NotAllow()" (keydown)="NotAllow()" placeholder="Time">
                              <ngx-material-timepicker #TimePicker></ngx-material-timepicker>
                           </div>
                        </div>
                     </div>
                     <div class="Submit_Btn">
                        <button type="submit" (click)="submit()" [disabled]="Form.invalid" mat-raised-button color="primary"> Submit </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="col-sm-3"></div>
      </div>
  </div>
</div>
<!-- Login Page End -->