<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
  	<div class="Modal_Header">
		<p>Create Department</p>
     	<span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
	</div>
 	<div class="Model_Body">
  		<div class="row">
			<div class="col-sm-6 Form_Input">
        		<label>Department Name:</label>
        		<input type="text">
     		</div>
			<div class="col-sm-6 Form_Input">
				<label>Department Head:</label>
        			<input type="text">
     		</div><br>
     		<div class="col-sm-6 Form_Select">
         <label>Branch:</label>
		 <select>
            <option disabled> branch</option>
            <option> branch </option>
            <option> branch</option>
            <option> branch</option>
            <option>branch </option>
            <option> branch</option>
            <option> branch</option>
         </select>
     		</div>
		  </div>
		</div>
  		<div class="Model_Footer">
         <button mat-raised-button color="primary" > Submit </button>
      </div>
	</div>

<div class="Modal_Content" *ngIf="Type && Type === 'View'">
		<div class="Modal_Header">
		 <p>View Department</p>
			<span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
	 </div>
	  <div class="Model_Body">
			<div class="row">
               <div class="col-sm-6 text-right Static">  Department Name : </div>
               <div class="col-sm-6 text-left Data">   Department name</div>
            </div>
            <div class="row">
               <div class="col-sm-6 text-right Static">  Department Head : </div>
               <div class="col-sm-6 text-left Data">  Department head </div>
            </div>
          <div class="row">
               <div class="col-sm-6 text-right Static">  Branch : </div>
               <div class="col-sm-6 text-left Data">  branch </div>
            </div>
        </div>
			<div class="Model_Footer">
			</div>
	</div>

