<!-- If View Attendance Log -->
<div class="Modal_Content" *ngIf=" Type && Type === 'View'">
   <div class="Modal_Header">
      <p>View Permissions</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="view_item">
         <div class="Static"> Name </div>
         <div class="dots"> : </div>
         <div class="Data">  Name</div>
      </div>
      <div class="view_item">
         <div class="Static"> Request Date </div>
         <div class="dots"> : </div>
         <div class="Data">  18.10.17</div>
      </div>
      <div class="view_item">
         <div class="Static">In Time</div>
         <div class="dots"> : </div>
         <div class="Data">  9pm</div>
      </div>
      <div class="view_item">
         <div class="Static">Out Time </div>
         <div class="dots"> : </div>
         <div class="Data">3pm</div>
      </div>
      <div class="view_item">
         <div class="Static">Purpose </div>
         <div class="dots"> : </div>
         <div class="Data"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <button mat-raised-button color="primary" class="pull-right Reject"> Reject </button>
         <button mat-raised-button color="primary" class="pull-right Modify"> Modify </button>
         <button mat-raised-button color="primary" class="pull-right"> Approve </button>
      </div>
   </div>
</div>
