<div class="Page_Section">
  <div class="container-fluid">
     <!-- page Identity -->
     <div class="Page_Identity">
        <div class="Page_Name">
           <h5>CUSTOMER EDIT</h5>
        </div>
       <div class="Page_Track">
           <ul>
              <li class="HeaderName">CRM</li>
              <li class="arrow">>></li>
              <li class="LinkName" [routerLink]="['/Crm_Customers_List']">Customers List</li>
              <li class="arrow">>></li>
              <li> Customer Edit</li>
           </ul>
        </div>
     </div>
     <div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
        <div class="Loading">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
                <div class="rect6"></div>
            </div>
        </div>
    </div>
    <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
        <form [formGroup]="Form">
            <!-- left section -->
            <div class="row">
            <div class="col-sm-3" >
                <div class="Left_Section">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                        <div class="PictureSection">
                            <img src="../../../../../assets/images/basic/company.png" alt="Company Image">
                            <!-- <button type="button" mat-raised-button color="primary"> Change Picture </button> -->
                        </div>
                        </div>
                        <div class="col-sm-12 Form_Input" [ngClass]="{'Form_Err': !Form.controls['CompanyName'].pristine && Form.controls['CompanyName'].errors, 'Form_Success': Form.controls['CompanyName'].valid && !Form.controls['CompanyName'].pristine }">
                        <input type="text" formControlName="CompanyName"  placeholder="Company Name">
                        <p class="error" *ngIf="Form.controls['CompanyName'].errors && !Form.controls['CompanyName'].pristine">
                            <span *ngIf="Form.controls['CompanyName'].errors.required"> Company Name is required</span>
                        </p>
                        </div>
                        <div class="col-sm-12 Form_Input" [ngClass]="{'Form_Err': !Form.controls['PhoneNumber'].pristine && Form.controls['PhoneNumber'].errors, 'Form_Success': Form.controls['PhoneNumber'].valid && !Form.controls['PhoneNumber'].pristine }">
                        <input type="text" formControlName="PhoneNumber" placeholder="Phone Number">
                        <p class="error" *ngIf="Form.controls['PhoneNumber'].errors && !Form.controls['PhoneNumber'].pristine">
                            <span *ngIf="Form.controls['PhoneNumber'].errors.required"> Phone Number is required</span>
                        </p>
                        </div>
                        <div class="col-sm-12 Form_Input" [ngClass]="{'Form_Err': !Form.controls['EmailAddress'].pristine && Form.controls['EmailAddress'].errors, 'Form_Success': Form.controls['EmailAddress'].valid && !Form.controls['EmailAddress'].pristine }" >
                        <input type="text" formControlName="EmailAddress" placeholder="Email Address">
                        <p class="error" *ngIf="Form.controls['EmailAddress'].errors && !Form.controls['EmailAddress'].pristine">
                            <span *ngIf="Form.controls['EmailAddress'].errors.required"> Phone Number is required</span>
                        </p>
                        </div>
                        <div class="col-sm-12 Form_Input" >
                        <input type="text" formControlName="Website" placeholder="Website">
                        </div>
                    </div>
                </div>
            </div>
            <!-- company Details -->
            <div class="col-sm-9">
                <div class="BoxStyle_1">
                    <h5 class="BoxHeader"> Company Details </h5>
                    <div class="row">
                        <div class="col-sm-4 Form_Input" >
                        <input type="text" formControlName="NoOfEmployees" placeholder="No.Of Eployees">
                        </div>
                        <div class="col-sm-4 Form_Select" >
                            <ng-select class="NgSelect ValueBold" formControlName="CompanyType" (change)="CompanyTypeChange()" [searchable]="true" placeholder="Company Type">
                                <ng-option *ngFor="let CompanyType of _CompanyTypes" [value]="CompanyType">{{ CompanyType }}</ng-option>
                            </ng-select>
                            <p class="error" *ngIf="Form.controls['CompanyType'].errors && !Form.controls['CompanyType'].pristine">
                                <span *ngIf="Form.controls['CompanyType'].errors.required"> Company Type is required</span>
                            </p>
                        </div>
                        <ng-container *ngIf="AddLimitField">
                            <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': !Form.controls['TicketsLimit'].pristine && Form.controls['TicketsLimit'].errors, 'Form_Success': Form.controls['TicketsLimit'].valid && !Form.controls['TicketsLimit'].pristine }" >
                               <input type="text" formControlName="TicketsLimit" placeholder="Tickets Limit">
                               <p class="error" *ngIf="Form.controls['TicketsLimit'].errors && !Form.controls['TicketsLimit'].pristine">
                                  <span *ngIf="Form.controls['TicketsLimit'].errors.required"> No Of Breack Downs is required</span>
                               </p>
                            </div>
                            <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': !Form.controls['AMCFrom'].pristine && Form.controls['AMCFrom'].errors, 'Form_Success': Form.controls['AMCFrom'].valid && !Form.controls['AMCFrom'].pristine }" >
                                <input type="text" formControlName="AMCFrom" [matDatepicker]="Datepicker" (click)="Datepicker.open()" (keypress)="NotAllow()" (keydown)="NotAllow()" placeholder="AMC Duration From">
                                <mat-datepicker #Datepicker></mat-datepicker>
                                <p class="error" *ngIf="Form.controls['AMCFrom'].errors && !Form.controls['AMCFrom'].pristine">
                                    <span *ngIf="Form.controls['AMCFrom'].errors.required"> AMC Duration From Date is required</span>
                                </p>
                            </div>
                            <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': !Form.controls['AMCTo'].pristine && Form.controls['AMCTo'].errors, 'Form_Success': Form.controls['AMCTo'].valid && !Form.controls['AMCTo'].pristine }" >
                                <input type="text" formControlName="AMCTo" [matDatepicker]="DatepickerOne" (click)="DatepickerOne.open()" (keypress)="NotAllow()" (keydown)="NotAllow()" placeholder="AMC Duration To">
                                <mat-datepicker #DatepickerOne></mat-datepicker>
                                <p class="error" *ngIf="Form.controls['AMCTo'].errors && !Form.controls['AMCTo'].pristine">
                                    <span *ngIf="Form.controls['AMCTo'].errors.required"> AMC Duration To Date is required</span>
                                </p>
                            </div>
                         </ng-container>
                        <div class="col-sm-4 Form_Select">
                        <ng-select class="NgSelect ValueBold"
                                        [items]='_Industry_Types'
                                        [bindLabel]="'Industry_Type'"
                                        formControlName="IndustryType"
                                        [searchable]="true"
                                        placeholder="Industry Type">
                        </ng-select>
                        </div>
                        <div class="col-sm-4 Form_Select" >
                            <ng-select class="NgSelect ValueBold"
                                [items]='_Ownership_Types'
                                [bindLabel]="'Ownership_Type'"
                                formControlName="OwnershipType"
                                [searchable]="true"
                                placeholder="Ownership Type">
                            </ng-select>
                        </div>
                        <div class="col-sm-4 Form_Input" >
                            <input type="text" formControlName="StateCode" placeholder="State Code">
                        </div>
                        <div class="col-sm-4 Form_Input" >
                        <input  type="text" formControlName="GSTNo" placeholder="GST No">
                        </div>
                        <div class="col-sm-4 Form_TextArea" >
                        <textarea type="text" formControlName="Notes" row="5" placeholder="Notes"></textarea>
                        </div>
                    </div>
                </div>

                <!-- Billing Address -->
                <div class="BoxStyle_1">
                    <h5 class="BoxHeader"> Billing Address </h5>
                    <div class="row">
                        <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': !Form.controls['BillingStreet'].pristine && Form.controls['BillingStreet'].errors, 'Form_Success': Form.controls['BillingStreet'].valid && !Form.controls['BillingStreet'].pristine }">
                        <input type="text" formControlName="BillingStreet" placeholder="No / Street" (input)="BillingAddressAny_Changes()" >
                        <p class="error" *ngIf="Form.controls['BillingStreet'].errors && !Form.controls['BillingStreet'].pristine">
                            <span *ngIf="Form.controls['BillingStreet'].errors.required"> No / Street is required</span>
                        </p>
                        </div>
                        <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': !Form.controls['BillingArea'].pristine && Form.controls['BillingArea'].errors, 'Form_Success': Form.controls['BillingArea'].valid && !Form.controls['BillingArea'].pristine }">
                        <input type="text" formControlName="BillingArea" placeholder="Area" (input)="BillingAddressAny_Changes()">
                        <p class="error" *ngIf="Form.controls['BillingArea'].errors && !Form.controls['BillingArea'].pristine">
                            <span *ngIf="Form.controls['BillingArea'].errors.required"> Area is required</span>
                        </p>
                        </div>
                        <div class="col-sm-4 Form_Select" >
                            <ng-select class="NgSelect ValueBold"
                                [items]='AllCountry'
                                [bindLabel]="'Country_Name'"
                                formControlName="BillingCountry"
                                [searchable]="true"
                                (ngModelChange)="BillingCountry_Change(); BillingAddressAny_Changes()"
                                placeholder="Country">
                            </ng-select>
                        <p class="error" *ngIf="Form.controls['BillingCountry'].errors && !Form.controls['BillingCountry'].pristine">
                            <span *ngIf="Form.controls['BillingCountry'].errors.required"> Country is required</span>
                        </p>
                        </div>
                        <div class="col-sm-4 Form_Select" >
                            <ng-select class="NgSelect ValueBold"
                                [items]='AllStateOfCountry'
                                [bindLabel]="'State_Name'"
                                formControlName="BillingState"
                                [searchable]="true"
                                (ngModelChange)="BillingState_Change(); BillingAddressAny_Changes()"
                                placeholder="State">
                            </ng-select>
                        <p class="error" *ngIf="Form.controls['BillingState'].errors && !Form.controls['BillingState'].pristine">
                            <span *ngIf="Form.controls['BillingState'].errors.required"> State is required</span>
                        </p>
                        </div>
                        <div class="col-sm-4 Form_Select" >
                            <ng-select class="NgSelect ValueBold"
                                [items]='AllCityOfState'
                                [bindLabel]="'City_Name'"
                                formControlName="BillingCity"
                                [searchable]="true"
                                (ngModelChange)="BillingAddressAny_Changes()"
                                placeholder="City">
                            </ng-select>
                        <p class="error" *ngIf="Form.controls['BillingCity'].errors && !Form.controls['BillingCity'].pristine">
                            <span *ngIf="Form.controls['BillingCity'].errors.required"> City is required</span>
                        </p>
                        </div>
                        <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': !Form.controls['BillingZipCode'].pristine && Form.controls['BillingZipCode'].errors, 'Form_Success': Form.controls['BillingZipCode'].valid && !Form.controls['BillingZipCode'].pristine }">
                        <input type="text" formControlName="BillingZipCode" placeholder="Zip Code" (input)="BillingAddressAny_Changes()" >
                        <p class="error" *ngIf="Form.controls['BillingZipCode'].errors && !Form.controls['BillingZipCode'].pristine">
                            <span *ngIf="Form.controls['BillingZipCode'].errors.required"> Zip Code is required</span>
                        </p>
                        </div>
                    </div>
                </div>
                <!-- shop floor Address -->
                <div class="BoxStyle_1">
                    <div class="row">
                        <div class="col-sm-6">
                        <h5 class="BoxHeader"> Shop floor Address </h5>
                        </div>
                        <div class="col-sm-6 text-right">
                        <mat-checkbox formControlName="SameAddresses" class="MatCheckboxStyle_1" [labelPosition]="'after'" (change)="SameAddresses_Change()"> 
                                Same As Billing Address 
                        </mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': !Form.controls['ShopFloorStreet'].pristine && Form.controls['ShopFloorStreet'].errors, 'Form_Success': Form.controls['ShopFloorStreet'].valid && !Form.controls['ShopFloorStreet'].pristine }">
                        <input type="text" formControlName="ShopFloorStreet" placeholder="No / Street">
                        <p class="error" *ngIf="Form.controls['ShopFloorStreet'].errors && !Form.controls['ShopFloorStreet'].pristine">
                            <span *ngIf="Form.controls['ShopFloorStreet'].errors.required"> No / Street is required</span>
                        </p>
                        </div>
                        <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': !Form.controls['ShopFloorArea'].pristine && Form.controls['ShopFloorArea'].errors, 'Form_Success': Form.controls['ShopFloorArea'].valid && !Form.controls['ShopFloorArea'].pristine }">
                        <input type="text" formControlName="ShopFloorArea" placeholder="Area" >
                        <p class="error" *ngIf="Form.controls['ShopFloorArea'].errors && !Form.controls['ShopFloorArea'].pristine">
                            <span *ngIf="Form.controls['ShopFloorArea'].errors.required"> Area is required</span>
                        </p>
                        </div>
                        <div class="col-sm-4 Form_Select" >
                            <ng-select class="NgSelect ValueBold"
                                [items]='ShopFloorAllCountry'
                                [bindLabel]="'Country_Name'"
                                formControlName="ShopFloorCountry"
                                [searchable]="true"
                                (ngModelChange)="ShopFloorCountry_Change()"
                                placeholder="Country">
                            </ng-select>
                        <p class="error" *ngIf="Form.controls['ShopFloorCountry'].errors && !Form.controls['ShopFloorCountry'].pristine">
                            <span *ngIf="Form.controls['ShopFloorCountry'].errors.required"> Country is required</span>
                        </p>                    
                        </div>
                        <div class="col-sm-4 Form_Select" >
                            <ng-select class="NgSelect ValueBold"
                                [items]='ShopFloorAllStateOfCountry'
                                [bindLabel]="'State_Name'"
                                formControlName="ShopFloorState"
                                [searchable]="true"
                                (ngModelChange)="ShopFloorState_Change()"
                                placeholder="State">
                            </ng-select>
                        <p class="error" *ngIf="Form.controls['ShopFloorState'].errors && !Form.controls['ShopFloorState'].pristine">
                            <span *ngIf="Form.controls['ShopFloorState'].errors.required"> State is required</span>
                        </p>
                        </div>
                        <div class="col-sm-4 Form_Select" >
                            <ng-select class="NgSelect ValueBold"
                                [items]='ShopFloorAllCityOfState'
                                [bindLabel]="'City_Name'"
                                formControlName="ShopFloorCity"
                                [searchable]="true"
                                placeholder="City">
                            </ng-select>
                        <p class="error" *ngIf="Form.controls['ShopFloorCity'].errors && !Form.controls['ShopFloorCity'].pristine">
                            <span *ngIf="Form.controls['ShopFloorCity'].errors.required"> City is required</span>
                        </p>
                        </div>
                        <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': !Form.controls['ShopFloorZipCode'].pristine && Form.controls['ShopFloorZipCode'].errors, 'Form_Success': Form.controls['ShopFloorZipCode'].valid && !Form.controls['ShopFloorZipCode'].pristine }" >
                        <input matInput type="text" formControlName="ShopFloorZipCode" placeholder="Zip Code">
                        <p class="error" *ngIf="Form.controls['ShopFloorZipCode'].errors && !Form.controls['ShopFloorZipCode'].pristine">
                            <span *ngIf="Form.controls['ShopFloorZipCode'].errors.required"> Zip Code is required</span>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <br>
            <br>
            <br>
            <div class="FormSubmitSection">
            <div class="row"> 
                <div class="col-sm-12 text-right">
                    <button type="button" [disabled]="!Form.valid && Form.invalid" (click)="Submit()" mat-raised-button color="primary"> Update </button>
                </div>
            </div>
            </div>
        </form>
    </div>
  </div>
</div>