<!--  Header Part -->
<!-- Create and search Section -->
<div class="row header_part">
   <div class="col-sm-6">
      <button class="Create_Button" mat-raised-button (click)="CreateAttendanceLog()"> + Create </button>
   </div>
   <div class="col-sm-6">
      <div class="Search_Section">
         <input type="text" placeholder="Search.." name="search">
         <i class="material-icons">search</i>
      </div>
   </div>
</div>
<!-- Table Section -->
<div class="Table_Section">
   <table>
      <thead>
         <tr>
         <th>S.no</th>
         <th> Employee </th>
         <th> Date </th>
         <th> Attendance </th>
         <th> Registered By </th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let Attendance of _List; let i=index">
            <td>
               <span class="S_no"> {{ i +1 }} </span>
            </td>
            <td>
               <span class="Style_1"> {{Attendance?.Employee?.EmployeeName }} </span>
            </td>
            <td>
               <span class="Style_1"> {{Attendance?.Attendance_Date | date:'d-M-yyyy'}} ( {{Attendance?.Attendance_Date | date:'EEEE'}} )</span>
            </td>
            <td>
               <span class="Style_1"> {{Attendance?.Attendance }} </span>
            </td>
            <td>
               <span class="Style_1"> {{Attendance?.Created_By?.Name }} </span>
               <br> 
               <span class="Time"> {{Attendance?.createdAt | date:'medium'}}  </span>
            </td>
         </tr>
      </tbody>
   </table>
</div>