<div class="Modal_Content" style="background-color: #F1F4F7;"*ngIf="Type && Type === 'Create'">
   <div class="Modal_Header">
      <p>Create Onduty</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="Company_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Personal <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-6 Form_Input" >
                     <label>Name:</label>
                     <input type="text" placeholder="Name">
                  </div>
                  <div class="col-sm-6 Form_Input" >
                     <label>UserName:</label>
                        <input type="text" placeholder="username">
                     </div>
                     <div class="col-sm-6 Form_Input" >
                        <label>Department:</label>
                           <input type="text" placeholder="Department">
                        </div>
                        <div class="col-sm-6 Form_Input" >
                           <label>Designation:</label>
                           <input type="text" placeholder="Designation">
                        </div>
                  <div class="col-sm-6 Form_Input" >
                     <label>Email Id:</label>
                     <input type="text" placeholder="emailid"> 
                  </div>
                  <div class="col-sm-6 Form_Input" >
                     <label>Contact Number:</label>
                     <input type="text" placeholder="contactnumber"> 
                  </div>
               </div>
            </div>
         </div>
         <br>
         <div class="Product_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;"> Application <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-6 Form_Input" >
                     <label>Date:</label>
                     <input type="text" placeholder="Date">
                  </div>
                  <div class="col-sm-6 Form_Input" >
                     <label>OD Date:</label>
                        <input type="text" placeholder="from">
                     </div>
                     <div class="col-sm-6 Form_Input" >
                        <label>Working Day:</label>
                           <input type="text" placeholder="Designation">
                        </div>
                  <div class="col-sm-6 Form_Input" >
                     <label>Out Time:</label>
                     <input type="text" placeholder="out time"> 
                  </div>
                  <div class="col-sm-6 Form_Input" >
                     <label>In Time:</label>
                  <input type="text" placeholder="in time"> 
               </div>
               <div class="col-sm-6 Form_TextArea" >
                  <label>Purpose:</label>
                  <textarea class="purpose" rows="3"></textarea>
            </div>
               </div>
            </div>
         </div>
      </div>
   </div>
      <div class="Model_Footer">
         <button mat-raised-button color="primary" > Submit </button>
      </div>
 </div>
 <div class="Modal_Content" style="background-color: #F1F4F7;"*ngIf="Type && Type === 'View'">
   <div class="Modal_Header">
      <p>View Onduty</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="Company_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Personal <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                     <div class="col-sm-6 text-center Left_Section">
                           <div class="row">
                              <div class="col-sm-4 text-right Static"> Name: </div>
                              <div class="col-sm-8 text-left Data">aashi </div>
                             </div>
                             <div class="row">
                                 <div class="col-sm-4 text-right Static"> UserName: </div>
                                 <div class="col-sm-8 text-left Data"> aashi</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-right Static"> Department: </div>
                                    <div class="col-sm-8 text-left Data"> Department</div>
                                   </div>
                          </div>
                          <div class="col-sm-6 Right_Section">
                            <div class="left-data">
                                 <div class="row">
                                       <div class="col-sm-4 text-right Static"> Designation: </div>
                                       <div class="col-sm-8 text-left Data"> Designation </div>
                                      </div>
                             <div class="row">
                                <div class="col-sm-4 text-right Static">  Email: </div>
                                <div class="col-sm-8 text-left Data">sample@gmail.com </div>
                              </div>
                              <div class="row">
                                    <div class="col-sm-4 text-right Static">  Contact: </div>
                                    <div class="col-sm-8 text-left Data">+6454375 </div>
                                  </div>
                            </div>
                          </div>
               </div>
            </div>
         </div>
         <br>
         <div class="Product_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;"> Application <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                     <div class="col-sm-6 text-center Left_Section">
                           <div class="row">
                              <div class="col-sm-4 text-right Static"> Date: </div>
                              <div class="col-sm-8 text-left Data">27/05/17 </div>
                             </div>
                             <div class="row">
                                 <div class="col-sm-4 text-right Static"> OD Date: </div>
                                 <div class="col-sm-8 text-left Data"> 27/02/18</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-right Static"> Working day: </div>
                                    <div class="col-sm-8 text-left Data"> Working day</div>
                                   </div>
                          </div>
                          <div class="col-sm-6 Right_Section">
                            <div class="left-data">
                                 <div class="row">
                                       <div class="col-sm-4 text-right Static"> Out Time : </div>
                                       <div class="col-sm-8 text-left Data"> 3pm </div>
                                      </div>
                             <div class="row">
                                <div class="col-sm-4 text-right Static">  In Time: </div>
                                <div class="col-sm-8 text-left Data">9am </div>
                              </div>
                              <div class="row">
                                    <div class="col-sm-4 text-right Static">  Purpose: </div>
                                    <div class="col-sm-8 text-left Data">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                                  </div>
                            </div>
                          </div>
               </div>
            </div>
         </div>
      </div>
   </div>
      <div class="Model_Footer">
      </div>
 </div>