<app-header></app-header>
<div class="Main_Section">
   <!-- page section -->
   <div class="Page_Section">
      <div class="container-fluid">
      <!-- page Identity -->
         <div class="Page_Identity">
            <div class="Page_Name">
               <h5>TICKETS</h5>
            </div>
            <div class="Page_Track">
               <ul >
                  <li class="HeaderName">CRM</li>
                  <li class="arrow">>></li>
                  <li>Tickets List</li>
               </ul>
            </div>
         </div>
         <div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
            <div class="Loading">
               <div class="spinner">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                  <div class="rect4"></div>
                  <div class="rect5"></div>
                  <div class="rect6"></div>
               </div>
            </div>
         </div>
         <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
            <!-- Create and search section -->
            <div class="row header_part">
               <div class="col-sm-6">
                  <button class="Create_Button" mat-raised-button color="primary" [routerLink]="['/crm_ticket_create']"> + Create </button>
               </div>
               <div class="col-sm-6">
                  <div class="Search_Section">
                     <input type="text" placeholder="Search.." name="search">
                     <i class="material-icons">search</i>
                  </div>
               </div>
            </div>
            <!-- Table Section -->
            <div class="Table_Section">
               <table>
                  <thead>
                     <tr>
                        <th> S.no </th>
                        <th> Ticket Id </th>
                        <th> Customer Name </th>
                        <th> Machine Name </th>
                        <th> Ticket Type </th>
                        <th> Date and Time </th>
                        <th> Last Modified By </th>
                        <th> Status </th>
                        <th> Action </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let Ticket of _List; let i=index">
                        <td>
                           <span class="S_no"> {{i + 1}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Ticket.TicketId}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Ticket.Customer?.CompanyName}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Ticket.Machine?.MachineName}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Ticket.TicketType?.Ticket_Type}} </span>
                        </td>
                        <td>
                           <span class="Style_1">{{Ticket.TicketOpenDate | date:'d-M-y'}}, {{Ticket.TicketOpenTime}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{Ticket.Last_Modified_By?.Name}}
                              <br> <span class="Time">{{Ticket.updatedAt | date:'medium'}}</span>
                           </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Ticket.CurrentStatus?.Value}} </span>
                        </td>
                        <td>
                           <button mat-raised-button color="primary" [routerLink]="['/Crm_Tickets_View', Ticket._id]"> Action </button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>