<div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
   <div class="Loading">
      <div class="spinner">
         <div class="rect1"></div>
         <div class="rect2"></div>
         <div class="rect3"></div>
         <div class="rect4"></div>
         <div class="rect5"></div>
         <div class="rect6"></div>
      </div>
   </div>
</div>
<div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
   
   <div class="Charts">
      <div *ngFor="let item of _List; let i=index" class="widget" [ngStyle]="{'background-color' : item.Machine?.ColorBg }" >
         <div class="header" [ngStyle]="{'background-color' : item.Machine?.Color }">{{item.Machine?.MachineName}} </div>
         <div id="{{ 'Chart' + i }}" class="chart-container"></div>
      </div>
   </div>


</div>