<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- page identity -->
      <div class="Page_Identity">
         <div class="Page_Name">
            <h5>EXPENSES CREATE</h5>
         </div>
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Home</li>
               <li class="arrow">>></li>
               <li class="LinkName"><a [routerLink]="['/Expenses_List']">Expenses List</a></li>
               <li class="arrow">>></li>
               <li> Expenses Create </li>
            </ul>
         </div>
      </div>
      <!-- Company details -->
      <div class="Company_Details">
         <form [formGroup]="Form">
            <div class="row">
               <div class="col-sm-4 Form_Select" >
                  <label>Employee Name:</label>
                  <ng-select class="NgSelect" 
                              [items]="_EmployeeName" 
                              bindLabel="EmployeeName"
                              bindValue="_id"
                              formControlName="Employee"
                              [searchable]="true" 
                              placeholder="Employee Name">
                  </ng-select>
                  <p class="error" *ngIf="Form.controls['Employee'].errors && !Form.controls['Employee'].touched">
                     <span *ngIf="Form.controls['Employee'].errors.required">Employee is required</span>
                  </p>
               </div>
               <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': !Form.controls['Applied_Date'].pristine && Form.controls['Applied_Date'].errors, 'Form_Success': Form.controls['Applied_Date'].valid && !Form.controls['Applied_Date'].pristine }">
                  <label>Date:</label>
                  <input matInput [min]="Today" formControlName="Applied_Date" [matDatepicker]="DatePicker1" (dateChange)="DateChange($event.value)" (click)="DatePicker1.open()" (keypress)="NotAllow()" (keydown)="NotAllow()" placeholder="Date">
                  <mat-datepicker #DatePicker1></mat-datepicker>
                  <p class="error" *ngIf="Form.controls['Applied_Date'].errors && !Form.controls['Applied_Date'].pristine">
                     <span *ngIf="Form.controls['Applied_Date'].errors.required">Date is required</span>
                  </p>
               </div>
               <div class="col-sm-4 Form_Input">
                  <label>Required Date:</label>
                  <input matInput [min]="MinDate" formControlName="Required_Date" [matDatepicker]="DatePicker2" (click)="DatePicker2.open()" (keypress)="NotAllow()" (keydown)="NotAllow()" placeholder="Required Date">
                  <mat-datepicker #DatePicker2></mat-datepicker>
               </div>
               <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': !Form.controls['Amount'].pristine && Form.controls['Amount'].errors, 'Form_Success': Form.controls['Amount'].valid && !Form.controls['Amount'].pristine }">
                  <label> Amount: </label>
                  <input formControlName="Amount" (keypress)="OnlyNumber($event)" placeholder="Amount">
                  <p class="error" *ngIf="Form.controls['Amount'].errors && !Form.controls['Amount'].pristine">
                     <span *ngIf="Form.controls['Amount'].errors.required">Amount is required</span>
                     <span *ngIf="Form.controls['Amount'].errors.pattern">Only Numbers are Allowed </span>
                  </p>
               </div>
               <div class="col-sm-4 Form_Select" >
                  <label>Expenses Type:</label>
                  <ng-select class="NgSelect" 
                              [items]="_ExpensesTypes" 
                              bindLabel="Expenses_Type"
                              bindValue="_id"
                              formControlName="Expenses_Type"
                              [searchable]="true" 
                              placeholder="Expenses Type">
                  </ng-select>
                  <p class="error" *ngIf="Form.controls['Expenses_Type'].errors && !Form.controls['Expenses_Type'].pristine">
                     <span *ngIf="Form.controls['Expenses_Type'].errors.required">Expenses Type is required</span>
                  </p>
               </div>
               <div class="col-sm-4 Form_TextArea" [ngClass]="{'Form_Err': !Form.controls['Description'].pristine && Form.controls['Description'].errors, 'Form_Success': Form.controls['Description'].valid && !Form.controls['Description'].pristine }">
                  <label>Description:</label>
                  <textarea rows="3" formControlName="Description"></textarea>
                  <p class="error" *ngIf="Form.controls['Description'].errors && !Form.controls['Description'].pristine">
                     <span *ngIf="Form.controls['Description'].errors.required">Description is required</span>
                  </p>
               </div>
            </div>
         </form>
         <div class="row">
            <div class="col-sm-12 text-right">
               <button mat-raised-button [disabled]="!Form.valid && Form.invalid" color="primary" style = "top: 5px;" (click)=" Submit()"> Submit </button>
            </div>
         </div>
      </div>
   </div>
</div>