<div class="Main_Section" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">HR</li>
               <li class="arrow">>></li>
               <li>Payroll</li>
            </ul>
         </div>
      </div>
      <!--  Header Part -->
      <!-- Create and search Section -->
      <div class="row header_part">
         <div class="col-sm-6">
         </div>
         <div class="col-sm-6">
            <div class="Search_Section">
               <input type="text" placeholder="Search.." name="search">
               <i class="material-icons">search</i>
            </div>
         </div>
      </div><br>
      <!-- Table Section -->
      <div class="Table_Section">
         <table>
            <thead>
               <tr>
               <th>S.no</th>
               <th> Employee Name </th>
               <th> Employee Code </th>
               <th> Month </th>
               <th> Earnings </th>
               <th> Dedections </th>
               <th> Payable Amount </th>
               <th> Action </th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let item of _List; let i=index">
                  <td>
                     <span class="S_no"> {{i + 1}} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{item?.Employee?.EmployeeName}} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{item?.Employee?.EmployeeCode}} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{item?.Month | date:'MMMM y'}} </span>
                  </td>
                  <td>
                     <span class="Style_1"> Rs. {{item?.Total_Earning}} </span>
                  </td>
                  <td>
                     <span class="Style_1"> Rs. {{item?.Total_Detection}} </span>
                  </td>
                  <td>
                     <span class="Style_1"> Rs. {{item?.Total_Salary}} </span>
                  </td>
                  <td>
                     <button [routerLink]="['/Payroll_View', item._id]" class="Table_Action_mini Bg_Info" mat-mini-fab color="primary">
                        <i class="material-icons">zoom_in</i>
                     </button>
                     <button (click)="DeletePayroll(i)" class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary">
                        <i class="material-icons">delete_forever</i>
                     </button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>