<div class="Page_Section">
  <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Name">
            <h5> TICKET VIEW</h5>
         </div>
         <div class="Page_Track">
            <ul >
               <li class="HeaderName">CRM</li>
               <li class="arrow">>></li>
               <li class="LinkName" [routerLink]="['/crm_ticket_list']">Tickets List</li>
               <li class="arrow">>></li>
               <li> Ticket View</li>
            </ul>
         </div>
      </div>
      <!-- Ticket Info  -->
      <!-- Loader -->
      <div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
         <div class="Loading">
            <div class="spinner">
               <div class="rect1"></div>
               <div class="rect2"></div>
               <div class="rect3"></div>
               <div class="rect4"></div>
               <div class="rect5"></div>
               <div class="rect6"></div>
            </div>
         </div>
      </div>
      <!-- Main Data -->
      <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
         <div class="Ticket_Info_Section">
            <div class="row">
               <div class="col-sm-6">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Ticket_Details_Title">
                           <h5>Ticket Id <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Ticket_Details_Value">
                           <h5>{{_Data['TicketId']}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Ticket_Details_Title">
                           <h5> Customer <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Ticket_Details_Value">
                           <h5>{{_Data['Customer']?.CompanyName}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Ticket_Details_Title">
                           <h5> Machine <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Ticket_Details_Value">
                           <h5>{{_Data['Machine']?.MachineName}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Ticket_Details_Title">
                           <h5>Ticket Type <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Ticket_Details_Value">
                           <h5 >{{_Data['TicketType']?.Ticket_Type}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Ticket_Details_Title">
                           <h5> Date of Creation <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Ticket_Details_Value">
                           <h5>{{_Data['TicketOpenDate'] | date:'d-M-y'}}, {{_Data['TicketOpenTime']}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Ticket_Details_Title">
                           <h5> Status <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Ticket_Details_Value">
                           <h5> {{_Data['CurrentStatus']?.Value}} </h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Ticket_Details_Title">
                           <h5> Idle Ticket <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Ticket_Details_Value">
                           <h5 *ngIf="_Data['If_Idle']"> Yes </h5> <h5 *ngIf="!_Data['If_Idle']"> No </h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Ticket_Details_Title">
                           <h5> Date of Completion <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Ticket_Details_Value">
                           <h5>{{_Data['TicketCloseDate'] | date:'d-M-y'}}, {{_Data['TicketCloseTime'] }}</h5>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Ticket_Details_Title">
                           <h5> Created By <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Ticket_Details_Value">
                           <h5 >{{_Data['Created_By']?.Name}} <span> ( {{_Data['createdAt'] | date:'medium'}} ) </span> </h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Ticket_Details_Title">
                           <h5>Last Modified By <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Ticket_Details_Value">
                           <h5 >{{_Data['Last_Modified_By']?.Name}} <span> ( {{_Data['updatedAt'] | date:'medium'}} ) </span> </h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Ticket_Details_Title">
                           <h5> Issue <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Ticket_Details_Value">
                           <h5> {{_Data['Issue']}}</h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br>
      <!-- Create and search Section -->
      <div class="row Activity_Header">
         <div class="col-sm-3">
            <button *ngIf="_Data['CurrentStatus']?.Type !== 'Type_6'" class="Create_Button" mat-raised-button color="primary" (click)="CreateTicketsActivity()"> + Create </button>
         </div>
         <div class="col-sm-6">
            <h5>Activities</h5>
         </div>
      </div>
      <!-- Table Section -->
      <div class="Table_Section">
         <table>
            <thead>
               <tr>
               <th style="width: 50px;"> S.no </th>
               <th style="width: 150px;"> Contact Person </th>
               <th style="width: 150px;"> Employee Name </th>
               <th style="width: 200px;"> Activity Start </th>
               <!-- <th style="width: 160px;"> Activity End </th> -->
               <th style="width: 170px;"> Last Modified </th>
               <th> Status </th>
               <th> Description </th>
               <th> Action </th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let Activity of _ActivityList; let i=index">
                  <td>
                     <span class="S_no"> {{i + 1}} </span>
                  </td>
                  <td>
                      <span class="Style_1"> {{Activity['Contact']?.Name}} </span>
                   </td>
                  <td>
                     <span class="Style_1"> {{Activity['Employee']?.EmployeeName}} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{Activity['StartDate'] | date:'medium' }}</span>
                  </td>
                  <!-- <td>
                        <span class="Style_1"> {{Activity['EndDate'] | date:'d-M-y'}}, {{Activity['EndTime']}} </span>
                  </td> -->
                  <td>
                     <span class="Style_1">{{_Data['Last_Modified_By']?.Name}}
                        <br> <span class="Time">{{_Data['updatedAt'] | date:'medium'}}</span>
                     </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{Activity['Status']?.Value}} </span>
                  </td>
                  <td>
                     <span class="Style_1"> {{Activity['Description']}} </span>
                  </td>
                  <td>
                     <!-- <button  [routerLink]="['/Crm_Tickets_View', Activity['_id']]" class="Table_Action_mini Bg_Info" mat-mini-fab color="primary">
                        <i class="material-icons">zoom_in</i>
                     </button> -->
                     <button *ngIf="User_Type !== 'Employee'" (click)="EditTicketActivity(i)" class="Table_Action_mini Bg_warning" mat-mini-fab color="primary">
                        <i class="material-icons">edit</i>
                     </button>
                     <button *ngIf="User_Type !== 'Employee'" (click)="DeleteTicketsActivity(i)" class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary">
                        <i class="material-icons">delete_forever</i>
                     </button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <br>
      <br>
   </div>
</div>