<div class="Modal_Content" style="background-color: #F1F4F7;"*ngIf="Type && Type === 'Create'">
   <div class="Modal_Header">
      <p>Create Leaves</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="Company_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Personal <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-6 Form_Input" >
                     <label>Name:</label>
                     <input type="text" placeholder="Name">
                  </div>
                  <div class="col-sm-6 Form_Input" >
                     <label>Department:</label>
                        <input type="text" placeholder="Department">
                     </div>
                     <div class="col-sm-6 Form_Input" >
                        <label>Designation:</label>
                           <input type="text" placeholder="Designation">
                        </div>
                  <div class="col-sm-6 Form_Input" >
                     <label>Email Id:</label>
                     <input type="text" placeholder="emailid"> 
                  </div>
                  <div class="col-sm-6 Form_Input" >
                     <label>Contact Number:</label>
                     <input type="text" placeholder="contactnumber"> 
                  </div>
               </div>
            </div>
         </div>
         <br>
         <div class="Product_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;"> Application <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-6 Form_Select">
                     <label>Leave Type:</label>
                     <select>
                        <option checked>Select Leave Type</option>
                        <option> Leave Type1</option>
                        <option> Leave Type2</option>
                        <option> Leave Type3</option>
                        <option> Leave Type4</option>
                     </select>
                  </div>
                  <div class="col-sm-6 Form_Input" >
                     <label>From:</label>
                        <input type="text" placeholder="from">
                     </div>
                     <div class="col-sm-6 Form_Input" >
                        <label>To:</label>
                           <input type="text" placeholder="Designation">
                        </div>
                  <div class="col-sm-6 Form_Input" >
                     <label>Purpose:</label>
                     <input type="text" placeholder="purpose"> 
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
      <div class="Model_Footer">
         <button mat-raised-button color="primary" > Submit </button>
      </div>
 </div>
 <div class="Modal_Content" style="background-color: #F1F4F7;"*ngIf="Type && Type === 'View'">
   <div class="Modal_Header">
      <p>View Leaves</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="Company_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Personal <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                     <div class="col-sm-6 text-center Left_Section">
                           <div class="row">
                              <div class="col-sm-4 text-right Static"> Name: </div>
                              <div class="col-sm-8 text-left Data">aashi </div>
                             </div>
                             <div class="row">
                                 <div class="col-sm-4 text-right Static"> Department: </div>
                                 <div class="col-sm-8 text-left Data"> Department</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-right Static"> Designation: </div>
                                    <div class="col-sm-8 text-left Data"> Designation</div>
                                   </div>
                          </div>
                          <div class="col-sm-6 Right_Section">
                            <div class="left-data">
                                 <div class="row">
                                       <div class="col-sm-4 text-right Static"> contact : </div>
                                       <div class="col-sm-8 text-left Data"> +536456324 </div>
                                      </div>
                             <div class="row">
                                <div class="col-sm-4 text-right Static">  Email: </div>
                                <div class="col-sm-8 text-left Data">sample@gmail.com </div>
                              </div>
                            </div>
                          </div>
               </div>
            </div>
         </div>
         <br>
         <div class="Product_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;"> Application <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                     <div class="col-sm-6 text-center Left_Section">
                           <div class="row">
                              <div class="col-sm-4 text-right Static"> Leave Type: </div>
                              <div class="col-sm-8 text-left Data"> Leave Type1</div>
                             </div>
                             <div class="row">
                                 <div class="col-sm-4 text-right Static"> From: </div>
                                 <div class="col-sm-8 text-left Data"> 27/05/18</div>
                                </div>
                          </div>
                          <div class="col-sm-6 Right_Section">
                            <div class="left-data">
                                 <div class="row">
                                       <div class="col-sm-4 text-right Static"> To : </div>
                                       <div class="col-sm-8 text-left Data"> 30/07/18 </div>
                                      </div>
                             <div class="row">
                                <div class="col-sm-4 text-right Static">  Purpose: </div>
                                <div class="col-sm-8 text-left Data">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                              </div>
                            </div>
                          </div>
               </div>
            </div>
         </div>
      </div>
   </div>
      <div class="Model_Footer">
      </div>
 </div>