<app-header></app-header>


<div class="Dashboard_Page">
  <!-- Page Identity -->
  <div class="Page_Identity">
      <div class="Page_Name">
         <h5>DashBoard</h5>
      </div>
      <!-- <div class="Page_Track">
         <ul >
           <li class="HeaderName">Dashboard</li>
           <li class="arrow">>></li>
           <li>Customers</li>
         </ul>
      </div>-->
   </div> 

  <!-- Dashboard Cards -->
  <div class="Dashboard_Cards">
    <div class="container-fluid">
      <div class="row">
        <!-- Left Bar -->
        <div class="col-sm-9">
          <!-- cards -->
          <div class="row">
            <div class="col-sm-3">
              <div class="Card card_bg_Liner_1">
                <div class="Card_Body">
                  <div class="Card_Left">
                      <i class="material-icons card_color_1">list_alt</i>
                  </div>
                  <div class="Card_Right">
                    <h5 class="card_color_1"> Total Orders </h5>
                    <h6> 207 </h6>
                  </div>
                </div>
                <div class="Card_Footer card_bg_1">
                  <span class="Card_Info"> Last Order 2min Ago </span>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="Card card_bg_Liner_2">
                <div class="Card_Body">
                  <div class="Card_Left">
                      <i class="material-icons card_color_2">local_shipping</i>
                  </div>
                  <div class="Card_Right">
                    <h5 class="card_color_2"> Un Delivered </h5>
                    <h6> 17 </h6>
                  </div>
                </div>
                <div class="Card_Footer card_bg_2">
                  <span class="Card_Info"> Last Delivery 45min Ago </span>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="Card card_bg_Liner_3">
                <div class="Card_Body">
                  <div class="Card_Left">
                      <i class="material-icons card_color_3">monetization_on</i>
                  </div>
                  <div class="Card_Right">
                    <h5 class="card_color_3"> Total Sale Value </h5>
                    <h6> $ 6450 </h6>
                  </div>
                </div>
                <div class="Card_Footer card_bg_3">
                  <span class="Card_Info"> Last Transaction 3days Ago </span>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="Card card_bg_Liner_4">
                <div class="Card_Body">
                  <div class="Card_Left">
                      <i class="material-icons card_color_4">account_balance_wallet</i>
                  </div>
                  <div class="Card_Right">
                    <h5 class="card_color_4"> Un Paid </h5>
                    <h6> $ 105 </h6>
                  </div>
                </div>
                <div class="Card_Footer card_bg_4">
                  <span class="Card_Info"> Last Transaction 3days Ago   </span>
                </div>
              </div>
            </div>
          </div>
          <br>
          <h6> Sale Progress </h6>
          <img style="width: 100%" src="../../../assets/images/basic/graph.jpg">
          <br>
          <br>
          <!-- orders -->
          <div class="row">
            <div class="col-sm-12">
              <div class="Table_Section">
                <table>
                  <thead>
                    <tr>
                      <th>S.no</th>
                      <th>Order No</th>
                      <th>Order Time </th>
                      <th>Location</th>
                      <th>Customer Info</th>
                      <th>Total Price</th>
                      <th>Delivery Time </th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span class="S_no"> 1 </span>
                      </td>
                      <td>
                        <span class="Main_Id"> Order-16694 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Name_Style"> location Display Name </span>
                      </td>
                      <td>
                        <span class="User_Style"> User Name </span>
                        <span class="User_Style"> User Email </span>
                      </td>
                      <td>
                        <span class="Price_Tag"> $34.00 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Status_Tag Bg_Info"> Processing </span>
                      </td>
                      <td>
                        <span class="Action_Section Bg_Info">
                          <i class="material-icons"> remove_red_eye </i>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="S_no"> 2 </span>
                      </td>
                      <td>
                        <span class="Main_Id"> Order-16694 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Name_Style"> location Display Name </span>
                      </td>
                      <td>
                        <span class="User_Style"> User Name </span>
                        <span class="User_Style"> User Email </span>
                      </td>
                      <td>
                        <span class="Price_Tag"> $34.00 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Status_Tag Bg_warning"> Canceled </span>
                      </td>
                      <td>
                        <span class="Action_Section Bg_Info">
                          <i class="material-icons"> remove_red_eye </i>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="S_no"> 3 </span>
                      </td>
                      <td>
                        <span class="Main_Id"> Order-16694 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Name_Style"> location Display Name </span>
                      </td>
                      <td>
                        <span class="User_Style"> User Name </span>
                        <span class="User_Style"> User Email </span>
                      </td>
                      <td>
                        <span class="Price_Tag"> $34.00 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Status_Tag Bg_Success"> Completed </span>
                      </td>
                      <td>
                        <span class="Action_Section Bg_Info">
                          <i class="material-icons"> remove_red_eye </i>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="S_no"> 4 </span>
                      </td>
                      <td>
                         
                        <span class="Main_Id"> Order-16694 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Name_Style"> location Display Name </span>
                      </td>
                      <td>
                        <span class="User_Style"> User Name </span>
                        <span class="User_Style"> User Email </span>
                      </td>
                      <td>
                        <span class="Price_Tag"> $34.00 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Status_Tag Bg_Info"> Processing </span>
                      </td>
                      <td>
                        <span class="Action_Section Bg_Info">
                          <i class="material-icons"> remove_red_eye </i>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="S_no"> 5 </span>
                      </td>
                      <td>
                        <span class="Main_Id"> Order-16694 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Name_Style"> location Display Name </span>
                      </td>
                      <td>
                        <span class="User_Style"> User Name </span>
                        <span class="User_Style"> User Email </span>
                      </td>
                      <td>
                        <span class="Price_Tag"> $34.00 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Status_Tag Bg_Info"> Processing </span>
                      </td>
                      <td>
                        <span class="Action_Section Bg_Info">
                          <i class="material-icons"> remove_red_eye </i>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="S_no"> 6 </span>
                      </td>
                      <td>
                        <span class="Main_Id"> Order-16694 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Name_Style"> location Display Name </span>
                      </td>
                      <td>
                        <span class="User_Style"> User Name </span>
                        <span class="User_Style"> User Email </span>
                      </td>
                      <td>
                        <span class="Price_Tag"> $34.00 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Status_Tag Bg_warning"> Canceled </span>
                      </td>
                      <td>
                        <span class="Action_Section Bg_Info">
                          <i class="material-icons"> remove_red_eye </i>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="S_no"> 7 </span>
                      </td>
                      <td>
                        <span class="Main_Id"> Order-16694 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Name_Style"> location Display Name </span>
                      </td>
                      <td>
                        <span class="User_Style"> User Name </span>
                        <span class="User_Style"> User Email </span>
                      </td>
                      <td>
                        <span class="Price_Tag"> $34.00 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Status_Tag Bg_Success"> Completed </span>
                      </td>
                      <td>
                        <span class="Action_Section Bg_Info">
                          <i class="material-icons"> remove_red_eye </i>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="S_no"> 8 </span>
                      </td>
                      <td>
                        <span class="Main_Id"> Order-16694 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Name_Style"> location Display Name </span>
                      </td>
                      <td>
                        <span class="User_Style"> User Name </span>
                        <span class="User_Style"> User Email </span>
                      </td>
                      <td>
                        <span class="Price_Tag"> $34.00 </span>
                      </td>
                      <td>
                        <span class="Date"> May 29,2018 </span>
                        <span class="Time"> 3:30pm </span>
                      </td>
                      <td>
                        <span class="Status_Tag Bg_Info"> Processing </span>
                      </td>
                      <td>
                        <span class="Action_Section Bg_Info">
                          <i class="material-icons"> remove_red_eye </i>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br>
          <br>
        </div>
        <!-- Right Bar-->
        <div class="col-sm-3">
          <div class="Calender">
            <p-calendar class="Custom_Calender_1" [inline]="true"></p-calendar> 
          </div>
          <br>
          <div class="Log_Section">
            <div class="Log_Header">
              <h5> Recent </h5>
            </div>
            <div class="Log_List">
              <ul>
                <li>
                  <h5>New Location Added</h5>
                  <h6> ( 27/05/2018 05:32-PM ) </h6>
                </li>
                <li>
                  <h5>New Order Received</h5>
                  <h6> ( 27/05/2018 05:22-PM ) </h6>
                </li>
                <li>
                  <h5>New Food Item Added</h5>
                  <h6> ( 27/05/2018 05:12-PM ) </h6>
                </li>
                <li>
                  <h5>New Location Added</h5>
                  <h6> ( 27/05/2018 05:12-PM ) </h6>
                </li>
                <li>
                  <h5>One Promotion Used</h5>
                  <h6> ( 27/05/2018 05:02-PM ) </h6>
                </li>
                <li>
                  <h5>One Order Delivered</h5>
                  <h6> ( 27/05/2018 05:02-PM ) </h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>
