<div class="Page_section" style="margin-top:100px;">
      <div class="container-fluid">
        <!-- page Identity -->
        <div class="Page_Identity">
          <div class="Page_Name">
            <h5>Machines View</h5>
          </div>
        </div>
        <div class="Company_Details">
          <div class="row">
            <div class="col-sm-6 text-right Static">Machine Name: </div>
            <div class="col-sm-6 text-left Data"> Machine Name</div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right Static">Machine Make: </div>
            <div class="col-sm-6 text-left Data"> Machine Make</div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right Static">Model: </div>
            <div class="col-sm-6 text-left Data"> Model</div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right Static">mfg Serial No:</div>
            <div class="col-sm-6 text-left Data"> 5664546</div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right Static">Machine Id:</div>
            <div class="col-sm-6 text-left Data"> IS1213</div>
         </div>
         <div class="row">
            <div class="col-sm-6 text-right Static">Machine Types:</div>
            <div class="col-sm-6 text-left Data"> Type-11</div>
         </div>
         <div class="row">
               <div class="col-sm-6 text-right Static">Controller Types:</div>
               <div class="col-sm-6 text-left Data"> Type-11</div>
            </div>
            <div class="row">
                  <div class="col-sm-6 text-right Static">Controller Model No:</div>
                  <div class="col-sm-6 text-left Data"> MODEL323</div>
               </div>
               <div class="row">
                     <div class="col-sm-6 text-right Static">mfg Year:</div>
                     <div class="col-sm-6 text-left Data"> 2011</div>
                  </div>
        </div>
        <br>
        </div>
              <!-- Create and search Section -->
    <div class="row header_part">
         <div class="col-sm-6">
           <h5>Tickets</h5>
         </div>
         <div class="col-sm-6">
           <button class="Create_Button" mat-button (click)="CreateTickets()"> + Create </button>
         </div>
       </div>
       <!-- Table Section -->
       <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th>S.no</th>
                     <th>Date</th>
                     <th>Ticket Id</th>
                     <th>Customer Name</th>
                     <th>Ticket Type</th>
                     <th>Created By</th>
                     <th>Status</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <span class="S_no"> 1 </span>
                     </td>
                     <td>
                        <span class="Style_3"> 27/05/18 </span>
                     </td>
                     <td>
                        <span class="Style_3"> ID5632423 </span>
                     </td>
                     <td>
                        <span class="Style_3"> customer name </span>
                     </td>
                     <td>
                        <span class="Style_3">Type-11
                        </span>
                     </td>
                     <td>
                        <span class="Style_3">Admin Name</span>
                     </td>
                     <td>
                        <span class="Style_3">Paid</span>
                     </td>
                     <td>
                        <button mat-raised-button color="primary" [routerLink]="['/Crm_Tickets_View']"> Action </button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 2 </span>
                     </td>
                     <td>
                        <span class="Style_3"> 27/05/18 </span>
                     </td>
                     <td>
                        <span class="Style_3"> ID5632423 </span>
                     </td>
                     <td>
                        <span class="Style_3"> customer name </span>
                     </td>
                     <td>
                        <span class="Style_3">Type-11
                        </span>
                     </td>
                     <td>
                        <span class="Style_3">Admin Name</span>
                     </td>
                     <td>
                        <span class="Style_3">unPaid</span>
                     </td>
                     <td>
                        <button mat-raised-button color="primary" [routerLink]="['/Crm_Tickets_View']"> Action </button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 3 </span>
                     </td>
                     <td>
                        <span class="Style_3"> 27/05/18 </span>
                     </td>
                     <td>
                        <span class="Style_3"> ID5632423 </span>
                     </td>
                     <td>
                        <span class="Style_3"> customer name </span>
                     </td>
                     <td>
                        <span class="Style_3">Type-11
                        </span>
                     </td>
                     <td>
                        <span class="Style_3">Admin Name</span>
                     </td>
                     <td>
                        <span class="Style_3">unPaid</span>
                     </td>
                     <td>
                        <button mat-raised-button color="primary" [routerLink]="['/Crm_Tickets_View']"> Action </button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 4 </span>
                     </td>
                     <td>
                        <span class="Style_3"> 27/05/18 </span>
                     </td>
                     <td>
                        <span class="Style_3"> ID5632423 </span>
                     </td>
                     <td>
                        <span class="Style_3"> customer name </span>
                     </td>
                     <td>
                        <span class="Style_3">Type-11
                        </span>
                     </td>
                     <td>
                        <span class="Style_3">Admin Name</span>
                     </td>
                     <td>
                        <span class="Style_3">Paid</span>
                     </td>
                     <td>
                        <button mat-raised-button color="primary" [routerLink]="['/Crm_Tickets_View']"> Action </button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 5 </span>
                     </td>
                     <td>
                        <span class="Style_3"> 27/05/18 </span>
                     </td>
                     <td>
                        <span class="Style_3"> ID5632423 </span>
                     </td>
                     <td>
                        <span class="Style_3"> customer name </span>
                     </td>
                     <td>
                        <span class="Style_3">Type-11
                        </span>
                     </td>
                     <td>
                        <span class="Style_3">Admin Name</span>
                     </td>
                     <td>
                        <span class="Style_3">Paid</span>
                     </td>
                     <td>
                        <button mat-raised-button color="primary" [routerLink]="['/Crm_Tickets_View']"> Action </button>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span class="S_no"> 6 </span>
                     </td>
                     <td>
                        <span class="Style_3"> 27/05/18 </span>
                     </td>
                     <td>
                        <span class="Style_3"> ID5632423 </span>
                     </td>
                     <td>
                        <span class="Style_3"> customer name </span>
                     </td>
                     <td>
                        <span class="Style_3">Type-11
                        </span>
                     </td>
                     <td>
                        <span class="Style_3">Admin Name</span>
                     </td>
                     <td>
                        <span class="Style_3">unPaid</span>
                     </td>
                     <td>
                        <button mat-raised-button color="primary" [routerLink]="['/Crm_Tickets_View']"> Action </button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
        </div>
        
