<div class="Page_Section">
   <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Name">
            <h5> MACHINE VIEW</h5>
         </div>
         <div class="Page_Track">
            <ul >
               <li class="HeaderName">CRM</li>
               <li class="arrow">>></li>
               <li class="LinkName" [routerLink]="['/crm_machine_list']">Machine List</li>
               <li class="arrow">>></li>
               <li> Machine View</li>
            </ul>
         </div>
      </div>
      <!-- Ticket Info  -->
      <!-- Loader -->
      <div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
         <div class="Loading">
            <div class="spinner">
               <div class="rect1"></div>
               <div class="rect2"></div>
               <div class="rect3"></div>
               <div class="rect4"></div>
               <div class="rect5"></div>
               <div class="rect6"></div>
            </div>
         </div>
      </div>
      <!-- Main Data -->
      <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
         <div class="Machine_Info_Section">
            <div class="row">
               <div class="col-sm-6">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5> Machine Name <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5>{{_Data['MachineName']}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5> Customer <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5>{{_Data['Customer']?.CompanyName}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5> Machine Make <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5>{{_Data['MachineMake']}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5>Machine Model <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5 >{{_Data['MachineModel']}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5> Mfg Serial No <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5>{{_Data['MfgSerialNo']}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5>Mfg Year <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5 >{{_Data['MfgYear']}} </h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5> Machine Id <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5> {{_Data['MachineId']}} </h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5> Date Of Placed <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5> {{_Data['DateOfPlaced'] | date:'d-M-yyyy'}} </h5>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5>Machine Type <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5 >{{_Data['MachineType']?.Machine_Type}} </h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5>Controller Type <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5 >{{_Data['ControllerType']?.Controller_Type}} </h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5>Controller Model No <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5 >{{_Data['ControllerModelNo']}} </h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5> Created By <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5 >{{_Data['Created_By']?.Name}} <span> ( {{_Data['createdAt'] | date:'medium'}} ) </span> </h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5>Last Modified By <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5 >{{_Data['Last_Modified_By']?.Name}} <span> ( {{_Data['updatedAt'] | date:'medium'}} ) </span> </h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Machine_Details_Title">
                           <h5> Current Status <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Machine_Details_Value">
                           <h5 >{{_Data['Current_Status']}} </h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br>

      <div class=SectionTwo>
         <!-- Tabs -->
         <div class="row">
            <div class="col-sm-12">
               <div class="Tabs">
                  <div class="Tab" [ngClass]="{'active': Active_Tab === 'Tickets'}" (click)="Active_Tab_Change('Tickets')">
                     <span > Tickets </span>
                  </div>
                  <div class="Tab" [ngClass]="{'active': Active_Tab === 'Maintenance'}" (click)="Active_Tab_Change('Maintenance')">
                     <span > Maintenance </span>
                  </div>
                  <div class="Tab" [ngClass]="{'active': Active_Tab === 'Schedules'}" (click)="Active_Tab_Change('Schedules')">
                     <span > Schedules </span>
                  </div>
                  <div class="Tab" [ngClass]="{'active': Active_Tab === 'Idle'}" (click)="Active_Tab_Change('Idle')">
                     <span > Working Hours </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="TabSection" *ngIf="Active_Tab === 'Tickets'">
            <!-- Create and search Section -->
            <div class="row Activity_Header">
               <div class="col-sm-3">
                  <button *ngIf="false" class="Create_Button" mat-raised-button color="primary" (click)="CreateTickets()"> + Create </button>
               </div>
               <div class="col-sm-6">
                  <h5> TICKETS </h5>
               </div>
            </div>
            <!-- Table Section -->
            <div class="Table_Section">
               <table>
                  <thead>
                     <tr>
                        <th style="width: 50px"> S.no </th>
                        <th style="width: 135px"> Ticket Id </th>
                        <th style="width: 130px"> Ticket Type </th>
                        <th style="width: 150px"> Date and Time </th>
                        <th> Issue </th>
                        <th style="width: 150px"> Last Modified By </th>
                        <th style="width: 150px"> Status </th>
                        <th style="width: 100px"> Action </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let Ticket of _TicketsList; let i=index">
                        <td>
                           <span class="S_no"> {{i + 1}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Ticket.TicketId}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Ticket.TicketType?.Ticket_Type}} </span>
                        </td>
                        <td>
                           <span class="Style_1">{{Ticket.TicketOpenDate | date:'d-M-y'}}, {{Ticket.TicketOpenTime}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{Ticket.Issue}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{Ticket.Last_Modified_By?.Name}}
                              <br> <span class="Time">{{Ticket.updatedAt | date:'medium'}}</span>
                           </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Ticket.CurrentStatus?.Value}} </span>
                        </td>
                        <td>
                           <button mat-raised-button color="primary" [routerLink]="['/Crm_Tickets_View', Ticket._id]"> Action </button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="TabSection" *ngIf="Active_Tab === 'Maintenance'">
            <!-- Create and search Section -->
            <div class="row Activity_Header">
               <div class="col-sm-12">
                  <h5> MAINTENANCE </h5>
               </div>
            </div>
            <!-- Table Section -->
            <div class="Table_Section">
               <form [formGroup]="MaintenanceForm">
                  <table>
                     <thead>
                        <tr>
                           <th style="width: 50px"> S.no </th>
                           <th> Maintenance Part:</th>
                           <th> {{ Today | date:'d-M-y'}} </th>
                           <th> Description </th>
                        </tr>
                     </thead>
                     <tbody>
                        <ng-container formArrayName="EachMaintenance">
                           <tr class="edu_table_body" *ngFor="let Maintenance of MaintenanceForm['controls'].EachMaintenance['controls']; let i = index;">
                              <ng-container [formGroupName]="i" class="row" style="margin-bottom:15px;">
                                 <td>
                                    <span class="S_no"> {{i + 1}} </span>
                                 </td>
                                 <td>
                                    <span class="Style_1">{{MaintenanceForm['controls'].EachMaintenance['controls'][i]['controls'].MachineMaintenancePart.value}}</span>
                                 </td>
                                 <td>
                                    <span class="Style_1"> 
                                       <mat-checkbox formControlName="Status"> Checked </mat-checkbox>
                                    </span>
                                 </td>
                                 <td>
                                    <span class="Style_1"> 
                                       <textarea  formControlName="Description"></textarea>
                                    </span>
                                 </td>
                              </ng-container>
                           </tr>
                        </ng-container>
                     </tbody>
                     <tfoot *ngIf="_MaintenanceList.length > 0">
                        <tr>
                           <td colspan="4">
                              <div class="row">
                                 <div class="col-sm-12 text-right">
                                    <input type="text" class="Input_Style" formControlName="Update_Person" placeholder="Update Person">
                                    <button style="margin-right: 20px;" class="Create_Button" mat-raised-button color="primary" [disabled]="DisableBtn" (click)="Submit()"> Submit </button>
                                 </div>
                              </div>
                           </td>
                        </tr>
                     </tfoot>
                  </table>
               </form>
            </div>
         </div>
         <div class="TabSection" *ngIf="Active_Tab === 'Schedules'">
            <!-- Create and search Section -->
            <div class="row Activity_Header">
               <div class="col-sm-3">
                  <button class="Create_Button" mat-raised-button color="primary" (click)="CreateSchedule()" > + Create </button>
               </div>
               <div class="col-sm-6">
                  <h5> SCHEDULES </h5>
               </div>
            </div>
            <!-- Table Section -->
            <div class="Table_Section">
               <table>
                  <thead>
                     <tr>
                        <th style="width: 50px"> S.no </th>
                        <th> Activity Name </th>
                        <th> Schedule Date </th>
                        <th> Last Activity </th>
                        <th> Description </th>
                        <th style="width: 180px"> Action </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let Schedule of _ScheduleList; let i=index">
                        <td>
                           <span class="S_no"> {{i + 1}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Schedule['Schedule_Activity']?.Activity_Name}} </span>
                        </td>
                        <td>
                           <span class="Style_1">{{Schedule['Schedule_Date'] | date:'d-M-y'}} </span>
                        </td>
                        <td>
                           <span *ngIf="Schedule['Last_Activity_Id'] !== null" class="Style_1">
                              {{Schedule['Last_Activity_Id']?.Activity_By}}
                              <span class="Time"> {{Schedule['Last_Activity_Id']?.Schedule_Date | date:'d-M-y'}} </span>
                           </span>
                           <span *ngIf="Schedule['Last_Activity_Id'] === null" class="Style_1"> - </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Schedule['Description']}} </span>
                        </td>
                        <td>
                           <button (click)="ViewSchedule(i)" class="Table_Action_mini Bg_Info" mat-mini-fab color="primary">
                              <i class="material-icons">zoom_in</i>
                           </button>
                           <button (click)="ReSchedule(i)" class="Table_Action_mini Bg_Success" mat-mini-fab color="primary">
                              <i class="material-icons">update</i>
                           </button>
                           <button (click)="EditSchedule(i)" class="Table_Action_mini Bg_warning" mat-mini-fab color="primary">
                              <i class="material-icons">edit</i>
                           </button>
                           <button (click)="DeleteSchedule(i)" class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary">
                              <i class="material-icons">delete_forever</i>
                           </button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="TabSection" *ngIf="Active_Tab === 'Idle'">
            <div class="row Activity_Header">
               <div class="col-sm-3">
                  <button *ngIf="_Data['Current_Status'] === 'Idle'" class="Create_Button" mat-raised-button color="primary" (click)="CreateWorking()" > + Create </button>
               </div>
               <div class="col-sm-6">
                  <h5> Working Hours </h5>
               </div>
            </div>
            <div class="Table_Section">
               <table>
                  <thead>
                     <tr>
                        <th style="width: 50px"> S.no </th>
                        <th> Working Start Time </th>
                        <th> Working End Time </th>
                        <th> Description </th>
                        <th> Last Modified By </th>
                        <th style="width: 180px"> Action </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let Working of _WorkingList; let i=index">
                        <td>
                           <span class="S_no"> {{i + 1}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Working['Start_Date'] | date:'d-M-y'}} - {{Working['Start_Time']}}</span>
                        </td>
                        <td>
                           <span class="Style_1">{{Working['Stop_Date'] | date:'d-M-y'}} - {{Working['Stop_Time']}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{Working['Description']}} </span>
                        </td>
                        <td>
                           <span class="Style_1">
                              {{Working['Last_Modified_By']?.Name}}
                              <span class="Time"> {{Working['updatedAt'] | date:'d-M-y'}} </span>
                           </span>
                        </td>
                        <td>
                           <button *ngIf="Working['Stop_Date'] === null || Working['Stop_Date'] === undefined" (click)="UpdateWorking(i)" class="Table_Action_mini Bg_warning" mat-raised-button color="primary">
                              <i class="material-icons">edit</i>
                           </button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>

   </div>
</div>
        
