<div class="Main_Section" style="margin-top:100px">
   <div class="container-fluid">
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul >
                  <li class="HeaderName">HR</li>
                  <li class="arrow">>></li>
                  <li class="LinkName" [routerLink]="['/main_Attendance']">Attendance</li>
                  <li class="arrow">>></li>
                  <li>Attendance View</li>
               </ul>
            </div>
         </div>
         <!-- Company details -->
         <div class="Company_Details">
               <span><button class="Payroll_Run">Payroll Run</button></span><br>
            <div class="row">
               <div class="col-sm-4">
            <div class="view_item">
               <div class="Static">Name </div>
               <div class="dots"> : </div>
               <div class=" Data"> Name</div>
            </div>
            <div class="view_item">
               <div class="Static">Category: </div>
               <div class="dots"> : </div>
               <div class="Data"> Category</div>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="view_item">
               <div class="Static">From Date: </div>
               <div class="dots"> : </div>
               <div class=" Data"> 28.08.18</div>
            </div>
            <div class="view_item">
               <div class="Static">To Date: </div>
               <div class="dots"> : </div>
               <div class="Data">29.09.18</div>
            </div>
         </div>
            <div class="col-sm-4">
            <div class="view_item">
               <div class="Static">Month : </div>
               <div class="dots"> : </div>
               <div class="Data"> June</div>
            </div>
            <div class="view_item">
               <div class="Static">Hours: </div>
               <div class="dots"> : </div>
               <div class="Data"> 4hrs</div>
            </div>
            </div>
            </div>
         </div><br>
      <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Attendance
         <span style="color:#516570;font-size:20px;font-weight: 600;"> Details</span>
      </h5>
      <!-- Table Section -->
      <div class="Table_Section">
         <table>
            <thead>
               <tr>
                  <th>S.no</th>
                  <th>Employee Name</th>
                  <th>Code</th>
                  <th>Working days</th>
                  <th>Present days</th>
                  <th>Leave</th>
                  <th>Paid Leaves</th>
                  <th>Payable Days</th>
                  <th>OT Hours</th>
                  <th>Total Hours</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <span class="S_no"> 1 </span>
                  </td>
                  <td>
                     <span class="Style_1">Employee Name</span>
                  </td>
                  <td>
                     <span class="Style_1"> Code</span>
                  </td>
                  <td>
                     <span class="Style_1">30days</span>
                  </td>
                  <td>
                     <span class="Style_1">25days</span>
                  </td>
                  <td>
                     <span class="Style_1">5days</span>
                  </td>
                  <td>
                     <span class="Style_1">2days</span>
                  </td>
                  <td>
                     <span class="Style_1">3days</span>
                  </td>
                  <td>
                     <span class="Style_1">2hrs</span>
                  </td>
                  <td>
                     <span class="Style_1">8hrs</span>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 2 </span>
                  </td>
                  <td>
                     <span class="Style_1">Employee Name</span>
                  </td>
                  <td>
                     <span class="Style_1"> Code</span>
                  </td>
                  <td>
                     <span class="Style_1">30days</span>
                  </td>
                  <td>
                     <span class="Style_1">25days</span>
                  </td>
                  <td>
                     <span class="Style_1">5days</span>
                  </td>
                  <td>
                     <span class="Style_1">2days</span>
                  </td>
                  <td>
                     <span class="Style_1">3days</span>
                  </td>
                  <td>
                     <span class="Style_1">2hrs</span>
                  </td>
                  <td>
                     <span class="Style_1">8hrs</span>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 3 </span>
                  </td>
                  <td>
                     <span class="Style_1">Employee Name</span>
                  </td>
                  <td>
                     <span class="Style_1"> Code</span>
                  </td>
                  <td>
                     <span class="Style_1">30days</span>
                  </td>
                  <td>
                     <span class="Style_1">25days</span>
                  </td>
                  <td>
                     <span class="Style_1">5days</span>
                  </td>
                  <td>
                     <span class="Style_1">2days</span>
                  </td>
                  <td>
                     <span class="Style_1">3days</span>
                  </td>
                  <td>
                     <span class="Style_1">2hrs</span>
                  </td>
                  <td>
                     <span class="Style_1">8hrs</span>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 4 </span>
                  </td>
                  <td>
                     <span class="Style_1">Employee Name</span>
                  </td>
                  <td>
                     <span class="Style_1"> Code</span>
                  </td>
                  <td>
                     <span class="Style_1">30days</span>
                  </td>
                  <td>
                     <span class="Style_1">25days</span>
                  </td>
                  <td>
                     <span class="Style_1">5days</span>
                  </td>
                  <td>
                     <span class="Style_1">2days</span>
                  </td>
                  <td>
                     <span class="Style_1">3days</span>
                  </td>
                  <td>
                     <span class="Style_1">2hrs</span>
                  </td>
                  <td>
                     <span class="Style_1">8hrs</span>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <br>
      <!-- Payroll Details -->
      <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Payroll
         <span style="color:#516570;font-size:20px;font-weight: 600;"> Details</span>
      </h5>
      <div class="Table_Section">
         <table>
            <thead>
               <tr>
                  <th>S.no</th>
                  <th>Employee Name</th>
                  <th>Code</th>
                  <th>Gross Pay</th>
                  <th>Detection</th>
                  <th>Net Salary</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <span class="S_no"> 1 </span>
                  </td>
                  <td>
                     <span class="Style_1">Employee Name</span>
                  </td>
                  <td>
                     <span class="Style_1"> Code</span>
                  </td>
                  <td>
                     <span class="Style_1">Gross Pay</span>
                  </td>
                  <td>
                     <span class="Style_1">Detection</span>
                  </td>
                  <td>
                     <span class="Style_1">Net Salary</span>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 2 </span>
                  </td>
                  <td>
                     <span class="Style_1">Employee Name</span>
                  </td>
                  <td>
                     <span class="Style_1"> Code</span>
                  </td>
                  <td>
                     <span class="Style_1">Gross Pay</span>
                  </td>
                  <td>
                     <span class="Style_1">Detection</span>
                  </td>
                  <td>
                     <span class="Style_1">Net Salary</span>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 3 </span>
                  </td>
                  <td>
                     <span class="Style_1">Employee Name</span>
                  </td>
                  <td>
                     <span class="Style_1"> Code</span>
                  </td>
                  <td>
                     <span class="Style_1">Gross Pay</span>
                  </td>
                  <td>
                     <span class="Style_1">Detection</span>
                  </td>
                  <td>
                     <span class="Style_1">Net Salary</span>
                  </td>
               </tr>
               <tr>
                  <td>
                     <span class="S_no"> 4 </span>
                  </td>
                  <td>
                     <span class="Style_1">Employee Name</span>
                  </td>
                  <td>
                     <span class="Style_1"> Code</span>
                  </td>
                  <td>
                     <span class="Style_1">Gross Pay</span>
                  </td>
                  <td>
                     <span class="Style_1">Detection</span>
                  </td>
                  <td>
                     <span class="Style_1">Net Salary</span>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
