<div class="Main_Section" style="margin-top:100px">
   <div class="container-fluid">
      <div class="Page_Identity">
         <div class="Page_Name">
            <h5> ATTENDANCE REPORT</h5>
         </div>
         <div class="Page_Track">
            <ul >
               <li class="HeaderName">HR</li>
               <li class="arrow">>></li>
               <li class="LinkName" [routerLink]="['/main_Attendance']">Attendance</li>
               <li class="arrow">>></li>
               <li>Attendance Report View</li>
            </ul>
         </div>
      </div>
      <!-- Loader -->
      <div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
         <div class="Loading">
            <div class="spinner">
               <div class="rect1"></div>
               <div class="rect2"></div>
               <div class="rect3"></div>
               <div class="rect4"></div>
               <div class="rect5"></div>
               <div class="rect6"></div>
            </div>
         </div>
      </div>
      <!-- Main Data -->
      <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
         <!-- Company details -->
         <div class="Company_Details">
            <h5 class="BoxHeader"> Basic Report </h5>
            <span class="Payroll-btn" *ngIf="_Data">
               <button *ngIf="!_Data.Payroll_Generated" (click)="RunPayroll()" mat-raised-button color="primary"> Run Payroll </button>
            </span>
            <br>
            <div class="row">
               <div class="col-sm-4">
                  <div class="view_item">
                     <div class="Static"> Employee Name </div>
                     <div class="dots"> : </div>
                     <div class=" Data"> {{ _Data?.Employee?.EmployeeName }} </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Report Month: </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{ _Data?.MonthYear | date:'MMMM y' }} </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> From Date </div>
                     <div class="dots"> : </div>
                     <div class=" Data"> {{ _Data?.From_Date | date:'d-M-y' }} </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> To Date </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{ _Data?.To_Date | date:'d-M-y' }} </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Total No Of Days </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{_Data?.No_Of_Days}} </div>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="view_item">
                     <div class="Static"> No Of Holidays: </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{_Data?.No_Of_Holiday}} </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> No Of WeekOffs: </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{_Data?.No_Of_WeekOff}} </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> No Of Present </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{_Data?.No_Of_Present}} </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> No Of Absent: </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{_Data?.No_Of_Absent}} </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> No Of Leaves: </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{_Data?.No_Of_Leaves}} </div>
                  </div>
               </div>
               <div class="col-sm-5">
                  <div class="view_item">
                     <div class="Static"> Allowed Leaves in Year </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{_Data?.No_Of_PaidLeaves_inYear}} </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Already Approved Leaves </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{_Data?.No_Of_Previous_Leaves}} </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Un Payable Leaves </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{_Data?.No_Of_UnPaidLeaves}} </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Total Payable Days </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{_Data?.No_Of_Days - _Data?.No_Of_Absent - _Data?.No_Of_UnPaidLeaves }} </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Total Un Payable Days </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{_Data?.No_Of_Days - (_Data?.No_Of_Days - _Data?.No_Of_Absent - _Data?.No_Of_UnPaidLeaves) }} </div>
                  </div>
               </div>
            </div>
         </div>
         <br>
         <div class="Company_Details">
            <h5 class="BoxHeader"> Complete Report </h5>
            <!-- Table Section -->
            <div class="Table_Section">
               <table>
                  <thead>
                     <tr>
                        <th>S.no</th>
                        <th> Date </th>
                        <th> Present </th>
                        <th> Absent </th>
                        <th> WeekOff </th>
                        <th> Holiday </th>
                        <th> Leave </th>
                        <th> Leave Type </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let item of _List; let i=index">
                        <td>
                           <span class="S_no"> {{i + 1}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{ item?.Date | date: 'd-M-y'}} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{ item?.Attendance === 'Present' ? 'Yes' : '-' }} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{ item?.If_Absent === true ? 'Yes' : '-' }} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{ item?.Attendance === 'Week Off' ? 'Yes' : '-' }} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{ item?.If_Holiday === true ? 'Yes' : '-' }} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{ item?.If_Leave === true ? 'Yes' : '-' }} </span>
                        </td>
                        <td>
                           <span class="Style_1"> {{ item?.If_Leave === true ? item?.Leave_Type?.Name : '-' }} </span>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <br>
         <br>
      </div>
   </div>
</div>
