<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- page Idendity -->
      <div class="Page_Identity">
         <div class="Page_Name">
            <h5>Machines Create</h5>
         </div>
      </div>
      <!-- Company Details -->
      <div class="row">
         <div class="Company_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Machine <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-4 Form_Input" >
                     <input type="text" placeholder="Machine make">
                  </div>
                  <div class="col-sm-4 Form_Input" >
                     <input type="text" placeholder="Model">
                  </div>
                  <div class="col-sm-4 Form_Input" >
                     <input type="text" placeholder="mfg Serial No">
                  </div>
                  <div class="col-sm-4 Form_Input" >
                     <input type="text" placeholder="Machine Id">
                  </div>
                  <div class="col-sm-4 Form_Select" >
                     <select>
                        <option checked> Machine Types</option>
                        <option> VMC</option>
                        <option> HMC </option>
                        <option> VMC </option>
                        <option> HMC </option>
                        <option> VMC </option>
                     </select>
                  </div>
                  <div class="col-sm-4 Form_Select" >
                     <select>
                        <option checked>Controller Type</option>
                        <option> VMC</option>
                        <option> HMC </option>
                        <option> VMC </option>
                        <option> HMC </option>
                        <option> VMC </option>
                     </select>
                  </div>
                  <div class="col-sm-4 Form_Input" >
                     <input type="text" placeholder="Controller Model No"> 
                  </div>
                  <div class="col-sm-4 Form_Input" >
                     <input type="text" placeholder="Mfg Year"> 
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" style="margin-top:20px;"> 
         <div class="col-sm-12 text-right">
            <button mat-raised-button color="primary" > Submit </button>
         </div>
      </div>
   </div>
</div>
 
 
