
<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
    <div class="Modal_Header">
        <p> Create Payment Term</p>
        <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
    </div>
    <div class="Model_Body">
      <div class="row">
        <div class="col-sm-6 Form_Input">
            <label>Payment Term:</label>
            <input type="text">
        </div>
        <div class="col-sm-6 ">
          <input type="radio" style="margin-top:33px;">Active
        </div>
     </div>
    </div>
    <div class="Model_Footer">
      <button mat-raised-button color="primary" > Submit </button>
   </div>
    </div>

  <div class="Modal_Content" *ngIf=" Type && Type === 'View'">
    <div class="Modal_Header">
       <p>View  Payment Term</p>
       <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
         <div class="row">
               <div class="col-sm-6 text-right Static">Payment Term: </div>
               <div class="col-sm-6 text-left Data">Payment Term1</div>
             </div>
  </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  