<!-- If Create Or Edit The Controller Type -->
<div class="Modal_Content" *ngIf="Type && ( Type === 'Create' || Type === 'Edit')">
   <div class="Modal_Header">
      <p> {{Type}} Activity </p>
      <span *ngIf="!Uploading" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <form [formGroup]="Form" (ngSubmit)="Submit()">
      <div class="Model_Body">
         <div class="row">
            <div class="col-sm-6 Form_Input">
               <label> Ticket Id:</label>
               <input type="text" formControlName="Ticket_Id">
            </div>
            <div class="col-sm-6 Form_Input">
               <label> Customer:</label>
               <ng-select class="NgSelect ValueBold" formControlName="Customer" [searchable]="true">
                  <ng-option *ngFor="let Customer of _Customers" [value]="Customer">{{ Customer?.CompanyName }}</ng-option>
               </ng-select>
            </div>
            <div class="col-sm-6 Form_Input">
               <label> Machine:</label>
               <ng-select class="NgSelect ValueBold" formControlName="Machine" [searchable]="true">
                  <ng-option *ngFor="let Machine of _Machines" [value]="Machine">{{ Machine?.MachineName }}</ng-option>
               </ng-select>
            </div>
            <div class="col-sm-6 Form_Input">
               <label> Contact Person :</label>
               <ng-select class="NgSelect ValueBold" formControlName="Contact" [searchable]="true">
                  <ng-option *ngFor="let Contact of _Contacts" [value]="Contact">{{ Contact?.Name }}</ng-option>
               </ng-select>
               <p class="error" *ngIf="Form.controls['Contact'].errors && !Form.controls['Contact'].pristine">
                  <span *ngIf="Form.controls['Contact'].errors.required"> Contact Person is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': !Form.controls['Employee'].pristine && Form.controls['Employee'].errors, 'Form_Success': Form.controls['Employee'].valid && !Form.controls['Employee'].pristine }">
               <label> Employee:</label>
               <input type="text" formControlName="Employee">
               <p class="error" *ngIf="Form.controls['Employee'].errors && !Form.controls['Employee'].pristine">
                  <span *ngIf="Form.controls['Employee'].errors.required"> Employee is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input">
               <label> Status:</label>
               <ng-select class="NgSelect ValueBold" formControlName="Status" [searchable]="true" (ngModelChange)="ChangeStatus()">
                  <ng-option *ngFor="let Status of _Statuses" [value]="Status">{{ Status.Value }}</ng-option>
               </ng-select>
               <p class="error" *ngIf="Form.controls['Status'].errors && !Form.controls['Status'].pristine">
                  <span *ngIf="Form.controls['Status'].errors.required"> Activity Status is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': !Form.controls['StartDate'].pristine && Form.controls['StartDate'].errors, 'Form_Success': Form.controls['StartDate'].valid && !Form.controls['StartDate'].pristine }">
               <label> <span *ngIf="_ShowEndDateTime"> Start </span> Date:</label>
               <input type="text" formControlName="StartDate" [matDatepicker]="StartDatepicker" (click)="StartDatepicker.open()" (keypress)="NotAllow()" (keydown)="NotAllow()">
               <mat-datepicker touchUi #StartDatepicker></mat-datepicker>
               <p class="error" *ngIf="Form.controls['StartDate'].errors && !Form.controls['StartDate'].pristine">
                  <span *ngIf="Form.controls['StartDate'].errors.required">Activity <span *ngIf="_ShowEndDateTime"> Start </span> Date is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': !Form.controls['StartTime'].pristine && Form.controls['StartTime'].errors, 'Form_Success': Form.controls['StartTime'].valid && !Form.controls['StartTime'].pristine }">
               <label> <span *ngIf="_ShowEndDateTime"> Start </span> Time:</label>
               <input type="text" formControlName="StartTime" [ngxTimepicker]="StartTimePicker" (keypress)="NotAllow()" (keydown)="NotAllow()">
               <ngx-material-timepicker #StartTimePicker></ngx-material-timepicker>
               <p class="error" *ngIf="Form.controls['StartTime'].errors && !Form.controls['StartTime'].pristine">
                  <span *ngIf="Form.controls['StartTime'].errors.required">Activity <span *ngIf="_ShowEndDateTime"> Start </span>  Time is required</span>
               </p>
            </div>
            <div *ngIf="_ShowEndDateTime" class="col-sm-6 Form_Input">
               <label> End Date:</label>
               <input type="text" formControlName="EndDate" [matDatepicker]="EndDatepicker" (click)="EndDatepicker.open()" (keypress)="NotAllow()" (keydown)="NotAllow()">
               <mat-datepicker touchUi #EndDatepicker></mat-datepicker>
            </div>
            <div *ngIf="_ShowEndDateTime" class="col-sm-6 Form_Input">
               <label> End Time:</label>
               <input type="text" formControlName="EndTime" [ngxTimepicker]="EndTimePicker" (keypress)="NotAllow()" (keydown)="NotAllow()">
               <ngx-material-timepicker #EndTimePicker></ngx-material-timepicker>
            </div>
            <div class="col-sm-6 Form_TextArea">
               <label> Description: </label>
               <textarea formControlName="Description"></textarea>
            </div>
         </div>
      </div>
      <div class="Model_Footer">
         <button type="submit" [disabled]="Form.status !== 'VALID' || Uploading" mat-raised-button color="primary">
            <span *ngIf="Type === 'Create' && !Uploading">Submit</span>
            <span *ngIf="Type === 'Edit' && !Uploading">Update</span>
            <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
         </button>
      </div>
   </form>
 </div>
 
 <!-- If View The Controller Type -->
 <!-- <div class="Modal_Content" *ngIf=" _Data?.Type && _Data?.Type === 'View'">
    <div class="Modal_Header">
       <p>View Activity</p>
       <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
    </div>
    <div class="Model_Body">
       <div class="view_item">
          <div class="Static"> Customer </div>
          <div class="dots"> : </div>
          <div class="Data"> {{ .Customer?.CompanyName}} </div>
       </div>
       <div class="view_item">
          <div class="Static"> Machine </div>
          <div class="dots"> : </div>
          <div class="Data">  {{_Activity_Info.Email}} </div>
       </div>
       <div class="view_item">
          <div class="Static"> Mobile </div>
          <div class="dots"> : </div>
          <div class="Data">  {{_Activity_Info.Mobile}} </div>
       </div>
       <div class="view_item">
          <div class="Static"> Contact Role </div>
          <div class="dots"> : </div>
          <div class="Data">  {{_Activity_Info.ContactRole?.Contact_Role}} </div>
       </div>
       <div class="view_item">
          <div class="Static"> Job Position </div>
          <div class="dots"> : </div>
          <div class="Data">  {{_Activity_Info.JobPosition}}  </div>
       </div>
       <div class="view_item">
          <div class="Static">Created By </div>
          <div class="dots"> : </div>
          <div class="Data"> {{_Activity_Info.Created_By?.Name}}
            <span class="Badge"> {{Data.Created_By.User_Type.User_Type}} </span>
          </div>
       </div>
       <div class="view_item">
          <div class="Static">Last Modified By </div>
          <div class="dots"> : </div>
          <div class="Data">  {{_Activity_Info.Last_Modified_By?.Name}}
            <span class="Badge"> {{Data.Last_Modified_By.User_Type.User_Type}} </span>
          </div>
       </div>
       <div class="view_item">
          <div class="Static"> Created Date </div>
          <div class="dots"> : </div>
          <div class="Data"> {{_Activity_Info.createdAt | date:'medium' }} </div>
       </div>
       <div class="view_item">
          <div class="Static">Last Modified Date  </div>
          <div class="dots"> : </div>
          <div class="Data"> {{_Activity_Info.updatedAt | date:'medium' }} </div>
       </div>
    </div>
 </div> -->