<!-- If Create Or Edit The Controller Type -->
<div class="Modal_Content" *ngIf="Type && ( Type === 'Create' || Type === 'Edit')">
   <div class="Modal_Header">
      <p> {{Type}} Activity </p>
      <span *ngIf="!Uploading" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <form [formGroup]="Form" (ngSubmit)="Submit()">
      <div class="Model_Body">
         <div class="row">
            <div class="col-sm-6 Form_Input">
               <label> Ticket Id:</label>
               <input type="text" formControlName="Ticket_Id">
            </div>
            <div class="col-sm-6 Form_Input">
               <label> Customer:</label>
               <ng-select class="NgSelect ValueBold" 
                        [items]="_Customers" 
                        bindLabel="CompanyName" 
                        formControlName="Customer" 
                        [searchable]="true">
               </ng-select>
            </div>
            <div class="col-sm-6 Form_Input">
               <label> Machine:</label>
               <ng-select class="NgSelect ValueBold" 
                        [items]="_Machines" 
                        bindLabel="MachineName" 
                        formControlName="Machine" 
                        [searchable]="true">
               </ng-select>
            </div>
            <div class="col-sm-6 Form_Input">
               <label> Contact Person :</label>
               <ng-select class="NgSelect ValueBold" 
                        [items]="_Contacts" 
                        bindLabel="Name" 
                        formControlName="Contact" 
                        [searchable]="true">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Contact'].errors && !Form.controls['Contact'].pristine">
                  <span *ngIf="Form.controls['Contact'].errors.required"> Contact Person is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': !Form.controls['Employee'].pristine && Form.controls['Employee'].errors, 'Form_Success': Form.controls['Employee'].valid && !Form.controls['Employee'].pristine }">
               <label> Employee:</label>
               <input type="text" formControlName="Employee">
               <p class="error" *ngIf="Form.controls['Employee'].errors && !Form.controls['Employee'].pristine">
                  <span *ngIf="Form.controls['Employee'].errors.required"> Employee is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input">
               <label> Status:</label>
               <ng-select class="NgSelect ValueBold"
                        [items]="_Statuses" 
                        bindLabel="Value" 
                        formControlName="Status" 
                        [searchable]="true">
               </ng-select>
               <p class="error" *ngIf="Form.controls['Status'].errors && !Form.controls['Status'].pristine">
                  <span *ngIf="Form.controls['Status'].errors.required"> Activity Status is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': !Form.controls['StartDate'].pristine && Form.controls['StartDate'].errors, 'Form_Success': Form.controls['StartDate'].valid && !Form.controls['StartDate'].pristine }">
               <label> <span *ngIf="_ShowEndDateTime"> Start </span> Date:</label>
               <input type="text" formControlName="StartDate" [min]="MinDate" [max]="MaxDate" [matDatepicker]="StartDatepicker" (dateChange)="DateChange($event.value)" (click)="StartDatepicker.open()" (keypress)="NotAllow()" (keydown)="NotAllow()">
               <mat-datepicker touchUi #StartDatepicker></mat-datepicker>
               <p class="error" *ngIf="Form.controls['StartDate'].errors && !Form.controls['StartDate'].pristine">
                  <span *ngIf="Form.controls['StartDate'].errors.required">Activity <span *ngIf="_ShowEndDateTime"> Start </span> Date is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_Input" [ngClass]="{'Form_Err': !Form.controls['StartTime'].pristine && Form.controls['StartTime'].errors, 'Form_Success': Form.controls['StartTime'].valid && !Form.controls['StartTime'].pristine }">
               <label> <span *ngIf="_ShowEndDateTime"> Start </span> Time:</label>
               <input type="text" formControlName="StartTime" [ngxTimepicker]="StartTimePicker" [min]="SetMinTime" (keypress)="NotAllow()" (keydown)="NotAllow()">
               <ngx-material-timepicker #StartTimePicker></ngx-material-timepicker>
               <p class="error" *ngIf="Form.controls['StartTime'].errors && !Form.controls['StartTime'].pristine">
                  <span *ngIf="Form.controls['StartTime'].errors.required">Activity <span *ngIf="_ShowEndDateTime"> Start </span>  Time is required</span>
               </p>
            </div>
            <div class="col-sm-6 Form_TextArea">
               <label> Description: </label>
               <textarea formControlName="Description"></textarea>
            </div>
         </div>
      </div>
      <div class="Model_Footer">
         <button type="submit" [disabled]="Form.status !== 'VALID' || Uploading" mat-raised-button color="primary">
            <span *ngIf="Type === 'Create' && !Uploading">Submit</span>
            <span *ngIf="Type === 'Edit' && !Uploading">Update</span>
            <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
         </button>
      </div>
   </form>
</div>