
<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
  <div class="Modal_Header">
      <p>Bank</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
  </div>
  <div class="Model_Body">
    <div class="row">
      <div class="col-sm-6 Form_Input">
        <label>Bank Name:</label>
          <input type="text">
      </div>
      <div class="col-sm-6 Form_Input">
        <label> Account Name:</label>
          <input type="text">
      </div>
      <div class="col-sm-6 Form_Input">
        <label>Account No:</label>
          <input type="text">
      </div>
      <div class="col-sm-6 Form_Input">
        <label>IFSC Code:</label>
          <input type="text">
      </div>
      <div class="col-sm-6 Form_TextArea">
        <label>Address:</label>
        <textarea class="message" rows="2" ></textarea>
    </div>
   </div>
</div>
<div class="Model_Footer">
    <button mat-raised-button color="primary" > Submit </button>
 </div>
  </div>

<div class="Modal_Content" *ngIf=" Type && Type === 'View'">
  <div class="Modal_Header">
     <p>Bank</p>
     <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
 </div>
 <div class="Model_Body">
      <div class="row">
            <div class="col-sm-6 text-right Static">Bank Name: </div>
            <div class="col-sm-6 text-left Data">Axis</div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right Static">Account Name: </div>
            <div class="col-sm-6 text-left Data">aashi</div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right Static">Account No: </div>
            <div class="col-sm-6 text-left Data">1234354556</div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right Static">IFSC Code: </div>
            <div class="col-sm-6 text-left Data">413456</div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right Static">Address: </div>
            <div class="col-sm-6 text-left Data">ganapathy</div>
          </div>
 </div>
</div>














