<div class="page" style="margin-top:100px;margin-bottom:100px">
   <div class="container-fluid">
      <!-- page identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">HR</li>
               <li class="arrow">>></li>
               <li class="LinkName"  [routerLink]="['/List_Employees']">Employees List</li>
               <li class="arrow">>></li>
               <li>Employees Create</li>
            </ul>
         </div>
      </div>
      <div class="row">
         <!-- Company details -->
         <div class="Company_Details">
            <div class="row">
               <div class="col-sm-4 Form_Input">
                  <label>Employee Name:</label>
                  <input type="text">
               </div>
               <div class="col-sm-4 Form_Input">
                  <label>Code:</label>
                  <input type="text">
               </div>
               <div class="col-sm-4 Form_Select">
                  <label>Branch:</label>
                  <select>
                     <option disabled> Branch</option>
                     <option>Branch </option>
                     <option> Branch </option>
                     <option> Branch </option>
                     <option> Branch </option>
                     <option> Branch </option>
                  </select>
               </div>
               <div class="col-sm-4 Form_Select">
                  <label>Category:</label>
                  <select>
                     <option disabled> Category</option>
                     <option>Category </option>
                     <option> Category </option>
                     <option> Category </option>
                     <option> Category </option>
                     <option> Category </option>
                  </select>
               </div>
               <div class="col-sm-4 Form_Select">
                  <label>Department:</label>
                  <select>
                     <option disabled> Department</option>
                     <option>Department </option>
                     <option> Department </option>
                     <option> Department </option>
                     <option> Department </option>
                     <option> Department </option>
                  </select>
               </div>
               <div class="col-sm-4 Form_Input">
                  <label>Job Title:</label>
                  <input type="text">
               </div>
               <div class="col-sm-4 Form_Select">
                  <label>Manager:</label>
                  <select>
                     <option disabled> Manager</option>
                     <option>Manager </option>
                     <option> Manager </option>
                     <option> Manager </option>
                     <option> Manager </option>
                     <option> Manager </option>
                  </select>
               </div>
               <div class="col-sm-4 Form_Input">
                  <label>Mobile No:</label>
                  <input type="text">
               </div>
               <div class="col-sm-4 Form_Input">
                  <label>Date Of Joining:</label>
                  <input type="text">
               </div>
               <div class="col-sm-4 ">
                  <input type="checkbox" style="margin-top:35px">Is a Manager
               </div>
            </div>
         </div>
      </div>
      <br>
      <div class="Company_Details">
         <!-- Tabs -->
         <div class="Tabs">
            <div class="Tab" [ngClass]="{'active': Active_Tab === 'personal_info'}" (click)="Active_Tab_Change('personal_info')">
               <span >Personal Info</span>
            </div>
            <div class="Tab" [ngClass]="{'active': Active_Tab === 'salary_details'}" (click)="Active_Tab_Change('salary_details')">
               <span >Salary Details</span>
            </div>
         </div>
         <br>
         <div class="page" *ngIf="Active_Tab === 'personal_info'">
            <div class="container-fluid">
               <!-- Company Details -->
               <div class="row">
                  <div class="col-sm-12">
                     <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Personal <span style="color:#516570;font-size:20px;font-weight: 600;">Info</span></h5><br>
                     <div class="row">
                        <div class="col-sm-4 Form_Input" >
                           <input type="text" placeholder="No/Street">
                        </div>
                        <div class="col-sm-4 Form_Input" >
                           <input type="text" placeholder="Area">
                        </div>
                        <div class="col-sm-4 Form_Input" >
                           <input type="text" placeholder="Country">
                        </div>
                        <div class="col-sm-4 Form_Input" >
                           <input type="text" placeholder="State">
                        </div>
                        <div class="col-sm-4 Form_Input" >
                           <input type="text" placeholder="City">
                        </div>
                        <div class="col-sm-4 Form_Select" >
                           <select>
                              <option checked>Marital Status</option>
                              <option> yes</option>
                              <option> No</option>
                           </select>
                        </div>
                        <div class="col-sm-4 Form_Input" >
                           <input type="text" placeholder="Date Of Birth"> 
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="page" *ngIf="Active_Tab === 'salary_details'">
            <div class="container-fluid">
               <!-- Company Details -->
               <div class="row">
                  <div class="col-sm-12">
                     <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Salary <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5>
                     <div class="row">
                        <div class="col-sm-4 Form_Select" >
                           <select>
                              <option checked>Select an option</option>
                              <option> Monthly</option>
                              <option> Hours</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <br>
                  <br>
                  <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Earnings
                     <span style="color:#516570;font-size:20px;font-weight: 600;">Table</span>
                  </h5>
                  <!-- table section -->
                  <table class="table_section">
                     <thead class="table_head">
                        <tr>
                        <th class="S_No">Earnings Type</th>
                        <th>Based On</th>
                        <th>Amount Or Percentage</th>
                        <th>Total</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td >Basic Pay</td>
                           <td class="Form_Select">
                              <select>
                                 <option checked>Select an option</option>
                                 <option> Fixed</option>
                                 <option> Percentage</option>
                              </select>
                           </td>
                           <td class="Form_Input" >
                              <input type="text" style="margin-bottom:0px;">
                           </td>
                           <td class="Form_Input">
                              <input type="text" style="margin-bottom:0px;">
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <!-- Detection Table -->
                  <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Detection
                     <span style="color:#516570;font-size:20px;font-weight: 600;">Table</span>
                  </h5>
                  <table class="table_section">
                     <thead class="table_head">
                        <tr>
                           <th class="S_No">Detection Type</th>
                           <th>Based On</th>
                           <th>Amount Or Percentage</th>
                           <th>Total</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td >ESI</td>
                           <td class="Form_Select">
                              <select>
                                 <option checked>Select an option</option>
                                 <option> Fixed</option>
                                 <option> Percentage</option>
                              </select>
                           </td>
                           <td class="Form_Input" >
                              <input type="text" style="margin-bottom:0px;">
                           </td>
                           <td class="Form_Input">
                              <input type="text" style="margin-bottom:0px;">
                           </td>
                        </tr>
                        <tr>
                           <td >PF</td>
                           <td class="Form_Select">
                              <select>
                                 <option checked>Select an option</option>
                                 <option> Fixed</option>
                                 <option> Percentage</option>
                              </select>
                           </td>
                           <td class="Form_Input" >
                              <input type="text" style="margin-bottom:0px;">
                           </td>
                           <td class="Form_Input">
                              <input type="text" style="margin-bottom:0px;">
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<!-- Footer -->
<div class="Footer">
   <button mat-raised-button color="primary" style = "top: 5px;"> Submit </button>
</div>