<div class="Modal_Content">
  <div class="Modal_Header">
     <p>View Contact Info</p>
     <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
 </div>
 <div class="Model_Body">
   <div class="row">
      <div class="col-sm-6 text-right Static">  Phone : </div>
      <div class="col-sm-6 text-left Data">  +91 98765 43210 </div>
   </div>
   <!-- <hr> -->
   <div class="row">
      <div class="col-sm-6 text-right Static">  Email : </div>
      <div class="col-sm-6 text-left Data">  sample@gmail.com </div>
   </div>
   <!-- <hr> -->
   <div class="row">
      <div class="col-sm-6 text-right Static">  Fax : </div>
      <div class="col-sm-6 text-left Data">  +0427 1234 123 </div>
   </div>
   <!-- <hr> -->
   <div class="row">
      <div class="col-sm-6 text-right Static">  Website : </div>
      <div class="col-sm-6 text-left Data">  www.SampleWebsite.com </div>
   </div>
   <!-- <hr> -->
   <div class="row">
      <div class="col-sm-6 text-right Static">  Company Type : </div>
      <div class="col-sm-6 text-left Data"> Company Type </div>
   </div>
   <!-- <hr> -->
   <div class="row">
      <div class="col-sm-6 text-right Static">  Company Registry :</div>
      <div class="col-sm-6 text-left Data"> May 2017  </div>
   </div>
   <!-- <hr> -->
   <div class="row">
      <div class="col-sm-6 text-right Static">  Type Of Business :</div>
      <div class="col-sm-6 text-left Data"> Type Of Business  </div>
   </div>
   <!-- <hr> -->
</div>
<div class="Model_Footer">
</div>
</div>

