<!-- If View Attendance Log -->
<div class="Modal_Content" *ngIf=" Type && Type === 'View'">
   <div class="Modal_Header">
      <p> Expense Approve </p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="row">
         <div class="col-sm-8">
            <form [formGroup]="Form">
               <div class="view_item">
                  <div class="Static"> Employee Name </div>
                  <div class="dots"> : </div>
                  <div class="Data">  {{_Data['Employee']?.EmployeeName}}</div>
               </div>
               <div class="view_item">
                  <div class="Static"> Total Expenses </div>
                  <div class="dots"> : </div>
                  <div class="Data"> Rs. {{_Data['Total_Expenses']}}</div>
               </div>
               <div class="view_item">
                  <div class="Static"> Total Approved Expenses </div>
                  <div class="dots"> : </div>
                  <div class="Data"> Rs. {{Form.controls['Total_Approved_Expenses'].value}} </div>
               </div>
            </form>
         </div>
         <div class="col-sm-4">
         </div>
      </div>
      <h5 class="Previous_Documents_Header" *ngIf="_Data['Expenses_Array'].length > 0"> Expenses Details </h5>
      <form [formGroup]="Form">
         <div class="Table_Section">
            <table>
               <thead>
                  <tr>
                     <th> S.no </th>
                     <th> Date </th>
                     <th> Amount </th>
                     <th> Approved Amount </th>
                     <th> Expenses Type </th>
                     <th style="width: 35%;"> Description </th>
                  </tr>
               </thead>
               <tbody>
                     <ng-container formArrayName="Expenses_Array">
                        <tr *ngFor="let Expenses of Form.controls['Expenses_Array']['controls']; let i = index" [formGroupName]="i">
                           <td>
                              <span class="S_no"> {{ i + 1 }} </span>
                           </td>
                           <td>
                              <span class="Style_1"> {{Expenses.controls['Date'].value | date:'d-M-yyyy'}}</span>
                           </td>
                           <td>
                              <span class="Style_1"> Rs.{{Expenses.controls['Amount'].value}}</span>
                           </td>
                           <td>
                              <span class="Style_1"> Rs. <input class="Special_input" type="number" formControlName="Approved_Amount" (change)="Amount_Change()"> </span>
                           </td>
                           <td>
                              <span class="Style_1"> {{Expenses.controls['Expenses_Type'].value}}</span>
                           </td>
                           <td>
                              <span class="Style_1" style="line-height: 16px; display: inline-block;"> {{Expenses.controls['Description'].value}} </span>
                           </td>
                        </tr>
                     </ng-container>
               </tbody>
            </table>
         </div>
      </form>
      <br>
      <h5 class="Previous_Documents_Header" *ngIf="_Data['Documents'].length > 0"> Uploaded Documents </h5>
      <div *ngIf="_Data['Documents'].length > 0" class="Previous_Documents">
         <div *ngFor="let Document of _Data['Documents']; let i=index">
            <a href="{{File_Url}}/Expense_Documents/{{Document.filename}}" target="blank"> {{Document.filename}} </a>
         </div>
      </div>
      <hr>
      <div class="row" style="align-items: center;">
         <div class="col-sm-6 text-left">
            <button mat-raised-button class="Bg_Danger"  color="primary" style ="top: 5px;" (click)="bsModalRef.hide()"> Cancel </button>
         </div>
         <div class="col-sm-6 text-right" >
            <button mat-raised-button [disabled]="!Form.valid && Form.invalid" color="primary" style = "top: 5px;" (click)=" Submit()"> Approve </button>
         </div>
      </div>
   </div>
</div>