<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
  <div class="Modal_Header">
     <p>Create Registration Info</p>
     <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
 </div>
 <div class="Model_Body">
  <div class="row">
     <div class="col-sm-6 Form_Select">
        <label>Registration Type:</label>
        <select>
          <option disabled> CST</option>
          <option> All </option>
          <option> </option>
          <option> </option>
          <option> </option>
          <option> </option>
          <option> </option>
       </select>
     </div>
   <div class="col-sm-6 Form_Input">
      <label>Incorporate Date:</label>
        <input type="text">
     </div><br>
     <div class="col-sm-6 Form_Input">
      <label>Number:</label>
        <input type="text" >
     </div>
   </div>
  </div>
  <div class="Model_Footer">
   <button mat-raised-button color="primary" > Submit </button>
</div>
</div>

<div class="Modal_Content" *ngIf="Type && Type === 'View'">
    <div class="Modal_Header">
       <p>View Registration Info</p>
       <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
         <div class="row">
               <div class="col-sm-6 text-right Static">  Registration Type : </div>
               <div class="col-sm-6 text-left Data">   Type1</div>
            </div>
            <div class="row">
               <div class="col-sm-6 text-right Static"> Incorporate Date : </div>
               <div class="col-sm-6 text-left Data">  27/05/18 </div>
            </div>
          <div class="row">
               <div class="col-sm-6 text-right Static">  Number : </div>
               <div class="col-sm-6 text-left Data">  7658454989 </div>
            </div>
    </div>
   </div>
