<div class="page" style="margin-top:100px;">
  <div class="container-fluid">
    <div class="Page_Identity">
      <div class="Page_Name">
        <h5>Invoice View</h5>
      </div>
      <div class="Page_Track">
        <ul>
          <li class="HeaderName">CRM</li>
          <li class="arrow">>></li>
          <li class="LinkName">Invoice</li>
          <li class="arrow">>></li>
          <li>Invoice View</li>
        </ul>
      </div>
    </div>
   <form>
      <div class="row">
        <div class="Company_Details">
          <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Company
            <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span>
            <button class="register_Payment" mat-raised-button> Register Payment </button>
          </h5>
          <br>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-5 text-center Left_Section">
               <div class="row">
                  <div class="col-sm-4 text-right Static"> Invoice no : </div>
                  <div class="col-sm-8 text-left Data"> 123 </div>
                </div>
               <div class="row">
                  <div class="col-sm-4 text-right Static"> Customer : </div>
                  <div class="col-sm-8 text-left Data">customer1 </div>
               </div>
               <div class="row">
                     <div class="col-sm-4 text-right Static"> Contact Person : </div>
                     <div class="col-sm-8 text-left Data">Contact Person1 </div>
                  </div>
                  <div class="row">
                        <div class="col-sm-4 text-right Static"> Payment Terms : </div>
                        <div class="col-sm-8 text-left Data">Payment Terms </div>
                     </div>
               </div>
              <div class="col-sm-4 Right_Section">
                <div class="left-data">
                <div class="row">
                    <div class="col-sm-4 text-right Static"> Invoice Date : </div>
                    <div class="col-sm-8 text-left Data"> 27/05/18</div>
                  </div>
                  
                  <div class="row">
                    <div class="col-sm-4 text-right Static"> Due date: </div>
                    <div class="col-sm-8 text-left Data"> Quote_112233 </div>
                  </div>
                 
                  <div class="row">
                    <div class="col-sm-4 text-right Static"> Created By : </div>
                    <div class="col-sm-8 text-left Data"> Admin </div>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Table_Section">
          <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Product
            <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span>
          </h5>
          <br>
          <table class="table_section">
            <thead class="table_head">
              <tr>
                <th>S.No</th>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Tax</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="8">
                  <span> No Records found</span>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 Form_Input">
              <label>Sub Total:</label>
              <input type="text">
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 Form_Input">
            </div>
            <div class="col-sm-4 Form_Input">
              <label>Tax:</label>
              <input type="text">
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 ">
            </div>
            <div class="col-sm-4 Form_Input">
              <label>Total:</label>
              <input type="text">
            </div>
            <div class="col-sm-4 ">
            </div>
            <div class="col-sm-4 ">
            </div>
            <div class="col-sm-4 Form_Input">
              <label>Round Off:</label>
              <input type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:20px;">
        <div class="col-sm-12 text-right">
         </div>
      </div>
    </form>
  </div>
</div>