<!-- If Create Or Edit The  Payroll Master -->
<div class="Modal_Content" *ngIf="Type && ( Type === 'Create' || Type === 'Edit')">
      <div class="Modal_Header">
         <p> {{Type}} Payroll Master </p>
         <span *ngIf="!Uploading" data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <form [formGroup]="Form" (ngSubmit)="onSubmit()">
         <div class="Model_Body">
            <div class="row">
               <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': Form.controls['Employee'].errors && !Form.controls['Employee'].pristine, 'Form_Success': Form.controls['Employee'].valid && !Form.controls['Employee'].pristine }">
                  <label>Employee:</label>
                  <ng-select class="NgSelect" 
                              [items]="_EmployeeList" 
                              bindLabel="EmployeeName"
                              bindValue="_id"
                              formControlName="Employee"
                              [searchable]="true" 
                              placeholder="Employee">
                  </ng-select>
                  <p class="error" *ngIf="Form.controls['Employee'].errors && !Form.controls['Employee'].pristine">
                     <span *ngIf="Form.controls['Employee'].errors.required">Employee is required</span> 
                  </p>
               </div>
               <div class="col-sm-4 Form_Input" [ngClass]="{'Form_Err': Form.controls['PaidLeaves_inYear'].errors && !Form.controls['PaidLeaves_inYear'].pristine, 'Form_Success': Form.controls['PaidLeaves_inYear'].valid && !Form.controls['PaidLeaves_inYear'].pristine }">
                  <label> No.of Paid Leaves per Year:</label>
                  <input type="number" formControlName="PaidLeaves_inYear">
                  <p class="error" *ngIf="Form.controls['PaidLeaves_inYear'].errors && !Form.controls['PaidLeaves_inYear'].pristine">
                     <span *ngIf="Form.controls['PaidLeaves_inYear'].errors.required">No.of Paid Leaves per Year is required</span>  
                  </p>
               </div>
               <div class="col-sm-4 Form_Input" >
                  <label> Maximum Leave Allowed per Month:</label>
                  <input type="number" formControlName="PaidLeaves_perMonth">
               </div>
            </div>
   
            <div class="row">
               <div class="col-sm-12">
                  <h5 class="GroupHeader"> Pay Details </h5>
                  <div class="row" style="margin: 0px 0px 0px 30px;">
                     <div class="col-sm-4 Form_Input">
                        <label> Basic Pay : <small>(min Rs.1000 )</small></label>
                        <input type="number" (input)="OnChangeCalculation()" formControlName="Basic_Pay">
                     </div>
                     <div class="col-sm-4 Form_Input Dual_Input" *ngIf="Form.controls['Basic_Pay'].status === 'VALID'">
                        <label> HRA : </label>
                        <input type="number" (input)="OnChangeCalculation()" formControlName="HRA">
                        <ng-select class="NgSelect ClearHide" 
                                    [items]="_Calc_Type"
                                    (change)="OnChangeCalculation()"
                                    formControlName="HRA_Type">
                        </ng-select>
                     </div>
                     <div class="col-sm-4 Form_Input Dual_Input" *ngIf="Form.controls['Basic_Pay'].status === 'VALID'">
                        <label> Conveyance :</label>
                        <input type="number" (input)="OnChangeCalculation()" formControlName="Conveyance">
                        <ng-select class="NgSelect ClearHide" 
                                    [items]="_Calc_Type"
                                    (change)="OnChangeCalculation()"
                                    formControlName="Conveyance_Type">
                        </ng-select>
                     </div>
                     <div class="col-sm-4 Form_Input Dual_Input" *ngIf="Form.controls['Basic_Pay'].status === 'VALID'">
                        <label> Medical Reimbursement :</label>
                        <input type="number" (input)="OnChangeCalculation()" formControlName="Medical_Reimbursement">
                        <ng-select class="NgSelect ClearHide" 
                                    [items]="_Calc_Type"
                                    (change)="OnChangeCalculation()"
                                    formControlName="Medical_Reimbursement_Type">
                        </ng-select>
                     </div>
                     <div class="col-sm-4 Form_Input Dual_Input" *ngIf="Form.controls['Basic_Pay'].status === 'VALID'">
                        <label> Food Allowance :</label>
                        <input type="number" (input)="OnChangeCalculation()" formControlName="Food_Allowance">
                        <ng-select class="NgSelect ClearHide" 
                                    [items]="_Calc_Type"
                                    (change)="OnChangeCalculation()"
                                    formControlName="Food_Allowance_Type">
                        </ng-select>
                     </div>
                     <div class="col-sm-4 Form_Input Dual_Input" *ngIf="Form.controls['Basic_Pay'].status === 'VALID'">
                        <label> Other Allowance :</label>
                        <input type="number" (input)="OnChangeCalculation()" formControlName="Other_Allowance">
                        <ng-select class="NgSelect ClearHide" 
                                    [items]="_Calc_Type"
                                    (change)="OnChangeCalculation()"
                                    formControlName="Other_Allowance_Type">
                        </ng-select>
                     </div>
                     <div class="col-sm-4 Form_Input" *ngIf="Form.controls['Basic_Pay'].status === 'VALID'">
                        <label> Total Payable :</label>
                        <input type="number" formControlName="Total_Payable">
                     </div> 
                  </div>
               </div>
            </div>

            <div class="row" *ngIf="Form.controls['Basic_Pay'].status === 'VALID'">
               <div class="col-sm-12">
                  <h5 class="GroupHeader"> Detection Details </h5>
                  <div class="row" style="margin: 0px 0px 0px 30px;">
                     <div class="col-sm-4 Form_Input Dual_Input">
                        <label> Professional Tax :</label>
                        <input type="number" (input)="OnChangeCalculation()" formControlName="Professional_Tax">
                        <ng-select class="NgSelect ClearHide" 
                                    [items]="_Calc_Type"
                                    (change)="OnChangeCalculation()"
                                    formControlName="Professional_Tax_Type">
                        </ng-select>
                     </div>
                     <div class="col-sm-4 Form_Input Dual_Input">
                        <label> Provident Fund :</label>
                        <input type="number" (input)="OnChangeCalculation()" formControlName="Provident_Fund">
                        <ng-select class="NgSelect ClearHide" 
                                    [items]="_Calc_Type"
                                    (change)="OnChangeCalculation()"
                                    formControlName="Provident_Fund_Type">
                        </ng-select>
                     </div>
                     <div class="col-sm-4 Form_Input Dual_Input">
                        <label> Employee State Insurance :</label>
                        <input type="number" (input)="OnChangeCalculation()" formControlName="Employee_State_Insurance">
                        <ng-select class="NgSelect ClearHide" 
                                    [items]="_Calc_Type"
                                    (change)="OnChangeCalculation()"
                                    formControlName="Employee_State_Insurance_Type">
                        </ng-select>
                     </div>
                     <div class="col-sm-4 Form_Input Dual_Input">
                        <label> Medical Insurance :</label>
                        <input type="number" (input)="OnChangeCalculation()" formControlName="Medical_Insurance">
                        <ng-select class="NgSelect ClearHide" 
                                    [items]="_Calc_Type"
                                    (change)="OnChangeCalculation()"
                                    formControlName="Medical_Insurance_Type">
                        </ng-select>
                     </div>
                     <div class="col-sm-4 Form_Input Dual_Input">
                        <label> TDS :</label>
                        <input type="number" (input)="OnChangeCalculation()" formControlName="TDS">
                        <ng-select class="NgSelect ClearHide" 
                                    [items]="_Calc_Type"
                                    (change)="OnChangeCalculation()"
                                    formControlName="TDS_Type">
                        </ng-select>
                     </div> 
                     <div class="col-sm-4 Form_Input">
                        <label> Total Detectable :</label>
                        <input type="number" formControlName="Total_Detectable">
                     </div>                  
                  </div>
               </div>
            </div>
            <div class="row" *ngIf="Form.controls['Basic_Pay'].status === 'VALID'">
               <div class="col-sm-12">
                  <h5 class="GroupHeader"> Monthly Salary </h5>
                  <div class="row" style="margin: 0px 0px 0px 30px;">
                     <div class="col-sm-4 Form_Input">
                        <input type="number" formControlName="Monthly_Salary">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="Model_Footer">
            <button type="submit" [disabled]="Form.status !== 'VALID' || Uploading"  mat-raised-button color="primary">
               <span *ngIf="Type === 'Create' && !Uploading" >Submit</span>
               <span *ngIf="Type === 'Edit' && !Uploading">Update</span>
               <span *ngIf="Uploading" class="UploadingBtn"> <i class="fa fa-refresh fa-spin"></i> Loading... </span>
            </button>
         </div>
      </form>  
   </div>
   <!-- If View The  Payroll Master-->
   <div class="Modal_Content" *ngIf=" Type && Type === 'View'">
      <div class="Modal_Header">
         <p>Payroll Master</p>
         <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <div class="Model_Body">
         <div class="Model_Body">
            <div class="row">
               <div class="col-sm-8">
                  <div class="view_item">
                     <div class="Static">Employee </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{Data.Employee?.EmployeeName}}</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">No.of Paid Leaves per Year </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{Data.PaidLeaves_inYear}}</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Maximum Leave Allowed per Month </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{Data.PaidLeaves_perMonth}}</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Monthly Salary </div>
                     <div class="dots"> : </div>
                     <div class="Data">Rs {{Data.Monthly_Salary}}</div>
                  </div>

                  <div class="view_item">
                     <div class="Static">Created By </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{Data.Created_By.Name}}</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Last Modified By </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{Data.Last_Modified_By.Name}}</div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Created Date </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{Data.createdAt | date:'medium'}}</div>
                  </div>
                  <div class="view_item">
                     <div class="Static">Last Modified Date  </div>
                     <div class="dots"> : </div>
                     <div class="Data"> {{Data.updatedAt | date:'medium'}}</div>
                  </div>
               </div>
            </div>



            <div class="row">
               <div class="col-sm-6">
                  <h5 class="GroupHeader"> Payable Details </h5>
                  <div class="view_item">
                     <div class="Static"> Basic Pay </div>
                     <div class="dots"> : </div>
                     <div class="Data">Rs {{Data.Basic_Pay}}</div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> HRA </div>
                     <div class="dots"> : </div>
                     <div class="Data">
                        <span *ngIf="Data.HRA_Type === 'Rs'"> Rs </span>
                        {{Data.HRA}}
                        <span *ngIf="Data.HRA_Type !== 'Rs'"> % </span>
                     </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Conveyance </div>
                     <div class="dots"> : </div>
                     <div class="Data">
                        <span *ngIf="Data.Conveyance_Type === 'Rs'"> Rs </span>
                        {{Data.Conveyance}}
                        <span *ngIf="Data.Conveyance_Type !== 'Rs'"> % </span>
                     </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Medical Reimbursement </div>
                     <div class="dots"> : </div>
                     <div class="Data">
                        <span *ngIf="Data.Medical_Reimbursement_Type === 'Rs'"> Rs </span>
                        {{Data.Medical_Reimbursement}}
                        <span *ngIf="Data.Medical_Reimbursement_Type !== 'Rs'"> % </span>
                     </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Food Allowance </div>
                     <div class="dots"> : </div>
                     <div class="Data">
                        <span *ngIf="Data.Food_Allowance_Type === 'Rs'"> Rs </span>
                        {{Data.Food_Allowance}}
                        <span *ngIf="Data.Food_Allowance_Type !== 'Rs'"> % </span>
                     </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Other Allowance </div>
                     <div class="dots"> : </div>
                     <div class="Data">
                        <span *ngIf="Data.Other_Allowance_Type === 'Rs'"> Rs </span>
                        {{Data.Other_Allowance}}
                        <span *ngIf="Data.Other_Allowance_Type !== 'Rs'"> % </span>
                     </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Other Allowance </div>
                     <div class="dots"> : </div>
                     <div class="Data">
                        <span *ngIf="Data.Other_Allowance_Type === 'Rs'"> Rs </span>
                        {{Data.Other_Allowance}}
                        <span *ngIf="Data.Other_Allowance_Type !== 'Rs'"> % </span>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6">
                  <h5 class="GroupHeader"> Detection Details </h5>
                  <div class="view_item">
                     <div class="Static"> Professional Tax </div>
                     <div class="dots"> : </div>
                     <div class="Data">
                        <span *ngIf="Data.Professional_Tax_Type === 'Rs'"> Rs </span>
                        {{Data.Professional_Tax}}
                        <span *ngIf="Data.Professional_Tax_Type !== 'Rs'"> % </span>
                     </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Provident Fund </div>
                     <div class="dots"> : </div>
                     <div class="Data">
                        <span *ngIf="Data.Provident_Fund_Type === 'Rs'"> Rs </span>
                        {{Data.Provident_Fund}}
                        <span *ngIf="Data.Provident_Fund_Type !== 'Rs'"> % </span>
                     </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Employee State Insurance </div>
                     <div class="dots"> : </div>
                     <div class="Data">
                        <span *ngIf="Data.Employee_State_Insurance_Type === 'Rs'"> Rs </span>
                        {{Data.Employee_State_Insurance}}
                        <span *ngIf="Data.Employee_State_Insurance_Type !== 'Rs'"> % </span>
                     </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> Medical Insurance </div>
                     <div class="dots"> : </div>
                     <div class="Data">
                        <span *ngIf="Data.Medical_Insurance_Type === 'Rs'"> Rs </span>
                        {{Data.Medical_Insurance}}
                        <span *ngIf="Data.Medical_Insurance_Type !== 'Rs'"> % </span>
                     </div>
                  </div>
                  <div class="view_item">
                     <div class="Static"> TDS </div>
                     <div class="dots"> : </div>
                     <div class="Data">
                        <span *ngIf="Data.TDS_Type === 'Rs'"> Rs </span>
                        {{Data.TDS}}
                        <span *ngIf="Data.TDS_Type !== 'Rs'"> % </span>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>
   
   
   
   
   
   
   
   
   
   
   
   