.Page_Section{
   margin-top:100px;
}
/* --------------   Page Identity Section  ----------------- */
.Page_Identity{
   display: flex;
   height:40px;
   width: 100%;
   margin-bottom: 5px;
}
.Page_Identity .Page_Track{
   width:100%;
   line-height: 35px;
}
.Page_Identity .Page_Track ul{
   display: flex;
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   align-items: center;
   float: right;
}
.Page_Identity .Page_Track ul li {
   font-size: 13px;
   font-weight: 500;
   margin-left: 5px;
}
.Page_Identity .Page_Track ul li.arrow{
   letter-spacing: -4px;
   font-size: 19px;
   transform: scale(.6, 1);
}
.Page_Identity .Page_Track ul li.arrowGreen{
   letter-spacing: -4px;
   font-size: 19px;
   transform: scale(.6, 1);
   color: #4ab65f;
}
.Page_Identity .Page_Track ul li.HeaderName{
   color: #4ab65f;
}
.Page_Identity .Page_Track ul li.LinkName{
   color: #4ab65f;
   cursor: pointer;
}
.Page_Content.Hr .Main_Section{
   width:100%;
   display:flex;
}
/* Left Section */
.Main_Section .Left_Section{
   width:20%;
   margin-left:1%;
   margin-right: 1%;
}
.Page_Content.Hr .Main_Section  .Left_Section .Tabs{
   padding: 0px;
}
.Page_Content.Hr .Main_Section  .Left_Section .Tabs .Tab {
   list-style-type: none;
   width: 100%;
   height: 50px;
   display: flex;
   align-items: center;
   padding: 12px;
   border-radius: 2px;
   line-height: 30px;
   margin-bottom: 13px;
   box-shadow: 0 2px 2px -2px rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
   background-color:#ffffff;
}
.Page_Content.Hr  .Main_Section .Left_Section .Tabs .Tab span{
   color:#4f6a7a;
   font-size: 15px;
   font-weight: 600;
}
.Page_Content.Hr  .Main_Section  .Left_Section .Tabs .Tab:hover span{
   color:#49B660;
}
.Page_Content.Hr .Main_Section .Left_Section .Tabs .Tab.active{
   background-color: #49B660;
}
.Page_Content.Hr  .Main_Section .Left_Section .Tabs .Tab.active span{
   color:white;
}
/* Right Section */
.Page_Content.Hr .Main_Section  .Right_Section{
   width:80%;
   margin-left: 1%;
   margin-right: 1%;
}