<app-header></app-header>
<!-- Page section -->
<div class="Page_Section">
   <div class="container-fluid">
      <div class="Page_Identity">
         <div class="Page_Track">
            <ul >
               <li class="HeaderName">HR</li>
               <li class="arrow">>></li>
               <li>Attendance</li>
            </ul>
         </div>
      </div>
      <!-- Left Section -->
      <div class="Page_Content Hr">
         <div class="Main_Section">
            <div class="Left_Section">
               <ul class="Tabs">
                  <li class="Tab" [ngClass]="{'active':Active_Tab === 'Attendance_Log'}" (click)="Active_Tab_Change('Attendance_Log')"><span class="Tab_Content">Attendance Log</span></li>     
                  <li class="Tab" [ngClass]="{'active':Active_Tab === 'Attendance_Report'}" (click)="Active_Tab_Change('Attendance_Report')"><span class="Tab_Content">Attendance Report</span></li>  
               </ul>
            </div>
            <!-- Right Section -->
            <div class="Right_Section">
              <div *ngIf="Active_Tab === 'Attendance_Log'">
                  <app-attendance-log-hr></app-attendance-log-hr>
               </div> 
               <div *ngIf="Active_Tab === 'Attendance_Report'">
                  <app-attendance-report-list></app-attendance-report-list>
               </div>   
            </div>
         </div>
      </div>
   </div>
</div>
   
 

