<div class="Main_Section" style="margin-top:100px;">
<div class="container-fluid">
      <div class="Page_Identity">
            <div class="Page_Name">
               <h5>Customer Invoice View</h5>
            </div>
            <div class="Page_Track">
               <ul >
                  <li class="HeaderName">Accounts</li>
                  <li class="arrow">>></li>
                  <li class= "LinkName">Customer Invoice</li>
                  <li class="arrow">>></li>
                  <li >Customer Invoice View</li>
               </ul>
            </div>
         </div>
      <div class="Company_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Company
               <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span>
            </h5>
            <br>
   <div class="row">
      <div class="col-sm-12 Right_Section">
         <div class="left-data">
          <br>
          <div class="row">
            <div class="col-sm-4 text-right Static"> Email : </div>
            <div class="col-sm-8 text-left Data"> sample@gmail.com </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4 text-right Static"> Quote Ref no: </div>
            <div class="col-sm-8 text-left Data"> aa-ss-14323</div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4 text-right Static"> Date : </div>
            <div class="col-sm-8 text-left Data"> 27/05/18 </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4 text-right Static"> PO No: </div>
            <div class="col-sm-8 text-left Data"> 1234 </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-4 text-right Static"> PO Date :</div>
            <div class="col-sm-8 text-left Data"> May 2017 </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="Table_Section">
      <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Product
            <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span>
          </h5>
         <br>
  <table class="table_section">
      <thead class="table_head">
        <tr>
          <th>S.No</th>
          <th>Products</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Tax</th>
          <th>Discount</th>
          <th> Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="s_no">1</span>
          </td>
          <td>
            <span class="style_1">website</span>
          </td>
          <td>
            <span class="style_1">20000</span>
          </td>
          <td>
            <span class="style_1">2</span>
          </td>
          <td>
            <span class="style_1">5%</span>
          </td>
          <td>
            <span class="style_1">5%</span>
          </td>
          <td>
            <span class="style_1">10000</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="s_no">2</span>
          </td>
          <td>
            <span class="style_1">website</span>
          </td>
          <td>
            <span class="style_1">20000</span>
          </td>
          <td>
            <span class="style_1">2</span>
          </td>
          <td>
            <span class="style_1">5%</span>
          </td>
          <td>
            <span class="style_1">5%</span>
          </td>
          <td>
            <span class="style_1">10000</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="s_no">3</span>
          </td>
          <td>
            <span class="style_1">website</span>
          </td>
          <td>
            <span class="style_1">20000</span>
          </td>
          <td>
            <span class="style_1">2</span>
          </td>
          <td>
            <span class="style_1">5%</span>
          </td>
          <td>
            <span class="style_1">5%</span>
          </td>
          <td>
            <span class="style_1">10000</span>
          </td>
        </tr>
</tbody>
    </table>
    <br>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4 Form_Input">
        <label>Sub Total:</label>
        <input type="text">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4 Form_Input">
        <label>Tax:</label>
        <input type="text">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4 Form_Input">
        <label>Total:</label>
        <input type="text">
      </div>
    </div>
  </div>
</div>
</div>