
<div class="Page_Section">
  <div class="container-fluid">
      <div class="Page_Identity">
         <div class="Page_Name">
            <h5>COMPANY SETTINGS</h5>
         </div>
         <div class="Page_Track">
            <ul >
              <li class="HeaderName">Settings</li>
              <li class="arrow">>></li>
              <li>Company Settings</li>
            </ul>
         </div>
      </div>
     <div class="Page_Content Company_Settings">
        <div class="Main_Section">
           <div class="Left_Section">
              <ul class="Tabs">
                 <li class="Tab" [ngClass]="{'active':Active_Tab === 'Company_Info'}" (click)="Active_Tab_Change('Company_Info')"><span class="Tab_Content">Company Info</span></li>
                 <li class="Tab" [ngClass]="{'active':Active_Tab === 'Contact_Info'}" (click)="Active_Tab_Change('Contact_Info')"><span class="Tab_Content">Contact Info</span> </li>
                 <li class="Tab" [ngClass]="{'active':Active_Tab === 'Departments'}" (click)="Active_Tab_Change('Departments')"><span class="Tab_Content">Departments </span> </li>
                 <li class="Tab" [ngClass]="{'active':Active_Tab === 'Branch'}" (click)="Active_Tab_Change('Branch')"><span class="Tab_Content">Branch </span></li>
                 <li class="Tab" [ngClass]="{'active':Active_Tab === 'Registration_Info'}" (click)="Active_Tab_Change('Registration_Info')"><span class="Tab_Content">Registration Info</span> </li>
                 <li class="Tab" [ngClass]="{'active':Active_Tab === 'Pf_Info'}" (click)="Active_Tab_Change('Pf_Info')"><span class="Tab_Content">PF Info </span> </li>
                 <li class="Tab" [ngClass]="{'active':Active_Tab === 'ESI_Info'}" (click)="Active_Tab_Change('ESI_Info')"><span class="Tab_Content">ESI Info </span></li>
                 <li class="Tab" [ngClass]="{'active':Active_Tab === 'PI_Info'}" (click)="Active_Tab_Change('PI_Info')"><span class="Tab_Content">PT Info </span></li>
                 <li class="Tab" [ngClass]="{'active':Active_Tab === 'IT_Info'}" (click)="Active_Tab_Change('IT_Info')"><span class="Tab_Content">IT Info </span></li>
                 <li class="Tab" [ngClass]="{'active':Active_Tab === 'Registration_Type'}" (click)="Active_Tab_Change('Registration_Type')"><span class="Tab_Content">Registration Type </span></li>
                
               </ul>
           </div>
           <div class="Right_Section">
              <div *ngIf="Active_Tab === 'Company_Info'">
                  <app-company-info-company-settings></app-company-info-company-settings>
              </div>
              <div *ngIf="Active_Tab === 'Contact_Info'">
                  <app-contact-info-company-settings></app-contact-info-company-settings>
              </div>
              <div *ngIf="Active_Tab === 'Departments'">
                  <app-departments-company-settings></app-departments-company-settings>
              </div>
              <div *ngIf="Active_Tab === 'Branch'">
                  <app-branch-company-settings></app-branch-company-settings>
              </div>
              <div *ngIf="Active_Tab === 'Registration_Info'">
                  <app-registration-info-company-settings></app-registration-info-company-settings>
              </div>
              <div *ngIf="Active_Tab === 'Pf_Info'">
                  <app-pfinfo-company-settings></app-pfinfo-company-settings>
              </div>
              <div *ngIf="Active_Tab === 'ESI_Info'">
                  <app-esiinfo-company-settings></app-esiinfo-company-settings>
              </div>
              <div *ngIf="Active_Tab === 'PI_Info'">
                  <app-ptinfo-company-settings></app-ptinfo-company-settings>
              </div>
              <div *ngIf="Active_Tab === 'IT_Info'">
                  <app-it-info-company-settings></app-it-info-company-settings>
              </div>
              <div *ngIf="Active_Tab === 'Registration_Type'">
                  <app-registration-type-company-settings></app-registration-type-company-settings>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
