<div class="Main_Section">
   <div class="row">
      <div class="col-sm-6 text-center Left_Section">
         <img class="company_img" alt="Company Image" src="assets/images/basic/pexels-photo-323705.jpeg">
            <div class="row">
               <div class="col-sm-12 text-center Static"> AASHI Technologies </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-sm-4 text-right Static">  Address : </div>
               <div class="col-sm-8 text-left Data"> 32- Sri Lakshmi Nagar, <br> Coimbatore, <br> TamilNadu, <br> India, </div>
            </div>
            <hr>
      </div>
      <div class="col-sm-6 Right_Section">
         <div class="left-data">
            <br>
            <div class="row">
               <div class="col-sm-4 text-right Static">  Phone : </div>
               <div class="col-sm-8 text-left Data">  +91 98765 43210 </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-sm-4 text-right Static">  Email : </div>
               <div class="col-sm-8 text-left Data">  sample@gmail.com </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-sm-4 text-right Static">  Fax : </div>
               <div class="col-sm-8 text-left Data">  +0427 1234 123 </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-sm-4 text-right Static">  Website : </div>
               <div class="col-sm-8 text-left Data">  www.SampleWebsite.com </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-sm-4 text-right Static">  Company Type : </div>
               <div class="col-sm-8 text-left Data"> Company Type </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-sm-4 text-right Static">  Company Registry :</div>
               <div class="col-sm-8 text-left Data"> May 2017  </div>
            </div>
            <hr>
            <div class="row">
               <div class="col-sm-4 text-right Static">  Type Of Business :</div>
               <div class="col-sm-8 text-left Data"> Type Of Business  </div>
            </div>
            <hr>
         </div>
      </div>
   </div>
   <div class="edit-button">
      <button (click)="modelcompanyinfo()" mat-mini-fab color="primary"> 
         <i class="material-icons">edit</i> 
      </button>
   </div>
</div>




