.Company_Details{
   line-height: 30px;
   background-color: #fff;
   border: 1px solid #fff;
   padding: 15px;
   box-shadow: 3px 3px 4px #bfb6b6;
   margin: 0px;
   position: relative;
}
.Company_Details .BoxHeader{
   margin-bottom: 15px;
   font-weight: 700;
   font-size: 18px;
   color: #4f6a7a;
   letter-spacing: 0.3px;
   text-decoration: underline;
   position: relative;
 }
 .GroupHeader{
   border-bottom: 1px dashed #cccccc;
   font-weight: 700;
   font-size: 20px;
   color: #4f6a7a;
   letter-spacing: 0.3px;
   margin: 15px 0px;
   padding-bottom: 6px;
}
/* --------------   Page Identity Section  ----------------- */
.Page_Identity{
   display: flex;
   height:40px;
   width: 100%;
   margin-bottom: 5px;
}
.Page_Identity .Page_Track{
   width:100%;
   line-height: 35px;
}
.Page_Identity .Page_Track ul{
   display: flex;
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   align-items: center;
   float: right;
}
.Page_Identity .Page_Track ul li {
   font-size: 13px;
   font-weight: 500;
   margin-left: 5px;
}
.Page_Identity .Page_Track ul li.arrow{
   letter-spacing: -4px;
   font-size: 19px;
   transform: scale(.6, 1);
}
.Page_Identity .Page_Track ul li.arrowGreen{
   letter-spacing: -4px;
   font-size: 19px;
   transform: scale(.6, 1);
   color: #4ab65f;
}
.Page_Identity .Page_Track ul li.HeaderName{
   color: #4ab65f;
}
.Page_Identity .Page_Track ul li.LinkName{
   color: #4ab65f;
   cursor: pointer;
}
.Page_Content.Hrms .Main_Section{
   width:100%;
   display:flex;
}
/* ************************************ View Style ******************************* */
.view_item {
   display: grid;
   grid-template-columns: 200px 15px auto;
   padding-left: 15px;
}
.view_item .Static{
   font-weight: 700;
   color: #4f6a7a;
   margin-bottom: 10px;
   font-size: 15px;
}
.view_item .dots{
   font-weight: 800;
   color: #4f6a7a;
   margin-bottom: 10px;
   font-size: 15px;
}
.view_item .Data{
   font-weight: 500;
   color: #4f6a7a;
   margin-bottom: 10px;
   font-size: 14px;
}
/* table section */
   .Table_Section{
      background-color: #fff;
      border-top: 3px solid #49b660;
      border-radius: 5px;
      box-shadow: 3px 2px 2px #b9b0b0;
   }
   .Table_Section1{
      padding: 15px;
   }
   .table_section{
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
   }
   .table_section .table_head{
      font-size: 16px;
      color: #483737;
      cursor: pointer;
      background-color: #d8dcd9;
      border: 1px solid #d8dcd9;
   }
   .table_section tr{
      border: 1px solid #d7dcd8;
      height: 47px;
   }
   .table_section thead th{
   text-align:center;
   }
   .table_section thead .S_No{
      width:130px;
   }
   .table_section thead .Action{
      width:60px;
   }
   .table_section tbody td{
      background-color:#fff;
      width:100%;
      text-align:center;
      padding:0px 10px;
   }
   .table_section tbody td span{
      font-size:16px;
      font-weight:400;
      color:#6d6868;
   }
   .Table_Section table tbody tr td .Action_Section{
      color: #ffffff;
      height: 35px;
      width: 35px;
      line-height: 30px;
      display: flex;
      border-radius: 5px;
      cursor: pointer;
      float: right;
      margin-right: 10px;
   }
   .Table_Section table tbody tr td .Action_Section i {
      width: 100%;
      line-height: 35px;
   }
/* Form style */
   .Form_Input label {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 700;
      color: #4e6a7a;
   }
   .Form_Input {
      color: #61889e;
   }
