<div class="Main_Section" style="margin-top:100px">
   <div class="container-fluid">
      <div class="View_Section">
         
         
            <div class="row">
               <div class="col-sm-6 text-right Static">Employee: </div>
               <div class="col-sm-6 text-left Data"> Employee</div>
            </div>
            <div class="row">
               <div class="col-sm-6 text-right Static">Code: </div>
               <div class="col-sm-6 text-left Data"> code</div>
            </div>
            <div class="row">
               <div class="col-sm-6 text-right Static">Payslip Month: </div>
               <div class="col-sm-6 text-left Data">jan</div>
            </div>
         
      </div>
      <br>
      <!-- table section -->
      <div class="Table_Section">
         <div class="Table_Section1">
         <table class="table_section">
            <thead class="table_head">
               <tr>
               <th colspan="2" scope="colgroup">Earnings</th>
               <th colspan="2" scope="colgroup">Detection</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td scope="col" style="color:#4E6A7A;">Basic Pay:</td>
                  <td class="Form_Input" scope="col"><input type="text"></td>
                  <td scope="col" style="color:#4E6A7A;">ESI:</td>
                  <td scope="col" class="Form_Input"><input type="text"></td>
               </tr>
               <tr>
                  <td scope="col"></td>
                  <td class="Form_Input" scope="col"></td>
                  <td scope="col" style="color:#4E6A7A;">PF:</td>
                  <td scope="col" class="Form_Input"><input type="text"></td>  
               </tr>
            </tbody>
         </table>
         <br>
         <div class="row">
            <div class="col-sm-6">
               <div class="row">
                  <div class="col-sm-6 Form_Input">
                     <label>Total Earnings:</label>
                  </div>
                  <div class="col-sm-6 Form_Input">
                     <input type="text">
                  </div>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="row">
                  <div class="col-sm-6 Form_Input" >
                     <label>Total Detections:</label>
                  </div>
                  <div class="col-sm-6 Form_Input">
                     <input type="text" style="margin-bottom: 20px">
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <div class="row">
                  <div class="col-sm-6">
                  </div>
                  <div class="col-sm-6 ">
                  </div>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="row">
                  <div class="col-sm-6 Form_Input" >
                     <label>Net Income:</label>
                  </div>
                  <div class="col-sm-6 Form_Input">
                     <input type="text" style="margin-bottom: 20px">
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <div class="row">
                  <div class="col-sm-6">
                  </div>
                  <div class="col-sm-6 ">
                  </div>
               </div>
            </div>
            <div class="col-sm-6">
               <div class="row">
                  <div class="col-sm-6 Form_Input" >
                     <label>Amount Payable:</label>
                  </div>
                  <div class="col-sm-6 Form_Input">
                     <input type="text" style="margin-bottom: 20px">
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
   </div>
</div>
