/* Company Details */
   .Company_Details{
      background-color: #fff;
      padding: 20px;
      width: 100%;
      border-radius: 5px;
      border-top: 2px solid #49B660;
   }
   .Static{
      font-weight: 800;
      color: #4f6a7a;
   }
   .Data{
      font-weight: 500;
      color: #4f6a7a;
   }
/* table section */
    .Table_Section{
    background-color: #fff;
    border-top: 3px solid #49b660;
    }
    .Table_Section1{
        padding: 15px;
    }
   .table_section{
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
      }
   .table_section .table_head{
      font-size: 16px;
      color: #483737;
      cursor: pointer;
      background-color: #d7dcd8;
      border: 1px solid #d7dcd8;
   }
   .table_section tr{
      border: 1px solid #d7dcd8;
      height: 47px;
   }
   .table_section thead th{
   text-align:center;
   }
   .table_section thead .S_No{
      width:130px;
   }
   .table_section thead .Action{
      width:60px;
   }
   .table_section tbody td{
      background-color:#fff;
      width:100%;
      text-align:center;
      padding:0px 10px;
   
   }
   .table_section tbody td span{
      font-size:16px;
      font-weight:400;
      color:#6d6868;
   }
   .Table_Section table tbody tr td .Action_Section{
      color: #ffffff;
      height: 35px;
      width: 35px;
      line-height: 30px;
      display: flex;
      border-radius: 5px;
      cursor: pointer;
      float: right;
      margin-right: 10px;
   }
   .Table_Section table tbody tr td .Action_Section i {
      width: 100%;
      line-height: 35px;
   }
/* Form style */
   .Form_Input label {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 700;
      color: #4e6a7a;
   }
   .Form_Input input {
      padding: 4px 10px;
      width: 100%;
      height: 37px;
      outline: none;
      border: 1px solid #c1bcbc;
      color: rgb(79, 107, 123);
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.3px;
      background-color: #fdfdfd;
      border-radius: 3px;
   }
   .Form_TextArea label {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 700;
      color: #4e6a7a;
   }
   .Form_TextArea textarea {
      padding: 4px 10px;
      width: 100%;
      outline: none;
      margin-bottom: 20px;
      border: 1px solid #e8e8e8;
      color: rgb(79, 107, 123);
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.3px;
   }
   .Form_Input input:-moz-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Input input::-moz-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Input input::-webkit-input-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Input input:-ms-input-placeholder{
      color: #999999;
      font-weight: 400;
   }
   .Form_Select label {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 700;
      color: #4e6a7a;
   }
   .Form_Select select{
      width: 100%;
      height: 37px;
      outline: none;
      padding: 0px 10px;
      margin-bottom: 20px;
      border: 1px solid #e8e8e8;
      color: rgb(79, 107, 123);
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.3px;
   }
   .Form_Select select option{
      color: rgb(79, 107, 123);
      width: 100%;
   }