<!-- If View Attendance Log -->
<div class="Modal_Content" *ngIf=" Type && Type === 'View'">
   <div class="Modal_Header">
      <p>View Leaves</p>
      <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
   </div>
   <div class="Model_Body">
      <div class="view_item">
         <div class="Static"> Employee Name </div>
         <div class="dots"> : </div>
         <div class="Data">  {{_Data['Employee']?.EmployeeName}}</div>
      </div>
      <div class="view_item">
         <div class="Static"> Name </div>
         <div class="dots"> : </div>
         <div class="Data"> {{_Data['Leave_Type']?.Name}} </div>
      </div>
      <div class="view_item">
         <div class="Static">From Date</div>
         <div class="dots"> : </div>
         <div class="Data">  {{_Data['From_Date'] | date:'d-M-yyyy'}}</div>
      </div>
      <div class="view_item">
         <div class="Static">To Date </div>
         <div class="dots"> : </div>
         <div class="Data">{{_Data['To_Date'] | date:'d-M-yyyy'}}</div>
      </div>
      <div class="view_item">
         <div class="Static">Purpose </div>
         <div class="dots"> : </div>
         <div class="Data"> {{_Data['Purpose']}} </div>
      </div>
      <div class="view_item">
         <div class="Static"> Created Date </div>
         <div class="dots"> : </div>
         <div class="Data"> {{_Data['createdAt'] | date:'medium'}} </div>
      </div>
      <div class="view_item">
         <div class="Static"> Created By </div>
         <div class="dots"> : </div>
         <div class="Data"> {{_Data['Last_Modified_By']?.Name}} </div>
      </div>
   </div>
</div>