<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
      <div class="Modal_Header">
          <p>Employees</p>
          <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <div class="Model_Body">
        <div class="row">
          <div class="col-sm-6 Form_Input">
              <label>Employee Name:</label>
              <input type="text">
          </div>
          <div class="col-sm-6 Form_Input">
               <label>Code:</label>
               <input type="text">
           </div>
           <div class="col-sm-6 Form_Input">
               <label>Branch:</label>
               <input type="text">
           </div>
           <div class="col-sm-6 Form_Input">
               <label>Category:</label>
               <input type="text">
           </div>
           <div class="col-sm-6 Form_Input">
               <label>Department:</label>
               <input type="text">
           </div>
           <div class="col-sm-6 Form_Input">
               <label>Job Title:</label>
               <input type="text">
           </div>
           <div class="col-sm-6 Form_Select">
               <label>Manager:</label>
               <select>
                     <option disabled> Manager</option>
                     <option>Manager </option>
                     <option> Manager </option>
                     <option> Manager </option>
                     <option> Manager </option>
                     <option> Manager </option>
                   </select>
           </div>
           <div class="col-sm-6 ">
               <input type="checkbox" style="margin-top:35px">Is a Manager
           </div>
           <div class="col-sm-6 Form_Input">
               <label>Mobile No:</label>
               <input type="text">
           </div>
           <div class="col-sm-6 Form_Input">
               <label>Date Of Joining:</label>
               <input type="text">
           </div>
       </div>
    </div>
       <div class="Model_Footer">
        <button mat-raised-button color="primary" > Submit </button>
     </div>
    </div>
    <div class="Modal_Content" *ngIf=" Type && Type === 'View'">
      <div class="Modal_Header">
         <p>Employees</p>
         <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
     </div>
     <div class="Model_Body">
            <div class="row">
               <div class="col-sm-6 text-right Static">Employee Name: </div>
               <div class="col-sm-6 text-left Data"> Employee Name</div>
            </div>
            <div class="row">
                  <div class="col-sm-6 text-right Static">Code: </div>
                  <div class="col-sm-6 text-left Data"> Code</div>
               </div>
               <div class="row">
                     <div class="col-sm-6 text-right Static">Branch: </div>
                     <div class="col-sm-6 text-left Data"> Branch</div>
                  </div>
                  <div class="row">
                        <div class="col-sm-6 text-right Static">Category: </div>
                        <div class="col-sm-6 text-left Data"> Category</div>
                     </div>
                     <div class="row">
                           <div class="col-sm-6 text-right Static">Department: </div>
                           <div class="col-sm-6 text-left Data"> Department</div>
                        </div>
                        <div class="row">
                              <div class="col-sm-6 text-right Static">Job Title: </div>
                              <div class="col-sm-6 text-left Data"> Job Title</div>
                           </div>
                           <div class="row">
                                 <div class="col-sm-6 text-right Static">Manager: </div>
                                 <div class="col-sm-6 text-left Data"> Manager</div>
                              </div>
                              <div class="row">
                                    <div class="col-sm-6 text-right Static">Mobile No: </div>
                                    <div class="col-sm-6 text-left Data"> Mobile No</div>
                                 </div>
                                 <div class="row">
                                       <div class="col-sm-6 text-right Static">Date Of Joining: </div>
                                       <div class="col-sm-6 text-left Data"> Date Of Joining</div>
                                    </div>
        </div>
     </div>
    
    
    
    
