<!-- Header One -->
   <div class="Header_Page">
      <div class="Header_One">
         <!-- Logo -->
         <img src="assets/images/basic/Insight360.png" alt="Logo" class="Header_Logo"> 
         <!-- Header Button -->
         <span class="Header_Button">
            <span class="Button_Tree">
               <span class="Menu">
                  <span class="header_button">+Create</span>
               </span>
               <ul class="Button_Tree_View">
                  <li class="Button_Tree_List"><a>Item1</a></li>
                  <li class="Button_Tree_List"><a>Item1</a></li>
                  <li class="Button_Tree_List"><a>Item1</a></li>
                  <li class="Button_Tree_List"><a>Item1</a></li>
               </ul>
            </span>
         </span>
         <!-- Search Section -->
         <span class="search_section">
            <input type="text" placeholder="search">
            <i class="material-icons">search </i>
         </span>
         <!-- Logout Button -->
         <span class="Logout_Btn"> <span> Logout </span></span>
      </div>
   <!-- Header Two -->
      <div class="Header_Two">
         <ul class="Menus">
            <!-- Dashboard -->
            <li class="Menu_List" [routerLink]="['/dashboard']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">dashboard</i>
                  <span> &nbsp; Dashboard </span> 
               </span>
            </li>
            <!-- CRM -->
            <li class="Menu_List">
               <span class="Menu_Tree">
                  <span class="Menu">
                     <i class="material-icons">people</i>
                     <span> &nbsp; CRM </span> 
                  </span>
                  <ul class="Menu_Tree_View">
                     <li class="Menu_Tree_List"  [routerLink]="['/Crm_Customers_List']"><a> Customers </a></li>
                     <li class="Menu_Tree_List" [routerLink]="['/crm_machine_list']"><a> Machines </a></li>
                     <li class="Menu_Tree_List" [routerLink]="['/crm_ticket_list']"><a> Tickets </a></li>
                     <li class="Menu_Tree_List"  [routerLink]="['/crm_invoice_list']"><a> Invoice  </a></li>
                  </ul>
               </span>
            </li>
            <!-- HRMS -->
            <li class="Menu_List"  [routerLink]="['/main_hrms']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span > &nbsp; HRMS </span> 
               </span>
            </li>
            <!-- Accounts -->
            <li class="Menu_List" >
               <span class="Menu_Tree">
                  <span class="Menu">
                     <i class="material-icons">people</i>
                     <span> &nbsp; Accounts </span> 
                  </span>
                  <ul class="Menu_Tree_View">
                     <li class="Menu_Tree_List"  [routerLink]="['/account_customer_list']"><a> Customer </a></li>
                     <li class="Menu_Tree_List"  [routerLink]="['/account_customer_invoice_list']"><a> CustomerInvoice </a></li>
                     <li class="Menu_Tree_List"  [routerLink]="['/account_customer_payments_list']"><a> CustomerPayments </a></li>
                     <li class="Menu_Tree_List"  [routerLink]="['/account_vendor_list']"><a>Vendor</a></li>
                     <li class="Menu_Tree_List"  [routerLink]="['/account_vendor_bills_list']"><a>Vendor Bills</a></li>
                     <li class="Menu_Tree_List"  [routerLink]="['/vendor_payment_list']"><a>Vendor Payments</a></li>
                  </ul>
               </span>
            </li>
            <!-- Settings -->
            <li class="Menu_List" >
               <span class="Menu_Tree">
                  <span class="Menu">
                     <i class="material-icons">settings</i>
                     <span> &nbsp; Settings </span> 
                  </span>
                  <ul class="Menu_Tree_View">
                     <li class="Menu_Tree_List" [routerLink]="['/company_settings']"><a> Company Settings </a></li>
                     <li class="Menu_Tree_List" [routerLink]="['/CRM_Settings']"><a> CRM Settings </a></li>
                     <li class="Menu_Tree_List" [routerLink]="['/Hrms_Settings']" ><a> HRMS Settings  </a></li>
                     <li class="Menu_Tree_List" [routerLink]="['/Hr_Settings']" ><a> HR Settings </a></li>
                     <li class="Menu_Tree_List" [routerLink]="['/Account_Settings']"><a> Account Settings </a></li>
                  </ul>
               </span>
            </li>
         </ul>
      </div>
   </div>

