<!-- Header One -->
   <div class="Header_Page">
      <div class="Header_One">
         <!-- Logo -->
         <img src="assets/images/basic/Hasta.png" alt="Logo" class="Header_Logo"> 
         <!-- Logout Button -->
         <span class="Logout_Btn"> <span (click)="LogOut()"> Logout </span></span>
      </div>
   <!-- Header Two -->
      <div class="Header_Two">
         <ul class="Menus" *ngIf="Type === 'Admin'" >
            <!-- CRM -->
            <li class="Menu_List" routerLinkActive="active" >
               <span class="Menu_Tree">
                  <span class="Menu">
                     <i class="material-icons">people</i>
                     <span> &nbsp; CRM </span> 
                  </span>
                  <ul class="Menu_Tree_View">
                     <li class="Menu_Tree_List" routerLinkActive="active" ><a [routerLink]="['/Crm_Customers_List']"> Customers </a></li>
                     <li class="Menu_Tree_List" routerLinkActive="active" ><a [routerLink]="['/crm_machine_list']"> Machines </a></li>
                     <li class="Menu_Tree_List" routerLinkActive="active" ><a [routerLink]="['/crm_ticket_list']"> Tickets </a></li>
                  </ul>
               </span>
            </li>
            <!-- HR -->
             <li class="Menu_List" routerLinkActive="active">
               <span class="Menu_Tree">
                  <span class="Menu">
                     <i class="material-icons">people</i>
                     <span> &nbsp; HR </span> 
                  </span>
                  <ul class="Menu_Tree_View">
                     <li class="Menu_Tree_List" routerLinkActive="active" >
                        <a [routerLink]="['/List_Employees']"> Employees </a>
                        <span class="Hidden_Links"> 
                           <span [routerLink]="['/Create_Employees']"></span>
                        </span>
                     </li>
                     <li class="Menu_Tree_List" routerLinkActive="active" [routerLink]="['/main_Attendance']"><a> Attendance </a></li>
                     <li class="Menu_Tree_List" routerLinkActive="active" [routerLink]="['/Main_Payroll']"><a> Payroll </a></li>
                     <li class="Menu_Tree_List" routerLinkActive="active" [routerLink]="['/Main_Payroll_Master']"><a> Payroll Master</a></li>
                  </ul>
               </span>
            </li>
            <!-- HRMS -->
            <li class="Menu_List" routerLinkActive="active">
               <span class="Menu_Tree">
                  <span class="Menu">
                     <i class="material-icons">people</i>
                     <span> &nbsp; HRMS </span> 
                  </span>
                  <ul class="Menu_Tree_View">
                     <li class="Menu_Tree_List" routerLinkActive="active">
                        <a [routerLink]="['/List_Leaves']"> Leaves </a>
                        <span class="Hidden_Links"> 
                           <span [routerLink]="['/Create_Leaves']"></span>
                        </span>
                     </li>
                     <li class="Menu_Tree_List" routerLinkActive="active">
                        <a [routerLink]="['/Expenses_List']"> Expenses </a>
                        <span class="Hidden_Links"> 
                           <span [routerLink]="['/Create_Expenses']"></span>
                        </span>
                     </li>
                  </ul>
               </span>
            </li>
            <!-- Settings -->
            <li class="Menu_List" routerLinkActive="active">
               <span class="Menu_Tree">
                  <span class="Menu">
                     <i class="material-icons">settings</i>
                     <span> &nbsp; Settings </span> 
                  </span>
                  <ul class="Menu_Tree_View">
                     <li class="Menu_Tree_List" routerLinkActive="active" [routerLink]="['/CRM_Settings']"><a> CRM Settings </a></li>
                     <li class="Menu_Tree_List" routerLinkActive="active" [routerLink]="['/Hr_Settings']" ><a> HR Settings </a></li> 
                     <li class="Menu_Tree_List" routerLinkActive="active" [routerLink]="['/Hrms_Settings']" ><a> HRMS Settings </a></li> 
                     <li class="Menu_Tree_List" routerLinkActive="active" [routerLink]="['/User_Management']"><a> User Management  </a></li>
                  </ul>
               </span>
            </li>
         </ul>
         <ul *ngIf="Type === 'Employee'" class="Menus">
            <li class="Menu_List" routerLinkActive="active" [routerLink]="['/Crm_Customers_List']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Customers </span> 
               </span>
            </li>
            <li class="Menu_List" routerLinkActive="active" [routerLink]="['/crm_machine_list']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Machines </span> 
               </span>
            </li>
            <li class="Menu_List" routerLinkActive="active" [routerLink]="['/crm_ticket_list']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Tickets </span> 
               </span>
            </li>
            <li class="Menu_List" routerLinkActive="active" [routerLink]="['/Attendance_Log']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Attendance Log </span> 
               </span>
            </li>
            <li class="Menu_List" routerLinkActive="active" [routerLink]="['/List_Leaves']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Leaves </span> 
               </span>
            </li>
            <li class="Menu_List" routerLinkActive="active" [routerLink]="['/Expenses_List']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Expenses </span> 
               </span>
            </li>
            <li class="Menu_List" routerLinkActive="active" [routerLink]="['/Main_Payroll']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Payroll </span> 
               </span>
            </li>
         </ul>
         <ul *ngIf="Type === 'Customer'" class="Menus">
            <li class="Menu_List" routerLinkActive="active" [routerLink]="['/Crm_Customers_List']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Customers </span> 
               </span>
            </li>
            <li class="Menu_List" routerLinkActive="active" [routerLink]="['/crm_machine_list']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Machines </span> 
               </span>
            </li>
            <li class="Menu_List" routerLinkActive="active" [routerLink]="['/crm_ticket_list']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Tickets </span> 
               </span>
            </li>
         </ul>
      </div>
   </div>

