<!-- Header One -->
   <div class="Header_Page">
      <div class="Header_One">
         <!-- Logo -->
         <img src="assets/images/basic/Hasta.png" alt="Logo" class="Header_Logo"> 
         <!-- Logout Button -->
         <span class="Logout_Btn"> <span (click)="LogOut()"> Logout </span></span>
      </div>
   <!-- Header Two -->
      <div class="Header_Two">
         <ul class="Menus" *ngIf="Type === 'Admin'" >
            <!-- CRM -->
            <li class="Menu_List">
               <span class="Menu_Tree">
                  <span class="Menu">
                     <i class="material-icons">people</i>
                     <span> &nbsp; CRM </span> 
                  </span>
                  <ul class="Menu_Tree_View">
                     <li class="Menu_Tree_List" [routerLink]="['/Crm_Customers_List']"><a> Customers </a></li>
                     <li class="Menu_Tree_List" [routerLink]="['/crm_machine_list']"><a> Machines </a></li>
                     <li class="Menu_Tree_List" [routerLink]="['/crm_ticket_list']"><a> Tickets </a></li>
                  </ul>
               </span>
            </li>
            <!-- Settings -->
            <li class="Menu_List" >
               <span class="Menu_Tree">
                  <span class="Menu">
                     <i class="material-icons">settings</i>
                     <span> &nbsp; Settings </span> 
                  </span>
                  <ul class="Menu_Tree_View">
                     <li class="Menu_Tree_List" [routerLink]="['/CRM_Settings']"><a> CRM Settings </a></li>
                     <li class="Menu_Tree_List" [routerLink]="['/Hr_Settings']" ><a> HR Settings </a></li> 
                     <li class="Menu_Tree_List" [routerLink]="['/User_Management']"><a> User Management  </a></li>
                  </ul>
               </span>
            </li>
            <!-- HR -->
             <!-- <li class="Menu_List" >
               <span class="Menu_Tree">
                  <span class="Menu">
                     <i class="material-icons">people</i>
                     <span> &nbsp; HR </span> 
                  </span>
                  <ul class="Menu_Tree_View">
                     <li class="Menu_Tree_List"  [routerLink]="['/List_Employees']"><a> Employees </a></li>
                     <li class="Menu_Tree_List"  [routerLink]="['/main_Attendance']"><a> Attendance </a></li>
                     <li class="Menu_Tree_List"  [routerLink]="['/Main_Payroll']"><a> Payroll </a></li>
                     <li class="Menu_Tree_List"  [routerLink]="['/Main_Payroll_Master']"><a> Payroll Master</a></li>
                  </ul>
               </span>
            </li> -->
         </ul>
         <ul *ngIf="Type !== 'Admin'" class="Menus">
            <li class="Menu_List" routerLinkActive="active" [routerLink]="['/Crm_Customers_List']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Customers </span> 
               </span>
            </li>
            <li class="Menu_List" routerLinkActive="active" [routerLink]="['/crm_machine_list']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Machines </span> 
               </span>
            </li>
            <li class="Menu_List" routerLinkActive="active" [routerLink]="['/crm_ticket_list']" style="outline:none;">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Tickets </span> 
               </span>
            </li>
         </ul>
      </div>
   </div>

