.Page_Section{
   position: relative;
   padding: 0px 2px;
   margin-top:100px;
 }
 /* --------------   Page Identity Section  ----------------- */
 .Page_Identity{
  display: flex;
  height:40px;
  width: 100%;
  margin-bottom: 5px;
}
.Page_Identity .Page_Name{
  width:50%;
}
.Page_Identity .Page_Name h5{
  color: #4f6a7a;
  line-height: 35px;
  font-size: 18px;
  margin: 0px;
  font-weight: 700;
}
.Page_Identity .Page_Track{
  width:50%;
  line-height: 35px;
}
.Page_Identity .Page_Track ul{
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  align-items: center;
  float: right;
}
.Page_Identity .Page_Track ul li {
  color: #a5adb1;
  font-size: 13px;
  font-weight: 500;
  margin-left: 5px;
}
.Page_Identity .Page_Track ul li.arrow{
  letter-spacing: -4px;
  font-size: 19px;
  transform: scale(.6, 1);
}
.Page_Identity .Page_Track ul li.arrowGreen{
  letter-spacing: -4px;
  font-size: 19px;
  transform: scale(.6, 1);
  color: #4ab65f;
}
.Page_Identity .Page_Track ul li.HeaderName{
  color: #4ab65f;
}
.Page_Identity .Page_Track ul li.LinkName{
  color: #4ab65f;
  cursor: pointer;
}




.Employee_Info_Section{
   line-height: 30px;
   background-color: #fff;
   border: 1px solid #fff;
   padding: 15px;
   box-shadow: 3px 3px 4px #bfb6b6;
   margin: 0px;
}
.Employee_Info_Section .BoxHeader{
   margin-bottom: 15px;
   font-weight: 700;
   font-size: 18px;
   color: #4f6a7a;
   letter-spacing: 0.3px;
   text-decoration: underline;
 }
.Employee_Details_Title h5{
   margin: 0px;
   line-height: 30px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   color: #4f6a7a;
   font-size: 15px;
}
.Employee_Details_Title h5 span{
   position: absolute;
   right: 0px;
}
.Employee_Details_Value h5{
   font-weight: 600;
   font-size: 14px;
   margin: 0px;
   line-height: 30px;
   color: rgba(82, 105, 121, 0.76);
   font-family: 'Open Sans', sans-serif;
}
.Employee_Details_Value h5 span{
   font-size: 13px;
   font-weight: 500;
   color: #4e6a7a94;
   letter-spacing: -0.5px;
   display: block;
   line-height: 12px;
   margin-bottom: 10px;
}
.Employee_Details_Value h5 a i{
   margin: 0px 10px;
    border: 2px solid rgba(128, 128, 128, 0.43);
    padding: 1px 5px;
    line-height: 15px;
    position: absolute;
    top: 5px;
}
.Employee_Details_Value .Grid{
   color: #4f6a7a;
    padding: 2px 4px;
    margin: 5px 2px;
    font-size: 15px;
    letter-spacing: 0.4px;
    border: 1px solid #4f6a7a;
    display: inline-flex;
    font-weight: 600;
    line-height: 22px;
}