<div class="Page_Section">
  <div class="container-fluid">
      <!-- Page Identity -->
      <div class="Page_Identity">
         <div class="Page_Name">
            <h5> EMPLOYEE VIEW</h5>
         </div>
         <div class="Page_Track">
            <ul >
               <li class="HeaderName">HR</li>
               <li class="arrow">>></li>
               <li class="LinkName" [routerLink]="['/List_Employees']">Employee List</li>
               <li class="arrow">>></li>
               <li> Employee View</li>
            </ul>
         </div>
      </div>
      <!-- Ticket Info  -->
      <!-- Loader -->
      <div [ngClass]="{'Hide': !Loader}" class="DataLoaderStyle_1">
         <div class="Loading">
            <div class="spinner">
               <div class="rect1"></div>
               <div class="rect2"></div>
               <div class="rect3"></div>
               <div class="rect4"></div>
               <div class="rect5"></div>
               <div class="rect6"></div>
            </div>
         </div>
      </div>
      <!-- Main Data -->
      <div class="LoadedDataStyle_1" [ngClass]="{'Show': !Loader}">
         <div class="Employee_Info_Section">
            <div class="row">
               <div class="col-sm-6">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Employee_Details_Title">
                           <h5>Employee Name <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Employee_Details_Value">
                           <h5>{{_Data['EmployeeName']}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Employee_Details_Title">
                           <h5> Employee Code <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Employee_Details_Value">
                           <h5>{{_Data['EmployeeCode']}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Employee_Details_Title">
                           <h5> Mobile Number <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Employee_Details_Value">
                           <h5>{{_Data['MobileNo']}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Employee_Details_Title">
                           <h5> Date Of Birth <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Employee_Details_Value">
                           <h5 >{{_Data['DateOfBirth'] | date:'d/M/yyyy'}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Employee_Details_Title">
                           <h5> Marital Status <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Employee_Details_Value">
                           <h5>{{_Data['MaritalStatus']}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Employee_Details_Title">
                           <h5> Job Title <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Employee_Details_Value">
                           <h5>{{_Data['JobTitle']}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Employee_Details_Title">
                           <h5> Joining Date <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Employee_Details_Value">
                           <h5>{{_Data['JoiningDate'] | date:'d/M/yyyy'}}</h5>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-sm-6">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Employee_Details_Title">
                           <h5> Address <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Employee_Details_Value">
                           <h5> {{_Data['Address']}}</h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Employee_Details_Title">
                           <h5> Created By <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Employee_Details_Value">
                           <h5 >{{_Data['Created_By']?.Name}} <span> ( {{_Data['createdAt'] | date:'medium'}} ) </span> </h5>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="Employee_Details_Title">
                           <h5>Last Modified By <span>:</span></h5>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="Employee_Details_Value">
                           <h5 >{{_Data['Last_Modified_By']?.Name}} <span> ( {{_Data['updatedAt'] | date:'medium'}} ) </span> </h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>