<!-- Ticket creates Form -->
<div class="page" style="margin-top:100px;">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Name">
            <h5>Support Tickets</h5>
         </div>
       </div>
       <!-- Ticket Details -->
      <div class="row">
         <div class="Ticket_Details">
            <h5 style="color:#49B660;font-size:20px;font-weight: 600;">Ticket <span style="color:#516570;font-size:20px;font-weight: 600;">Details</span></h5><br>
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-4 Form_Input" >
                     <input type="text" placeholder="Machine ">
                  </div>
                  <div class="col-sm-4 Form_Input" >
                     <input type="text" placeholder="Customer Name">
                  </div>
                  <div class="col-sm-4 Form_Input" >
                     <input type="text" placeholder="Ticket Id">
                  </div>
                  <div class="col-sm-4 Form_Select" >
                     <select>
                        <option checked> Ticket Types</option>
                        <option> Type-11</option>
                        <option> Type-11 </option>
                        <option> Type-11 </option>
                        <option> Type-11 </option>
                        <option> Type-11 </option>
                     </select>
                  </div>
                  <div class="col-sm-4 Form_Input" >
                     <input type="text" placeholder="Date"> 
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" style="margin-top:20px;"> 
         <div class="col-sm-12 text-right">
            <button mat-raised-button color="primary" > Submit </button>
         </div>
      </div>
   </div>
</div>


