.Main_Section{
    margin-top:100px;
}
.Page_Section{
    position: relative;
    padding: 0px 2px;
  }
  /* --------------   Page Identity Section  ----------------- */
  .Page_Identity{
   display: flex;
   height:40px;
   width: 100%;
   margin-bottom: 5px;
 }
 .Page_Identity .Page_Name{
   width:50%;
 }
 .Page_Identity .Page_Name h5{
   color: #4f6a7a;
   line-height: 35px;
   font-size: 18px;
   margin: 0px;
   font-weight: 700;
 }
 .Page_Identity .Page_Track{
   width:50%;
   line-height: 35px;
 }
 .Page_Identity .Page_Track ul{
   display: flex;
   list-style-type: none;
   padding: 0px;
   margin: 0px;
   align-items: center;
   float: right;
 }
 .Page_Identity .Page_Track ul li {
   color: #a5adb1;
   font-size: 13px;
   font-weight: 500;
   margin-left: 5px;
 }
 .Page_Identity .Page_Track ul li.arrow{
   letter-spacing: -4px;
   font-size: 19px;
   transform: scale(.6, 1);
 }
 .Page_Identity .Page_Track ul li.arrowGreen{
   letter-spacing: -4px;
   font-size: 19px;
   transform: scale(.6, 1);
   color: #4ab65f;
 }
 .Page_Identity .Page_Track ul li.HeaderName{
   color: #4ab65f;
 }
 .Page_Identity .Page_Track ul li.LinkName{
   color: #4ab65f;
   cursor: pointer;
 }









.Image_Section img{
   width: 100%;
   height: 143px;
    margin-left:10px;
    box-shadow: 2px 2px 8px #9a9292;
}
.Card {
    background: linear-gradient(229deg, #74da8b, #009e26);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    height: 100px;
}
.Card .Card_Body {    
    height: 70px;
    display: flex;
    align-items: center;
}
.Card .Card_Body .Card_Left {
    width: 25%;
    text-align: center;
}
.Card .Card_Body .Card_Left i {
    font-size: 25px;
    line-height: 85px;
}
.Card .Card_Body .Card_Left .account_balance{
    color:#D24330;
}
.Card .Card_Body .Card_Left .assignment{
    color:#049870;
}
.Card .Card_Body .Card_Left .add_shopping{
    color:#3957B5;
}
.Card .Card_Body .Card_Left .alarm{
    color:#AF1437;
}
.Card .Card_Body .Card_Right {
    text-align: center;
    width: 75%;
}
.Card .Card_Body .Card_Right h5 {
    color: #017f1e;
    font-size: 16px;
    line-height: 30px;
    margin: 0px;
}
.Card .Card_Body .Card_Right h6 {
    color: #ffffff;
    font-size: 16px;
}
.Card .Card_Footer {
    height: 35px;
    background-color: #017f1e;
    display: inline-block;
    width: 100%;
    align-items: center;
    padding: 0px 10px;
    line-height: 30px;
    text-align: center;
}
.Card .Card_Footer .Card_Info {
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
}

.card_bg_Liner_1{
    background: linear-gradient(229deg, #fd9a77, #fb827a) !important;
}
.card_bg_1{
    background-color: #d24330 !important;
}
.card_color_1{
    color: #d2432f !important;
}

.card_bg_Liner_2{
    background: linear-gradient(229deg, #8edead, #43c6ac) !important;
}
.card_bg_2{
    background-color: #049870 !important;
}
.card_color_2{
    color: #049870 !important;
}

.card_bg_Liner_3{
    background: linear-gradient(248deg, #348ac7, #7474bf);
}
.card_bg_3{
    background-color: #3957b5 !important;
}
.card_color_3{
    color: #3957b5 !important;
}

.card_bg_Liner_4{
    background: linear-gradient(67deg, #f15f79, #b24592);
}
.card_bg_4{
    background-color: #af1437 !important;
}
.card_color_4{ 
    color: #af1437 !important;
}
.customer_name{
    color: #546a79;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
}
span i{
    color:#49B660;
    padding: 5px;
}
.Create_Button{
    border-radius: 0px;
    color: #49B660;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.9px;
    cursor: pointer;
    float: right;
    margin-top: 5px;
    text-transform: capitalize;
}
.Menu_Bar .Menu{
   padding:0px;
   list-style-type:none;
   display:inline-flex;
   align-items: center;
   margin-left:0px;
   width:100%;
   height:35px;
   background-color: #516570;
   color: #fff;
   
}
.Menu_Bar .Menu li {
   border-right: 1px solid #3b4a52;
   display: block;
   width: 16.66%;
   height: 35px;
   line-height: 35px;
   text-align: center;
   font-size: 14px;
   letter-spacing: 0.5px;
   font-weight: 600;
   cursor: pointer;
}
.Menu_Bar .Menu li:hover{
   background-color:#49B660;
   color:#fff;
}
.Menu_Bar .Menu li.active {
    Background-color:#49B660;
}
.Menu_Bar .Menu li.active span{
    Background-color:#49B660;
    color:#fff;
}
.Menu_Bar .Menu li:last-child{
    border:none;
}
.Calender{
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.Log_Section{
    background-color: #ffffff;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.Log_Header {
    background-color: #06a92c;
    height: 40px;
}
.Log_Header h5 {
    line-height: 40px;
    text-align: center;
    color: #ffffff;
}
.Log_List ul {
    list-style-type: none;
    padding: 0px;
}
.Log_List ul li {
    border-bottom: 1px solid #efefef;
    background-color: #f3f3f3;
    padding: 0px 10px;
    height: 45px;
    padding: 5px 20px;
}
.Log_List ul li:nth-child(odd) {
    background-color: #ffffff;
}
.Log_List ul li h5 {
    margin: 0px;
    font-size: 15px;
    color: #888c90;
}
.Log_List ul li h6 {
    font-weight: 400;
    margin: 0px;
    color: #afadad;
    font-size: 12px;
}
