<div class="Modal_Content" *ngIf="Type && Type === 'Create'">
      <div class="Modal_Header">
        <p> Contact</p>
        <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <div class="Model_Body">
        <div class="row">
          <div class="col-sm-6 Form_Select">
            <label>Title:</label>
            <select>
               <option disabled> Mr</option>
               <option> Ms</option>
               <option>Mrs</option>
            </select>
          </div>
          <div class="col-sm-6 Form_Input">
            <label>Name:</label>
            <input type="text">
          </div>
          <div class="col-sm-6 Form_Input">
            <label>Contact Role:</label>
            <input type="text">
          </div>
          <div class="col-sm-6 Form_Input">
            <label>Email:</label>
            <input type="text">
          </div>
          <div class="col-sm-6 Form_Input">
            <label>Mobile:</label>
            <input type="text">
          </div>
         <div class="col-sm-6 Form_Input">
            <label>Job Position:</label>
            <input type="text">
          </div>
         </div>
      </div>
      <div class="Model_Footer">
        <button mat-raised-button color="primary"> Submit </button>
      </div>
    </div>
    <div class="Modal_Content" *ngIf=" Type && Type === 'View'">
      <div class="Modal_Header">
        <p>Contact</p>
        <span data-dismiss="modal" (click)="bsModalRef.hide()">&times;</span>
      </div>
      <div class="Model_Body">
        <div class="row">
          <div class="col-sm-6 text-right Static">Title: </div>
          <div class="col-sm-6 text-left Data"> Title</div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-right Static">Name: </div>
          <div class="col-sm-6 text-left Data"> Name</div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-right Static">Contact Role: </div>
          <div class="col-sm-6 text-left Data"> Contact Role</div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-right Static">Email: </div>
          <div class="col-sm-6 text-left Data"> sample@gmail.com</div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-right Static">Mobile: </div>
          <div class="col-sm-6 text-left Data"> +6546757657</div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-right Static">Job Position: </div>
          <div class="col-sm-6 text-left Data"> Job Position</div>
        </div>
      </div>
    </div>
